.che-toolbar
  flex-shrink 0

.che-toolbar a
  text-decoration none

.che-toolbar a:hover span
  text-decoration none

.che-toolbar a,
.che-toolbar md-icon,
.che-toolbar .che-toolbar-subheader,
.che-toolbar .che-toolbar-title-label
  color $white-color !important

.che-toolbar md-toolbar
  min-height 70px

.che-toolbar-breadcrumb
  white-space nowrap
  margin-top 0
  margin-left 10px
  font-size 1em

.che-toolbar-breadcrumb a
  text-decoration none

.che-toolbar-breadcrumb a:hover > span
  text-decoration underline

.che-toolbar-breadcrumb .che-toolbar-breadcrumb-title
  font-size 1em

.che-toolbar-breadcrumb .icon-breadcrumb
  font-size 38px
  margin-top 0
  margin-left 2px

.che-toolbar-header
  flex-wrap wrap

.che-toolbar-title
  min-width fit-content
  white-space nowrap
  font-size 1.6em
  margin-left 23px

.che-toolbar-title-icons
  margin-left 20px

.che-toolbar-title-icons md-icon
  font-size 32px
  height 34px
  width 34px
  margin-right 10px

.che-toolbar-button
  min-width fit-content
  font-size 14px
  margin-top -7px
  margin-bottom 10px
  margin-right 10px

.che-toolbar-button che-button-primary
  margin-left 15px

.che-toolbar-subheader
  margin-left 24px
  margin-top -12px
  margin-bottom 12px

.che-toolbar-subheader .chefont
  margin-top 2px
  margin-right 5px

.toolbar-switch
  margin-left 9px
  background-color transparent
  border none
  color $background-color

.toolbar-switch md-icon
  vertical-align inherit
