che-row-toolbar
  md-toolbar > *
    margin-right 15px
    .toolbar-info
      display inline-block
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    a
      padding-right 0
    .fa-chevron-right
      margin 0 10px 0 10px
      font-size 20px
      &::before
        position relative
        top 2px

    button, .che-button
      min-height 40px
      line-height 40px
