<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2012-2019 Red Hat, Inc.
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

    Contributors:
      Red Hat, Inc. - initial API and implementation

-->
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <contextListener class="org.eclipse.che.commons.logback.EnvironmentVariablesLogLevelPropagator"/>

    <property name="max.retention.days" value="60" />

    <jmxConfigurator/>

    <include optional="true" file="${che.local.conf.dir}/logback/logback-additional-appenders.xml"/>
    <include optional="true" file="${catalina.home}/conf/logback-additional-appenders.xml"/>
    <!--Include appenders file depending on the variable `CHE_LOGS_APPENDERS_IMPL` -->
    <include optional="false" file="${catalina.home}/conf/logback-${CHE_LOGS_APPENDERS_IMPL:-plaintext}-appenders.xml"/>

    <logger name="org.apache.catalina.loader" level="OFF"/>
    <logger name="org.apache.catalina.session.PersistentManagerBase" level="OFF"/>
    <logger name="org.apache.jasper.servlet.TldScanner" level="OFF"/>
</configuration>
