.template-selector
  max-height 400px

  //.templates-list
  //  max-height 400px
  //  overflow hidden
  //  overflow-y scroll

  .templates-list.che-list
    margin 0

    che-box-shadow()

  .template-selector-hidden-input
    display none
