.add-command-form
  min-width 520px
  max-width 80%

  .che-input-desktop-label
    margin-top 1px

  .che-input-desktop-label
    min-width 125px

  .form-input-fields
    margin 0

  .che-input
    min-height 38px

.add-command-form che-button-primary,
.add-command-form che-button-notice
  float right

  button
    margin-right 0
    margin-bottom 0
