.organization-error-content
  height 100%
  width 100%
  color $label-secondary-color

  .error-title
    font-size 12pt
    font-weight bold

  .error-image
    font-size 56pt
    margin 25px 0
    color $label-info-color

  .error-description
    font-size 11pt
    padding 0 20px
