.recipe-authoring
  margin-left 10px

  .recipe-editor
    min-width 500px
    max-width 1000px
    margin-top 20px

  .recipe-editor .CodeMirror
    border 1px solid $list-separator-color
    height 300px
    min-height 300px
    font-size 12px

  .recipe-docs-link
    margin-top 5px

  .che-label-container-row
    align-items center
