.stacks-list-header
  flex-wrap wrap

.stack-list
  border-bottom 1px solid $list-separator-color

.stacks-list-content
  margin 0

md-progress-linear.stack-list-progress
  height 10px

.header-column
  margin-left 12px
  text-transform uppercase
  color $frame-subscription-color

.sort-direction
  position relative
  text-align center
  display inline
  top 4px

.sort-direction *:first-child
  position relative
  top 3px

.sort-direction *::before
  font-size 20px
  color $menu-bg-color
