.stacks-list-content
  margin 0

  .devfile-selector-icon-column
    width 110px

  .devfile-selector-item-icon
    font-size 25px
    width 55px
    text-align center
    filter grayscale(100%) opacity(50%)

    img
      height 20px
      vertical-align inherit

    div
      width 42px

  che-editor
    width 100%
    margin-bottom 15px

md-progress-linear.stack-list-progress
  height 10px
