.che-machine-selector
  margin 20px 25px
  position relative
  min-width 720px
  .machines-list
    width 240px
    max-width 240px
    & > *
      position relative
    .arrow
      position absolute
      right 0
      top 50%
      z-index 10
      margin-top -11px
      border-width 11px
      border-left-width 0
      border-style solid
      border-color transparent
      border-right-color $box-border-color !important
      &:after
        position absolute
        content " "
        left -9px
        bottom -11px
        border-left-width 0
        border-width 11px
        border-style solid
        border-color transparent
        border-right-color $white-color !important

    toggle-single-button
      display inline-block
      margin-top 5px !important
      margin-bottom 5px !important
      button
        position relative
        width 205px
        max-width 205px
        min-height 42px
        padding-left 8px
        line-height 33px
        border-radius 2px
        float none
        display block
        text-align left
        text-overflow ellipsis
        overflow hidden
        md-icon.cheico-project
          float left
          line-height inherit
        md-icon
          padding 0
          min-width 30px
          text-align center
          &:before
            font-size 14px
      .toggle-single-button-title
        color $label-secondary-color
      .toggle-single-button-icon
        width 55px
        text-align center
        md-icon
          color $list-action-color
          display inline
          margin 0
          &:before
            position relative
            font-size 38px
            top 1px

    .machine-selector-label
      margin-bottom 5px
  .machine-selector-label
    display inline-block
    max-width inherit
    line-height 16px
    overflow hidden
    text-overflow ellipsis
    font-weight 700
    letter-spacing 1.3px
    color $label-secondary-color
    *
      outline none !important

  .machine-selector-content
    border-left 1px solid $box-border-color
    position relative
    display block
    min-height 250px
    margin-top 0
    max-width inherit
    border-top none
    border-bottom none
    border-right none
    div[ng-transclude]
      display block
      padding-top 0
      margin-left 44px
      .che-label-container-label
        position absolute
        label
          line-height 18px
      .che-label-container-content
        margin-top 16px
        button
          min-height 40px
    .machine-selector-label
      margin-bottom 10px
      margin-left 44px

    .warning-message
      margin-top 12px
      line-height 20px
