.edit-port-dialog-content

  .che-label-container:first-child
    margin-top 10px

  .che-label-container
    padding 0
    height 40px
    border-bottom none

    .che-label-container-label
      width 100px
      min-width 100px

  .che-input-desktop-value-column
    min-width 100%

  .edit-port-dialog-input
    margin -6px 0

  .edit-port-dialog-textarea
    margin -8px 0
