.admins-user-management
  .user-email,
  .user-description
    max-width 100%
  .user-description
    color $label-info-color
  .user-face
    che-developers-face()
    height 16px
    width 16px
    margin-right 5px

  .che-list-item
    outline none
    user-select none
    *
      outline inherit
