//TODO change colors
$item-enabled-color-bg = $default-dark-color
$item-enabled-color-fg = $white-color
$item-disabled-color-bg = $clear-foggy-sky-color
$item-disabled-color-fg = $stroke-color
$item-error-color-bg = $auth-error-color
$item-output-bg = $cat-gray-color
$item-output-fg = $dark-menacing-sky-color

che-button-primary#create-project-button-import button
  margin 30px 0 100px
  font-size 1.2em
  width 100% !important

.create-project-box md-icon
  font-size 24px

md-select.create-project-select
  width 100%
  margin-top 0
  margin-bottom 0

.projects-create-project > md-card:first-child .che-panel-content
  padding 0

.projects-create-project > md-card:first-child md-tabs-content-wrapper
  padding-left 24px
  padding-right 24px
  padding-bottom 25px

.create-project-progress-panel
  margin-left 24px
  margin-top 32px
  margin-bottom 10px
  margin-right 24px
  background-color #fff
  box-shadow 0 2px 6px 0 rgba(0, 0, 0, 0.4)

.create-project-header-button .che-button
  font-size 15px !important
  box-shadow 0 0 0 0 rgba(0, 0, 0, 0.26) !important

.create-project-minimize-icon
  font-size 40px
  cursor pointer
  outline none

.stack-label-info
  color $label-info-color
  margin-bottom 12px
  margin-top 7px

.create-project-progress-panel .che-loader-animation-panel
  border none !important

.create-project-working-log
  margin-top 35px

.create-project-download-logs-link
  margin-right 8px

.projects-create-project
  padding 0 14px

  md-tabs
    min-height 185px

  .che-label-container-content .create-project-input
    margin -6px 0

  .che-label-container-content .create-project-nested-container
    margin -25px 0

  .workspace-environment-name + div
    margin-top 8px

    .workspace-machine
      margin-left 45px

      .che-ram-allocation-slider .slider-wrapper
        margin-bottom -15px
