<md-menu md-offset="{{navbarDropdownMenuController.offset}}">
  <div class="navbar-dropdown-button" ng-transclude></div>
  <md-menu-content class="navbar-dropdown-menu {{navbarDropdownMenuController.externalCssClass}}" width="3">
    <md-menu-item ng-repeat="item in navbarDropdownMenuController.dropdownItems"
                  ng-if="!item.hidden"
                  ng-disabled="item.disabled"
                  ng-click="navbarDropdownMenuController.process(item)">
        <span class="navbar-click-area">
          <i ng-if="item.icon" class="navbar-dropdown-icon {{item.icon}}" aria-hidden="true"></i>
          {{item.name}}
        </span>
    </md-menu-item>
  </md-menu-content>
</md-menu>
