.edit-machine-form
  width 600px
  min-height 350px

  .form-input-fields
    max-width 600px
    margin-top 5px

    .che-input
      min-height 50px

    .ram-slider
      margin-top 5px

      .che-ram-allocation-slider
        width 100%
        max-width 100%

        .slider-actual-ram-caption,
        .slider-max-ram-caption,
        .md-input-has-value
          width 50px

          *
            width inherit
            white-space nowrap

    .che-label-description
      color $disabled-color
      font-size 10px
      margin-top 5px

    .che-codemirror-editor
      min-height 285px
      .CodeMirror
        display inline-block
        height 250px
        width 100%
        border 1px solid $list-separator-color
        .CodeMirror-gutter-wrapper
          left 0 !important
        .CodeMirror-linenumber
          margin-left -50px
        .CodeMirror-lint-marker-error
          margin-left -40px
        .CodeMirror-scroll
          margin-left -15px
        .CodeMirror-guttermarker-subtle
          display none

    .recipe-errors-container
      color $error-color
      min-height 25px

  che-button-primary, che-button-notice
    float right

    button
      margin-right 0
      margin-bottom 0
