che-toggle-button
che-toggle-button .md-button
  height 20px
  line-height 20px

che-toggle-button .md-button
  height 20px
  line-height 20px
  padding 0px 20px

che-toggle-button .md-button.md-default-theme
  background-color transparent
  color $primary-color
  che-border-radius(2px)
  border 2px solid $primary-color

che-toggle-button .md-button.md-default-theme md-icon
  color inherit

che-toggle-button .md-button.md-default-theme:not([disabled]):focus
  background-color transparent

che-toggle-button .md-button.md-default-theme.che-toggle-button-disabled
  background-color $background-color
  color $label-secondary-color
  border-color $form-element-border-color

che-toggle-button md-icon
  padding-right 10px
  font-size 20px
  width auto
  height auto

che-toggle-button .md-button.md-default-theme.che-toggle-button-disabled md-icon
  color $form-element-border-color
