che-toggle-button
che-toggle-button .md-button
  height 40px
  margin-right 20px

che-toggle-button .md-button.md-default-theme
  background-color transparent
  color $primary-color
  che-border-radius(3px)
  border 2px solid $primary-color

che-toggle-button .md-button.md-default-theme md-icon
  color inherit

che-toggle-button .md-button.md-default-theme:not([disabled]):focus
  background-color transparent

che-toggle-button .md-button.md-default-theme.che-toggle-button-disabled
  background-color $background-color
  color $label-secondary-color
  border-color $form-element-border-color

che-toggle-button md-icon
  padding-left 10px
  font-size 20px
  width auto
  height auto
  padding-right 22px

che-toggle-button .che-toggle-title
  padding-right 20px

che-toggle-button .md-button.md-default-theme.che-toggle-button-disabled md-icon
  color $form-element-border-color
