che-toggle-button
che-toggle-button .md-button
  height 20px
  line-height 20px

che-toggle-button .md-button
  height 20px
  line-height 20px
  padding 0 20px

che-toggle-button .md-button.md-default-theme
  color $primary-color
  che-border-radius(2px)
  border 2px solid $primary-color

  & > span
    text-transform none

che-toggle-button .md-button.md-default-theme md-icon
  color inherit

che-toggle-button .md-button.md-default-theme:not([disabled]):focus
  background-color transparent

che-toggle-button .md-button.md-default-theme.che-toggle-button-disabled
  border none
  color $primary-color
  background-color $background-color
  box-shadow inset 0 0 0 2px alpha($primary-color, 0.5)

che-toggle-button .md-button.md-default-theme:not([disabled]).che-toggle-button-enabled
  background-color $primary-color !important
  color alpha($che-white-color, 0.87) !important

che-toggle-button .md-button.md-default-theme.che-toggle-button-enabled:hover
  border-color $button-primary-hover-color
  background-color $button-primary-hover-color !important

che-toggle-button md-icon
  padding-right 10px
  font-size 20px
  width auto
  height auto

che-toggle-button .md-button.md-default-theme.che-toggle-button-disabled md-icon
  color $form-element-border-color
