<div>
  <md-button class="toggle-single-button"
             ng-class="{'toggle-single-button-disabled': !state}"
             ng-click="state = !state">
    <div layout="row" layout-align="start center">
      <div class="toggle-single-button-icon" layout="column" layout-align="center center">
        <md-icon md-font-icon="{{fontIcon}}" ng-if="fontIcon"></md-icon>
      </div>
      <div ng-class="{'toggle-single-button-singleline': !multilineTitle, 'toggle-single-button-multiline': multilineTitle}">
        <span class="toggle-single-button-title">{{title}}</span>
      </div>
    </div>
  </md-button>
</div>
