.list-commands
  *
    outline none !important

  .che-list
    margin-bottom 12px
    background-color inherit

  .che-list-item-details
    cursor auto

  .che-list-item-checkbox-main
    padding-left 0

  .md-button
    margin-left 0
    margin-right 0
    margin-top 18px
    filter none !important

  .command-item-row
    min-height 33px

  .che-list-header-content > *, .che-list
    margin 0

  .che-list-header md-item
    border-top none
