.member-list-row
  margin 0

  .che-list-actions a[disabled]
    pointer-events none
    opacity 0.5

.member-list-permissions
  overflow inherit !important
  text-overflow ellipsis
  white-space normal !important

.member-bold
  font-weight bold

.member-pending-icon
  height 16px
  margin-right 5px
  font-size 11pt
  opacity 0.6
  box-sizing content-box
  padding 1px
