
/* define a stylus function to use to define specific frame styles */

frame(bgcolor, textcolor)
  text-align center
  background-color bgcolor
  color textcolor
  che-border-radius(2px)
  padding-top 4px
  padding-bottom 4px
