<div class="che-logs-output">
  <div>
    <div class="che-logs-output-top-border"></div>
    <div></div>
  </div>
  <div>
    <div class="che-logs-output-front-side">
      <div>
        <div class="che-logs-output-title">
          <div>{{title}}</div>
        </div>
      </div>
      <div>
        <div class="che-logs-output-panel" che-auto-scroll ng-model="text">
          <div>
            <code che-format-output flex rows="5" ng-model="text">{{text}}</code>
          </div>
        </div>
      </div>
    </div>
    <div class="che-logs-output-right-border"></div>
  </div>
</div>
