$logs-output-init-height = 250px
$logs-output-init-width = 450px

$logs-output-border-thickness = 5px
$logs-output-border-angle = 45deg
$logs-output-height = $logs-output-init-height - $logs-output-border-thickness
$logs-output-width = $logs-output-init-width - $logs-output-border-thickness
$logs-output-title-height = 17px
$logs-output-text-offset-left = 3px

$output-height = $logs-output-height - $logs-output-title-height
$output-padding = 3px

.che-logs-output > div > div
    float left
.che-logs-output > div:last-child
    clear left

.che-logs-output
  .che-logs-output-top-border, .che-logs-output-front-side
    width $logs-output-width

.che-logs-output
  position relative
  height $logs-output-init-height
  width $logs-output-init-width


  .che-logs-output-top-border
    background-color $mouse-gray-color
    height $logs-output-border-thickness
    transform-origin bottom left
    transform skewX(-($logs-output-border-angle))

  .che-logs-output-right-border
    background-color $mouse-gray-color
    height $logs-output-height
    width $logs-output-border-thickness
    transform-origin top left
    transform skewY(-($logs-output-border-angle))

  .che-logs-output-front-side
    background-color $light-gray-color
    height $logs-output-height

    .che-logs-output-title
      height $logs-output-title-height
      padding-left 8px
      padding-top 3px
      font-size 0.8em

    .che-logs-output-panel
      position relative
      height ($output-height - 2 * $output-padding)
      margin $output-padding
      overflow auto

      div
        position absolute
        top 0
        left 0
        background-color $che-loader-logs-background-color
        width 100%
        min-height 100%
        padding 3px
        line-height 10px

        code
          font-family $che-logs-output-font
          font-size 0.7em
          background-color transparent
          color white
          margin 0
          margin-bottom -3px
          padding 0
          word-break break-word

          border none
          border-radius 0
