# Global Owners
* @vparfonov @l0rd @rhopp @nickboldt

# dashboard
dashboard/** @ashumilova @benoitf @l0rd @rhopp @nickboldt

# dockerfiles
dockerfiles/** @benoitf @l0rd @rhopp @nickboldt

# ide
ide/che-core-ide-stacks/** @ashumilova @l0rd @rhopp @nickboldt

# agents
agents/** @tolusha @l0rd @rhopp @nickboldt

# assembly
assembly/** @skabashnyuk @l0rd @rhopp @nickboldt
assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che/** @sleshchenko @ibuziuk @l0rd @rhopp @nickboldt

# core
core/** @skabashnyuk @l0rd @rhopp @nickboldt

# workspace runtime infrastructure implementations
infrastructures/** @sleshchenko @amisevsk @metlos @l0rd @rhopp @nickboldt

# multiuser che
multiuser/api/**  @sleshchenko @l0rd @rhopp @nickboldt
multiuser/integration-tests/**  @mshaposhnik @sleshchenko @l0rd @rhopp @nickboldt
multiuser/keycloak/**  @mshaposhnik @l0rd @rhopp @nickboldt
multiuser/machine-auth/**  @mshaposhnik @l0rd @rhopp @nickboldt
multiuser/permission/**  @sleshchenko @l0rd @rhopp @nickboldt
multiuser/personal-account/**  @sleshchenko @l0rd @rhopp @nickboldt
multiuser/sql-schema/**  @mshaposhnik @sleshchenko @l0rd @rhopp @nickboldt

# plugins
plugins/plugin*debugger/** @tolusha @l0rd @rhopp @nickboldt
plugins/plugin-gdb/** @tolusha @l0rd @rhopp @nickboldt
plugins/plugin-docker/** @sleshchenko @l0rd @rhopp @nickboldt
plugins/plugin-java/** @vparfonov @l0rd @rhopp @nickboldt
plugins/plugin-languageserver/** @vparfonov @dkuleshov @l0rd @rhopp @nickboldt
plugins/plugin-maven/** @vparfonov @l0rd @rhopp @nickboldt
plugins/plugin-orion/** @azatsarynnyy @l0rd @rhopp @nickboldt
plugins/plugin-testing*/** @vparfonov @l0rd @rhopp @nickboldt
plugins/plugin-traefik/** @benoitf @l0rd @rhopp @nickboldt

# wsmaster
wsmaster/** @skabashnyuk @l0rd @rhopp @nickboldt
wsmaster/che-core-api-factory/** @mshaposhnik @l0rd @rhopp @nickboldt
wsmaster/che-core-api-factory-shared/**   @mshaposhnik @l0rd @rhopp @nickboldt
wsmaster/che-core-api-workspace-activity/**   @mshaposhnik @l0rd @rhopp @nickboldt
wsmaster/che-core-api-workspace/**  @sleshchenko @mshaposhnik @metlos @l0rd @rhopp @nickboldt

# wsagent
wsagent/activity/** @skabashnyuk @l0rd @rhopp @nickboldt
wsagent/agent/** @tolusha @l0rd @rhopp @nickboldt
wsagent/che-core-api-debug*/** @tolusha @l0rd @rhopp @nickboldt
wsagent/che-core-api-languageserver*/** @vparfonov @dkuleshov @l0rd @rhopp @nickboldt
wsagent/che-core-api-testing*/** @vparfonov @l0rd @rhopp @nickboldt
wsagent/che-wsagent-core/** @skabashnyuk @l0rd @rhopp @nickboldt
wsagent/wsagent-local/** @skabashnyuk @l0rd @rhopp @nickboldt
wsagent/che-core-api-project/src/main/java/org/eclipse/che/api/search/server/** @skabashnyuk @l0rd @rhopp @nickboldt
wsagent/che-core-api-project/src/test/java/org/eclipse/che/api/search/** @skabashnyuk @l0rd @rhopp @nickboldt

# deploy
deploy/** @sleshchenko @l0rd @rhopp @nickboldt
deploy/openshift/templates/monitoring/** @skabashnyuk @metlos @l0rd @rhopp @nickboldt

# selenium tests
tests/legacy-e2e/** @musienko-maxim @dmytro-ndp @Ohrimenko1988 @l0rd @rhopp @nickboldt

# e2e tests
tests/e2e/**  @musienko-maxim @Ohrimenko1988 @l0rd @rhopp @nickboldt

# e2e tests infra
tests/.infra/centos-ci/** @musienko-maxim @l0rd @rhopp @nickboldt
tests/.infra/crw-ci/** @dmytro-ndp @l0rd @rhopp @nickboldt
