# Global Owners
* @nickboldt

# dockerfiles
dockerfiles/** @nickboldt

# e2e tests
tests/e2e/** @musienko-maxim @nickboldt @ScrewTSW @dmytro-ndp

# devworkspace happy path test
tests/devworkspace-happy-path/** @musienko-maxim
