.edit-variable-dialog-content

  div.che-label-container
    border-bottom none

    div.che-label-container-label
      min-width 100px
      width 100px

    div.che-input-desktop-value-column
      min-width 100%

      input, textarea
        width inherit

  .che-label-container:last-child
    padding-bottom 0

    button
      margin 0 0 0 10px

  .che-label-container
    padding 15px 0

  .edit-variable-dialog-input
    margin -6px 0

  .edit-variable-dialog-textarea
    margin -8px 0
