.che-toggle-popover
  border none

  & > *
    display inline-block

  .popover
    background-color #FBFBFB
    min-height 50px
    width calc(100% - 210px)
    min-width 500px
    max-width inherit
    //max-width 576px !important
    z-index 70

    .popover-content
      padding 0
