toggle-button-popover
  display inline-block
  border none

  button
    padding-left 9px !important
    border-radius 2px !important


    .toggle-single-button-icon
      width 35px !important
      min-width 35px !important

  .popover
    max-width 576px !important
