.edit-server-dialog-content
  margin-top 15px
  width 550px
  .che-input-box
    & > div
      max-width 550px
      min-height 60px
    label
      color $label-secondary-color !important
      font-weight 700 !important
      letter-spacing 1.3px
