.dashboard-last-projects md-icon
  font-size 24px
  height auto
  width auto
  color $label-info-color
  line-height 24px

.dashboard-last-projects md-list
  padding 0px

.dashboard-last-projects md-content
  padding 15px
