language: java

jdk:
  - oraclejdk7
  - oraclejdk8
branches:
  only:
    - master

cache:
  directories:
    - $HOME/.m2

env:
  global:
    - MAVEN_OPTS="-Xmx2G -XX:MaxPermSize=256m"
install: /bin/true
script: mvn clean install