.che-footer
  height 30px
  box-sizing content-box
  background-color $white-color
  border-top 1px solid $list-separator-color
  padding 0 10px
  min-height 30px

.che-footer-logo
  height 24px
  flex-shrink 0
  flex-grow 0

.che-footer-button
  padding 0 15px
  font-size 9pt
  cursor pointer
  height 18px
  color $white-color
  border-radius 2px

.che-footer a
  text-decoration none
  color $white-color

.che-footer-button-yellow
  background-color $che-logo-yellow-color
  margin-left 15px

.che-footer-button-yellow
  background-color darken($che-logo-yellow-color, 25%)

.che-footer-button-blue
  background-color $navbar-backgroud-color
  margin-left 15px

.che-footer-button-blue:hover
  background-color darken($navbar-backgroud-color, 20%)

.che-footer-input
  width 200px
  background-color inherit
  color $che-logo-blue-color
  box-shadow none
  border 1px solid $disabled-color
  che-border-radius(2px)
  height 18px
  line-height 18px
  outline none
  font-size 9pt
  padding 0 5px

.che-footer-input:hover
  background-color $light-gray-color
  border-color $stroke-color

.che-footer-input:focus
  background-color inherit
  border-color $che-logo-blue-color

.che-footer-input::-webkit-input-placeholder
  color $che-logo-blue-color
  font-size 9pt

.che-footer-input:focus::-webkit-input-placeholder
  color lighten($che-logo-blue-color, 80%)

.che-footer-input:-moz-placeholder
  /* Mozilla Firefox 4 to 18 */
  color $che-purple-color
  font-size 9pt

.che-footer-input:focus:-moz-placeholder
  color lighten($che-logo-blue-color, 80%)

.che-footer-input::-moz-placeholder
  /* Mozilla Firefox 19+ */
  color $che-purple-color
  font-size 9pt

.che-footer-input:focus::-moz-placeholder
  color lighten($che-logo-blue-color, 80%)

.che-footer-version
  color $stroke-color
  margin 0px 10px

.che-footer-version:before
  content "-"
  margin-right 10px
