<div class="che-footer"
     layout-gt-sm="row" layout-align-gt-sm="start center"
     layout-sm="column" layout-align-sm="center start"
     layout-xs="column" layout-align-xs="center start">

  <div class="che-footer-logo-row"
       flex
       flex-order-gt-sm="1" flex-order-sm="2" flex-order-xs="2"
       layout="row" layout-align="start center">
    <img class="che-footer-logo" id="footer-logo" ng-if="cheFooterController.logo" ng-src="{{cheFooterController.logo}}" alt="logo">
    <span class="che-footer-version" id="footer-version" ng-if="cheFooterController.version">{{cheFooterController.version}}</span>
    <div id="footer-space" flex></div>
  </div>

  <div class="che-footer-buttons-row"
       flex-order-gt-sm="2" flex-order-sm="1" flex-order-xs="1"
       layout="row" layout-align="start center">
    <ng-transclude id="footer-content"></ng-transclude>

    <a ng-if="cheFooterController.links.supportEmail"
      id="footer-email-wish"
      class="che-footer-button-blue che-footer-button"
      ng-href="{{'mailto:' + cheFooterController.links.supportEmail.reference + cheFooterController.getWishEmailSubject(cheFooterController.productName)}}"
      target="_blank">{{cheFooterController.links.supportEmail.title}}</a>

    <a ng-if="cheFooterController.links.email"
      ng-href="{{'mailto:' + cheFooterController.links.email.reference + cheFooterController.getEmailSubject(cheFooterController.email.subject)}}"
      class="che-footer-button-blue che-footer-button"
      id="footer-email">{{cheFooterController.links.email.title}}</a>

    <a ng-if="cheFooterController.links.docs"
      class="che-footer-button-blue che-footer-button"
      id="footer-docs"
      ng-href="{{cheFooterController.links.docs.reference}}"
      target="_blank">{{cheFooterController.links.docs.title}}</a>

    <a ng-if="cheFooterController.links.faq"
      class="che-footer-button-blue che-footer-button"
      id="footer-faq"
      ng-href="{{cheFooterController.links.faq.reference}}"
      target="_blank"
      rel="noopener noreferrer">{{cheFooterController.links.faq.title}}</a>

    <a ng-if="cheFooterController.links.supportPath"
      class="che-footer-button-blue che-footer-button"
      id="footer-support"
      ng-href="{{cheFooterController.links.supportPath.reference}}"
      target="_blank">{{cheFooterController.links.supportPath.title}}</a>

  </div>

</div>
