.stack-content
  padding 15px

  .workspace-environments
    padding 0

.stack-details-content
    padding 0 14px

    button
      margin 0 30px 0 0

    .stack-delete-label label
      color $che-delete-label-color

.stack-details-input
      margin 0 8px

.stack-editor, .stack-editor-footer
  min-width 500px
  max-width 1000px

.stack-editor
  margin 0 0 20px 8px

.stack-editor .CodeMirror
  border 1px solid $list-separator-color
  min-height 500px


.stack-tags md-chips
  margin 0
  padding 0
  box-shadow none
  border 1px solid $list-separator-color

  .md-chip,
  .md-chip-input-container
    height 18px
    line-height 18px
    display inline-block

    *
      display inherit
      height inherit !important
      line-height inherit !important

  .md-chip-input-container
    margin 5px !important
    font-size 13px

  md-chips-wrap.md-chips
    margin 0
    padding 5px
    box-shadow none

  .md-chip.md-focused .stack-library-text
    border-color $che-medium-blue-color

  .md-chip
    background-color $che-medium-blue-color
    border-radius 3px
    padding 0 !important
    font-weight bold
    font-size 11px
    margin 5px

    .md-chip-remove
      width 18px

      md-icon
        visibility hidden

    md-chip-template div
      display inline-block
      color $white-color

    md-chip-template .stack-library-text
      border none
      border-radius 3px
      padding 0 25px 0 11px

    md-chip-template .stack-library-btn
      position absolute
      border-left 1px solid $white-color
      font-size 14px
      padding 0 3px
      right 0

      .fa
        position relative
        bottom 1px

.stack-tags-reset
  padding 5px
  float right
  outline none
  cursor pointer
  text-align right
  user-select none
  color $che-medium-blue-color
