.stack-content
  padding 15px

.stack-details-content
    padding 0 14px

    button
      margin 0 30px 0 0

    .stack-delete-label label
      color $che-delete-label-color

.stack-details-input
      margin 0px 8px

.stack-editor, .stack-editor-footer
  min-width 500px
  max-width 1000px

.stack-editor
  margin 0px 0px 20px 8px

.stack-editor .CodeMirror
  border 1px solid $list-separator-color
  min-height 500px
