<che-toolbar che-title="{{stackController.stack ? stackController.stack.name : stackController.stackId}}"
             che-title-icons-controller="stackController"
             che-breadcrumb-title="All stacks"
             che-breadcrumb-href="#/stacks"
             che-subheader-title="{{stackController.stack.type}}">
</che-toolbar>
<md-progress-linear md-mode="indeterminate" ng-show="stackController.loading"></md-progress-linear>

<md-content md-scroll-y flex class="stack-content">

  <!-- Name -->
  <che-label-container che-label-name="Name">
    <div layout="column" class="stack-details-input">
      <ng-form flex layout="column" name="stackForm">
        <che-input che-form="stackForm"
                   che-name="name"
                   aria-label="Name of the stack"
                   che-place-holder="Name of the stack"
                   ng-model="stackController.stackName"
                   unique-stack-name="stackController.stack.name"
                   ng-change="stackController.updateStack(stackForm.$valid)"
                   required
                   ng-maxlength="128"
                   ng-pattern="/^[A-Za-z0-9_\s\-\.\+]+$/">
          <div ng-message="required">A name is required.</div>
          <div ng-message="pattern">The name should not contain special characters like dollar, etc.
          </div>
          <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
          <div ng-message="md-maxlength">The name has to be less than 128 characters long.</div>
          <div ng-message="uniqueStackName">This stack name is already used.</div>
        </che-input>
      </ng-form>
    </div>
  </che-label-container>

  <!-- Configuration -->
  <che-label-container che-label-name="Configuration">
    <div class="stack-editor">
      <textarea ui-codemirror="stackController.editorOptions"
                ng-model="stackController.stackJson"
                ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                ng-change="stackController.updateStackFromJson()"
                aria-label="Stack configuration editor">
      </textarea>
      <a target="_blank" ng-href="https://eclipse-che.readme.io/docs/stacks">Docs: Stack Structure</a>
    </div>
    <div layout="row" layout-align="start center" class="stack-editor-footer">
      <che-button-primary che-button-title="Save"
                          ng-click="stackController.saveStack()"></che-button-primary>
    </div>
  </che-label-container>

  <!-- stack's environment -->
  <che-label-container che-label-name="Machines">
    <workspace-environments ng-repeat="(environmentName, environmentValue) in stackController.stack.workspaceConfig.environments"
                            environment-name="environmentName"
                            workspace-config="stackController.stack.workspaceConfig"
                            machines-view-status="stackController.machinesViewStatus"
                            environment-on-change="stackController.saveStack()"></workspace-environments>
  </che-label-container>
  <!-- Commands -->
  <che-label-container che-label-name="Commands"
                       che-label-description="Commands define the commands available for workspace">
    <list-commands commands-on-change="stackController.saveStack()"
                   commands="stackController.stack.workspaceConfig.commands"></list-commands>
  </che-label-container>
  <!-- Category -->
  <che-label-container che-label-name="Category"
                       che-label-description="Define where the stack will be displayed for users.">
    <div layout="raw" flex="100" class="stack-category">
      <che-button-primary che-button-title="Ready-to-go"
                          ng-show="stackController.stack.scope === stackController.GENERAL_SCOPE"
                          ng-click="stackController.setStackScope(stackController.GENERAL_SCOPE)"></che-button-primary>
      <che-button-primary-flat che-button-title="Ready-to-go"
                               ng-show="stackController.stack.scope !== stackController.GENERAL_SCOPE"
                               ng-click="stackController.setStackScope(stackController.GENERAL_SCOPE)"></che-button-primary-flat>
      <che-button-primary che-button-title="Advanced"
                          ng-show="stackController.stack.scope === stackController.ADVANCED_SCOPE"
                          ng-click="stackController.setStackScope(stackController.ADVANCED_SCOPE)"></che-button-primary>
      <che-button-primary-flat che-button-title="Advanced"
                               ng-show="stackController.stack.scope !== stackController.ADVANCED_SCOPE"
                               ng-click="stackController.setStackScope(stackController.ADVANCED_SCOPE)"></che-button-primary-flat>
    </div>
  </che-label-container>
  <!-- stack's tags -->
  <che-label-container ng-if="stackController.stack && stackController.stack.tags"
                       che-label-description="Tags define the templates available for workspace."
                       che-label-name="Tags">
    <div layout="column" flex="100" class="stack-tags">
      <md-chips flex name="stack's tags"
                ng-model="stackController.stack.tags"
                md-transform-chip="stackController.handleTagAdding($chip)"
                md-on-add="stackController.saveStack()"
                md-on-remove="stackController.saveStack()"
                secondary-placeholder="Enter stack's tags">
        <md-chip-template>
          <div class="stack-library-text">{{$chip | uppercase}}</div>
          <div class="stack-library-btn">
            <i class="fa fa-close"></i>
          </div>
        </md-chip-template>
      </md-chips>
      <div flex>
        <div class="stack-tags-reset" data-ng-click="stackController.resetTags()">Reset</div>
      </div>
    </div>
  </che-label-container>
  <!-- Delete stack -->
  <che-label-container class="stack-delete-label"
                       ng-if="!stackController.isCreation"
                       che-label-name="Delete stack"
                       che-label-description="This is irreversible. This stack will not be available when creating a workspace.">
    <che-button-danger che-button-title="Delete"
                       ng-click="stackController.deleteStack()"></che-button-danger>
  </che-label-container>

</md-content>


<md-content ng-show="stackController.invalidStack">
  {{stackController.invalidStack}}
</md-content>
