.stack-content
  padding 15px

  .che-input-desktop-value-column
    width 100%

  & > .che-label-container:first-child
    padding-top 15px

  .list-commands .che-list-header-additional,
  .list-components .che-list-header-additional
    display none

.stack-details-input
  margin 0 8px

.stack-editor, .stack-editor-footer
  min-width 500px
  max-width 1000px

.stack-editor
  width 100%
  margin 0 0 20px 8px

.stack-editor .monaco-editor
  border 1px solid $list-separator-color
  min-height 500px
