.md-dialog-container md-dialog md-content:not([layout=row]) > *:first-child:not(.md-subheader)
  color $label-primary-color

.md-dialog-container md-dialog h2
    font-size 24px
    font-style normal
    font-weight normal

.md-dialog-container .md-button:not([disabled]).md-default-theme.md-primary
  color $primary-color

.md-dialog-container .md-button.ng-scope.md-default-theme
  color $label-primary-color

.md-dialog-container md-dialog
  box-shadow 0px 15px 12px 0 rgba(0, 0, 0, 0.22);
  border-radius 0px
