<div layout="column" class="config-import">
  <div class="config-editor">
    <che-editor editor-content="workspaceDevfileEditorController.devfileYaml"
                editor-state="editorState"
                on-content-change="workspaceDevfileEditorController.onChange()"
                editor-mode="text/x-yaml"
                editor-read-only="!!workspaceDevfileEditorController.editorReadOnly"
                required>
      <div ng-message="required">Devfile is required.</div>
    </che-editor>
  </div>
  <div layout="column">
    <div ng-if="workspaceDevfileEditorController.devfileValidationMessages.length>0">
      <div class="error-message"
          ng-repeat="errorMessage in workspaceDevfileEditorController.devfileValidationMessages">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <a ng-href="{{workspaceDevfileEditorController.devfileDocsUrl}}" target="_blank">Docs: Devfile Structure</a>
</div>

