.export-workspace-dialog
  width 700px
  max-width 700px

  .workspace-editor
    margin-top 15px
    width 700px

  .che-input:first-child
    margin-top 10px

  .progress-icon
    width 52px
    height 52px
    fill $primary-color
    margin-right 15px
