.export-workspace-dialog
  width 100%

  .workspace-editor
    margin-top 15px
    max-width 800px

  .che-input:first-child
    margin-top 10px

  .progress-icon
    width 52px
    height 52px
    fill $primary-color
    margin-right 15px
