<che-popup title="Export Workspace" on-close="exportWorkspaceDialogController.hide()">
  <div class="export-workspace-dialog">
      <md-tabs md-dynamic-height md-stretch-tabs="always" md-selected="selectedIndex" md-no-ink-bar>
        <md-tab>
          <md-tab-label>
            <span class="che-tab-label-title">As a File</span>
          </md-tab-label>
          <md-tab-body>
            <div layout="row" flex>
              <textarea flex class="workspace-editor"
                             ui-codemirror="exportWorkspaceDialogController.editorOptions"
                             ng-model="exportWorkspaceDialogController.exportConfigContent"></textarea>
            </div>
            <div layout="row" layout-align="end end">
              <che-button-default che-button-title="download"
                                  che-button-icon="fa fa-download"
                                  ng-click="exportWorkspaceDialogController.downloadConfig()"></che-button-default>
              <che-button-default che-button-title="clipboard"
                                  che-button-icon="fa fa-clipboard"
                                  clip-copy="exportWorkspaceDialogController.exportConfigContent"></che-button-default>
              <che-button-notice che-button-title="Close"
                                 ng-click="exportWorkspaceDialogController.hide()"></che-button-notice>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span class="che-tab-label-title">To Private Cloud</span>
          </md-tab-label>
          <md-tab-body>
            <ng-form flex layout="column" name="privateCloudForm">
              <che-input che-form="privateCloudForm"
                         che-name="url"
                         che-label-name="Host"
                         che-place-holder="URL of the remote cloud"
                         ng-model="exportWorkspaceDialogController.privateCloudUrl"
                         required>
                <div ng-message="required">An URL is required.</div>
              </che-input>
              <che-input che-form="privateCloudForm"
                         che-name="username"
                         che-label-name="Login"
                         che-place-holder="Username used to login on the remote cloud"
                         ng-model="exportWorkspaceDialogController.privateCloudLogin"
                         required
                         ng-maxlength="128">
                <div ng-message="required">A name is required.</div>
                <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
                <div ng-message="md-maxlength">The name has to be less than 128 characters long.</div>
              </che-input>
              <che-input che-form="privateCloudForm"
                         che-name="password"
                         che-label-name="Password"
                         che-place-holder="Password used to login on the remote cloud"
                         ng-model="exportWorkspaceDialogController.privateCloudPassword"
                         required
                         type="password"
                         ng-maxlength="128">
                <div ng-message="required">A password is required.</div>
                <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
                <div ng-message="md-maxlength">The name has to be less than 128 characters long.</div>
              </che-input>
            </ng-form>
            <div layout="row" layout-align="end end">
              <che-button-default che-button-title="export"
                                  che-button-icon="fa fa-cloud-upload"
                                  ng-disabled="privateCloudForm.$invalid || exportWorkspaceDialogController.importInProgress"
                                  ng-click="exportWorkspaceDialogController.exportToPrivateCloud()"></che-button-default>
              <che-button-notice che-button-title="Close"
                                 ng-click="exportWorkspaceDialogController.hide()"></che-button-notice>
            </div>
            <div layout="row" layout-align="start center" flex ng-if="exportWorkspaceDialogController.importInProgress">
              <div><md-icon md-svg-src="assets/images/loader.svg" class="progress-icon" aria-label="loader"></md-icon></div>
              <div ng-bind-html="exportWorkspaceDialogController.exportInCloudSteps"></div>
            </div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
  </div>
</che-popup>
