.github-create-project span
  margin-left 5px

.github-create-project
  cursor pointer

.create-project-github-panel
  margin 15px

.github-create-project .icons
  margin-right 20px

.github-create-project-select
  display block
  width 100%
  background-color #fafafa
  background-image none
  border 1px solid #e5e5e5
  border-radius 0
  -webkit-box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
  -webkit-transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
  transition border-color ease-in-out .15s, box-shadow ease-in-out .15s

.github-create-project-repository-name
  font-size 16px
  line-height 19px
  color $label-primary-color
  margin-bottom 3px

.github-create-project-repositories-list
  max-height 400px
  overflow auto
  margin 2px

.github-create-project-repository-details
  font-size 12px
  line-height 15px
  color $label-info-color

.github-create-project-icons
  color $label-info-color

.github-create-project-icon
  margin-left 10px

.github-create-project-search-component
  border-bottom $label-primary-color 1px solid
  margin-bottom 30px

.github-create-project-search-input
  border none
  outline none

.github-create-project-dropdown-component
  margin-bottom 27px

.github-create-project-github-button
  margin-top 10px
  button
    margin-left 0

.github-create-project-github-warningempty
  margin-bottom 10px
  color $label-info-color
