
.che-button-right-bottom
  position fixed
  bottom 0
  right 0
  margin 20px

.workspace-details-description
  color $disabled-color

.workspace-details-content button
  margin-left 0px

.workspace-details-content label
  width 120px
  margin-right 10px

.workspace-details-information button
  min-width 100px

.workspace-details-error-message
  margin-left 10px

.workspace-details-error-message-alignment
  width 108px
