.workspace-details-content
  md-tab-content
    padding 0 14px

  .config-import .config-editor
    margin-top 7px

    .CodeMirror
      height: 500px

  .workspace-details-tab-content

    .workspace-details-description
      color $disabled-color

    button
      margin 0 30px 0 0

    .workspace-status-indicator .fa-circle
      font-size 19px

    .namespace-button button
      margin 0 10px 10px 0

    span.workspace-status-text
      color lighten($che-ide-background-color, 40%) !important
      margin-bottom 4px
      margin-left 10px

    .workspace-restart-message
      color $disabled-color
      margin-top 15px

    .workspace-details-delete-label label
      color $che-delete-label-color

    .che-label-container-content

      .workspace-details-input
        margin -6px 0

      .workspace-details-action-buttons
        margin-top 20px
