.workspace-details-toolbar
  .workspace-status
    display inline
    font-size 19px
    margin-left 20px
    .fa-circle
      text-shadow none
  span.workspace-status-text
    color $menu-bg-color !important
    position relative
    bottom 2px
    font-size 13px
  che-button-default a
    background-color #00c183 !important

  workspace-warnings
    float right
    margin-left 20px

  .toolbar-info
    display flex

.workspace-details-content
  md-tab-content
    padding 0

  .config-import .config-editor
    margin-top 7px

    .CodeMirror
      height: 500px

  .workspace-details-tab-content

    .workspace-details-description
      color $disabled-color

    button
      margin 0 30px 0 0

    .workspace-status-indicator .fa-circle
      font-size 19px

    che-filter-selector
      line-height 33px;

    span.workspace-status-text
      color lighten($che-ide-background-color, 40%) !important
      margin-bottom 4px
      margin-left 10px

    .workspace-restart-message
      color $disabled-color
      margin-top 15px

    .workspace-details-delete-label label
      color $che-delete-label-color

    .che-label-container-content

      .workspace-details-input
        margin -6px 0

      .workspace-details-action-buttons
        margin-top 20px

  .che-list-add-button
    button
      padding-left 40px !important
      text-align right
      span
        font-size 12px
        font-weight bold
        text-transform none
        &:before
          position absolute
          display inline
          font-size 35px
          font-weight 100
          content "+"
          bottom 1px
          left 10px
