.stack-selector
  $stack-selector-list-header-border = lighten($very-light-grey-color, 4%)
  $stack-selector-list-header-background = lighten($very-light-grey-color, 28%)

  & *
    outline none

  .stack-selector-buttons-right
    & > *
      margin 0

    & > *:not(:first-child)
      margin-left 40px

    che-button-default

      .che-button.md-button
        padding-left 9px !important
        margin 0
        vertical-align middle

        md-icon
          font-size 28px

  toggle-button-popover.stack-selector-active-tags-filter toggle-single-button md-icon
    color $primary-color !important

  .stack-selector-list
    background-color $stack-selector-list-header-background
    border-top 1px solid $stack-selector-list-header-border
    border-radius 2px
    margin-top 20px

    & > div
      position relative
      margin-top 40px
      che-box-shadow()

      & > div
        overflow-y auto
        max-height 307px

      .che-list-header
        .che-list-header-additional
          display none
        .che-list-item-row
          margin -40px 0 0 0
        .che-list-header-column > *
          position absolute
          line-height 40px
          top -40px

      .che-list-content
        .stack-selector-item-icon
          line-height inherit

    .stack-selector-icon-column
      width 100px !important

    .stack-selector-stack-list
      margin 0

      .che-list
        margin 0

.stack-ram-offset
    padding-left 52px
