.che-list-header-additional-parts
  display block
  width 100%
  float left
  padding 15px 25px 15px 38px

  .che-list-header-additional-add-button,
  .che-list-header-additional-import-button
    float left

  .che-list-header-additional-delete-button,
  .che-list-header-additional-search
    float right

  .che-list-header-add-button *,
  .che-list-header-import-button *,
  .che-list-header-delete-button *
    font-size 12px
    font-weight bold
    text-transform none

  .che-list-header-search,
  .che-list-header-add-button > *,
  .che-list-header-import-button > *,
  .che-list-header-delete-button > *,
  .che-list-header-delete-button-disable-message
    min-width 36px
    min-height 36px
    line-height 33px
    margin-top 0
    margin-bottom 0
    border 1px solid $list-header-blue-color
    che-border-radius(2px)

  .che-list-header-import-button,
  .che-list-header-delete-button
    button
      padding-bottom 1px

  .che-list-header-add-button > *,
  .che-list-header-import-button > *
    margin-left 0
    margin-right 20px

  .che-list-header-delete-button > *
    margin-left 20px
    margin-right 0

  .che-list-header-add-button > *:hover,
  .che-list-header-import-button > *:hover,
  .che-list-header-delete-button > *:hover
    border 1px solid $list-header-button-hover-color
    background-color $list-header-button-hover-color !important

  .che-list-header-add-button > *,
  .che-list-header-import-button > *,
  .che-list-header-delete-button > *
    width auto
    padding-left 20px
    padding-right 20px
    background-color $list-header-blue-color
    box-shadow none !important
