.factory-from-template
  min-height  80px

  che-toggle che-toggle-button
    height inherit
    line-height inherit
    &:first-child
      margin-right 10px

  .CodeMirror
    margin-top 25px
    min-height 500px
    border 1px solid $list-separator-color
