<div ng-disabled="cheButtonDropdownCtrl.isDisabled"
     class="che-button-dropdown md-accent md-raised md-hue-2 md-button md-default-theme">
  <span class="che-button-click-area" ng-click="cheButtonDropdownCtrl.redirect(cheButtonDropdownCtrl.href)">{{cheButtonDropdownCtrl.labelText}}</span>
  <span class="che-button-dropdown-separator"></span>
  <md-icon class="che-button-dropdown-icon" ng-click="cheButtonDropdownCtrl.toggleDropDown()"
           ng-blur="cheButtonDropdownCtrl.disableDropDown()" md-font-icon="fa fa-caret-down"></md-icon>
  </md-button>
</div>
<div class="che-button-dropdown-elements" ng-show="cheButtonDropdownCtrl.showDropdown">
  <ul>
    <li ng-repeat="link in cheButtonDropdownCtrl.ctrl.links">
      <span class="che-button-click-area" ng-click="cheButtonDropdownCtrl.redirect(link.href)">
        {{link.name}}
      </span>
    </li>
  </ul>
</div>
