.workspace-item-row
  min-height 56px
  outline none
  cursor pointer

.workspace-item-name
  font-size 1em
  color $label-primary-color
  margin 5px 12px

.workspace-item-details
  font-size 12px
  margin 5px
  color $label-info-color
  text-align center

.workspace-item-temp
  color $label-info-color

.workspace-resources-locked
  background-color  $error-color
  color $white-color
  padding 5px 10px
  border-radius 5px

.workspace-consumed-value, .workspace-no-consumed-value
  font-size 12px
  font-weight bold

.workspace-consumed-value
  color #4e5a96

.workspace-no-consumed-value
  color $label-info-color


.workspace-list-details-arrow md-icon
  height 32px !important
  line-height 35px
  width 36px !important
  font-size 32px !important


.workspace-list-details-arrow button
  font-size 11px !important
