.che-list-actions .fa-plus-square-o:before
    position relative
    top .5px

.workspace-item-temp
  color $label-info-color
  line-height inherit
  font-size 16px
  margin 1px 5px

.workspace-resources-locked
  background-color $error-color
  color $white-color
  padding 5px 10px
  border-radius 5px

.workspace-consumed-value
  line-height initial
  font-size 12px
  font-weight bold
  color $che-medium-blue-color

.workspace-list-item-arrow md-icon
  height 32px !important
  line-height 35px
  width 36px !important
  font-size 32px !important

.workspace-list-item-arrow button
  font-size 11px !important
