IMAGE_INIT=${BUILD_ORGANIZATION}/${BUILD_PREFIX}-init:${BUILD_TAG}
IMAGE_CHE=${BUILD_ORGANIZATION}/${BUILD_PREFIX}-server:${BUILD_TAG}
IMAGE_CHE_MULTIUSER=${BUILD_ORGANIZATION}/${BUILD_PREFIX}-server-multiuser:${BUILD_TAG}
IMAGE_COMPOSE=docker/compose:1.10.1
IMAGE_TRAEFIK=traefik:v1.3.0-rc3
IMAGE_POSTGRES=centos/postgresql-95-centos7
IMAGE_KEYCLOACK=dfestal/keycloak-postgres-openshift:3.2.1.Final
