.get-started-toolbar
  .pf-l-level__item
    line-height 25px
  .pf-c-switch
    overflow hidden
  .temporary-storage-label
    vertical-align middle
    padding: 0 0 0 10px
    &.disabled-state
      color #737679

  .temporary-storage-tooltip
    vertical-align middle

    i
      color #737679
    i:hover
      color #151515
