.list-organization-invite-members
  *
    outline none !important

  md-radio-button
    margin-bottom 0 !important

  .che-list
    margin-bottom 12px
    background-color inherit

  .che-list-item-checkbox-main
    padding-left 0

  .md-button
    margin 0
    filter none !important

  .member-item-row
    min-height 33px

  .che-list-header-content > *, .che-list
    margin 0

  .che-list-header md-item
    border-top none

.list-organization-invite-members .permission-switcher
  overflow visible
  margin 0

.list-organization-invite-members-spacing
  margin-bottom 20px
