<div layout="column" flex class="create-project-stack-library">
  <div class="stack-label-info">Select from our library of stacks.</div>
  <div layout="row" flex="100">
    <che-stack-library-filter layout="row" flex
                              ng-model="createProjectStackLibraryCtrl.allStackTags">
    </che-stack-library-filter>
  </div>
  <div layout="row" flex layout-align="start start">
    <md-radio-group ng-model="createProjectStackLibraryCtrl.createChoice" ng-change="createProjectStackLibraryCtrl.onChoice()">
      <div layout="row">
        <div layout="column" flex="auto">

          <div layout="row" layout-wrap>
            <che-stack-library-selecter
              ng-repeat="stack in filteredStacks = (createProjectStackLibraryCtrl.stacks | stackSelectedStackFilter:createProjectStackLibraryCtrl.filteredStackIds) | orderBy:'name'"
              ng-init="$first && createProjectStackLibraryCtrl.setStackSelectionById(stack.id)"
              che-is-select="stack.id === createProjectStackLibraryCtrl.selectedStackId"
              che-is-active="true"
              che-title="{{stack.name}}"
              che-text="{{stack.description}}"
              che-extra-text="{{createProjectStackLibraryCtrl.getTooltip(stack)}}"
              che-stack-id="{{stack.id}}"/>
          </div>
        </div>
      </div>
    </md-radio-group>
  </div>
</div>
