<div layout="row">
  <che-button-primary-flat che-button-title="Export as a file"
                           ng-disabled="exportWorkspaceCtrl.workspaceExportDisabled"
                           ng-click="exportWorkspaceCtrl.showExport($event, 'file')"></che-button-primary-flat>
  <che-button-primary-flat che-button-title="Export to private cloud"
                           ng-disabled="exportWorkspaceCtrl.workspaceExportDisabled"
                           ng-click="exportWorkspaceCtrl.showExport($event, 'cloud')"></che-button-primary-flat>
</div>
