.demo-components
  md-tab-content
    padding 20px
    button[uib-popover-html], toggle-button-popover
      margin-left 210px
      margin-bottom 20px
      outline none !important
      & + button
        margin-left 70px
        outline none !important

    .demo-edit-overlay
      fieldset
        margin-top 20px

        legend
          font-size 1em
          font-weight bold

        label
          min-width 100px
