// navbar colors
$navbar-backgroud-color = #282E44
$navbar-active-menu-background-color = alpha($white-color, 20%)
$navbar-border-right-color = $black-color
$navbar-active-menu-mark-color = $che-logo-yellow-color
$navbar-menu-icon-color = #808B9C
$navbar-active-menu-icon-color = $light-gray-color
$navbar-menu-text-color = $mouse-gray-color
$navbar-menu-dark-text-color = $navbar-menu-icon-color
$navbar-active-menu-text-color = $light-gray-color
$navbar-section-title-color = #62687C
$navbar-ide-iframe-button-background-color = lighten($navbar-backgroud-color, 31%)
$navbar-ide-iframe-button-border-color = alpha($navbar-ide-iframe-button-background-color, 0.65)
