.get-started-template
  outline none
  margin 15px 0 0 15px
  padding 15px
  border 2px solid #ededed
  border-radius 2px
  display inline-block
  overflow hidden
  float left
  width 260px
  height 240px

  p
    max-width 100%
    overflow hidden
    text-overflow ellipsis
    white-space normal

.devfile-item-icon
    height 70px
    max-height 70px
    margin-bottom 10px

    img
      height inherit

  .display-name
    font-weight bold
    font-size 133%

  .description
    font-weight bold
