.get-started-template
  outline none
  margin 15px 0 0 15px
  padding 15px
  border 2px solid #ededed
  border-radius 2px
  display inline-block
  float left
  width 260px
  height 240px

  .devfile-item-icon
    width 70px
    height 70px
    overflow hidden
    margin-bottom 10px

    img
      height inherit

  .display-name
    font-weight bold
    font-size 133%

  .description
    font-weight bold
