md-tab-content .workspace-editors-page
  margin 0 25px

md-tab-content .workspace-editors-page:first-of-type
  margin-top 11px

md-tab-content .plugin-page-separator
  margin-left 25px
  margin-right 25px

.workspace-editors-page
  padding-top 55px
  .che-list-item-checkbox
    font-size 18px
    .fa-warning
      color $warning-color
      cursor pointer
  md-item
    border-top none
  .che-list-header-content
    *
      margin-left 0
      margin-right 0
    div.che-list-item-row
      min-height 47px
      line-height 47px
      background-color $cat-gray-color
      border 1px solid $very-light-grey-color
    .che-list-item-checkbox
      min-width 50px
      height inherit

  div.che-list-header-column
    line-height inherit
    .header-sort-direction
      position absolute

  .plugins-list
    margin-left 0
    margin-right 0
    margin-bottom 1px
    che-box-shadow()
  .plugins-list .plugin-item
    position relative
    background-color $che-white-color
    border 1px solid $very-light-grey-color
    border-top none
    *
      outline none
    md-item.che-list-item
      display block
      border none
    md-item-content
      display block
      border none
      md-switch
        margin 0
        overflow visible !important
      .che-list-item-row
        line-height 47px
        height 47px
        .che-list-item-checkbox
          min-width 50px
          height inherit
      & .md-checked
        div.md-thumb
          background-color rgb(74,144,226)
        div.md-bar
          background-color rgba(74,144,226,0.5)
      .che-version-dropdown
        width 80%
        white-space nowrap
        background #e4e4e4
        border-color transparent
