.navbar-notification-container
  position relative
  cursor pointer
  outline none
  margin-right 20px

.navbar-notification-container[disabled]
  pointer-events none

.navbar-notification-icon
  font-size 20px
  color $navbar-menu-icon-color

.navbar-notification
  width 350px
  min-height 50px
  height 100%
  margin 0px 20px

.navbar-notification:not(:last-of-type)
  border-bottom 1px solid $list-separator-color
  margin-bottom 10px

.navbar-notification-title
  margin 0px 0px 3px 0px
  padding 0px

.navbar-notification-title-error
  color $error-color

.navbar-notification-title-warning
  color $warning-color

.navbar-notification-title-info
  color $secondary-color

.navbar-notification-title-icon
  margin-right 15px
  font-size 18px

.navbar-notification-content
  margin 0px
  padding 0px
  word-wrap break-word
  white-space normal
  overflow hidden
  text-overflow ellipsis
  color $label-secondary-color
  padding-bottom 10px

.navbar-notification-count
  font-size 8pt
  background-color $error-color
  border-radius 6px
  width 12px
  height 12px
  text-align center
  line-height 12px
  position absolute
  right -2px
  top 0px


