<md-menu md-offset="40 25">
  <div ng-click="$mdOpenMenu($event)" class="navbar-notification-container" ng-disabled="navbarNotificationController.getNotificationsCount() === 0">
    <i class="fa fa-bell-o fa-2x navbar-notification-icon"></i>
    <div class="navbar-notification-count" ng-if="navbarNotificationController.getNotificationsCount() > 0">
      {{navbarNotificationController.getNotificationsCount()}}
    </div>
  </div>
  <md-menu-content>
    <md-menu-item layout="column" class="navbar-notification" ng-repeat="notification in navbarNotificationController.getNotifications()">
      <div class="navbar-notification-title-{{notification.type}} navbar-notification-title" layout="row" layout-align="start center">
        <i ng-if="!notification.icon"
           ng-class="{'fa-exclamation-triangle' : (notification.type === 'warning' || notification.type === 'error'), 'fa-info-circle': notification.type === 'info'}"
           class="fa  fa-2x navbar-notification-title-icon"></i>
        <i ng-if="notification.icon" class="fa {{notification.icon}} fa-2x navbar-notification-title-icon"></i>
        <div>{{notification.title}}</div>
      </div>
      <div class="navbar-notification-content">
        {{notification.content}}
      </div>
    </md-menu-item>
  </md-menu-content>
</md-menu>


