.project-type-icon
  padding 10px 0
  width 100%

.project-type-icon md-icon
  margin 0px 24px
  height 36px !important
  line-height 36px
  width 36px !important
  font-size 36px !important
  color $label-secondary-color

.project-list-static-icon
  flex 0 1 100px
  text-align center
  padding-right 0

.project-list-row
  min-height 56px
  margin-left 10px
  margin-right 0
  cursor pointer

.project-list-row > div
 display flex
 outline none

.project-list-row > p
  margin 0
  width 100%
  text-align end
  display inline-block

.project-name
  font-size 1em
  line-height 19px
  color $label-primary-color
  margin-bottom 3px

.project-name a
  text-decoration none
  color inherit

.project-name a:hover
  color inherit

.project-details
  font-size 0.8em
  line-height 15px
  color $label-info-color

.project-details-icon
  font-size 24px
  color $label-info-color

.project-list-details-arrow md-icon
  height 32px !important
  line-height 35px
  width 36px !important
  font-size 32px !important


.project-list-details-arrow button
  font-size 11px !important
