<div>
  <md-tabs md-dynamic-height md-no-ink-bar="true"
           md-stretch-tabs="auto" md-no-ink-bar
           md-selected="workspaceSelectStackCtrl.selectedTabIndex">
    <md-tab md-on-select="workspaceSelectStackCtrl.setStackTab('ready-to-go')">
      <md-tab-label>
        <span class="che-tab-label-title">Ready-to-go Stacks</span>
      </md-tab-label>
      <md-tab-body>
        <ready-to-go-stacks che-tab-name="ready-to-go"></ready-to-go-stacks>
      </md-tab-body>
    </md-tab>
    <md-tab md-on-select="workspaceSelectStackCtrl.setStackTab('stack-library')">
      <md-tab-label>
        <span class="che-tab-label-title">Stack library</span>
      </md-tab-label>
      <md-tab-body>
        <create-project-stack-library che-tab-name="stack-library"></create-project-stack-library>
      </md-tab-body>
    </md-tab>
    <md-tab md-on-select="workspaceSelectStackCtrl.setStackTab('stack-import')">
      <md-tab-label>
        <span class="che-tab-label-title">Stack import</span>
      </md-tab-label>
      <md-tab-body>
        <che-workspace-recipe-import ng-if="workspaceSelectStackCtrl.tabName==='stack-import'"
                                     che-recipe-url="workspaceSelectStackCtrl.recipeUrl"
                                     che-recipe-format="workspaceSelectStackCtrl.recipeFormat"
                                     che-recipe-change="workspaceSelectStackCtrl.onRecipeChange('stack-import', recipeFormat, recipeUrl, recipeScript)"></che-workspace-recipe-import>
      </md-tab-body>
    </md-tab>
    <md-tab md-on-select="workspaceSelectStackCtrl.setStackTab('stack-authoring')">
      <md-tab-label>
        <span class="che-tab-label-title">Stack authoring</span>
      </md-tab-label>
      <md-tab-body>
        <che-workspace-recipe-authoring ng-if="workspaceSelectStackCtrl.tabName==='stack-authoring'"
                                        che-recipe-script="workspaceSelectStackCtrl.recipeScript"
                                        che-recipe-format="workspaceSelectStackCtrl.recipeFormat"
                                        che-recipe-change="workspaceSelectStackCtrl.onRecipeChange('stack-authoring', recipeFormat, recipeUrl, recipeScript)"></che-workspace-recipe-authoring>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
