.edit-volume-dialog-content
  margin-top 15px
  width 550px
  .che-input-box label
    color $label-secondary-color !important
    font-weight 700 !important
    letter-spacing 1.3px
  .che-label-container div.che-label-container-label, .che-input-box label
    min-width 100px
    max-width 100px
    width 100px
  .che-label-container
    margin 0
    min-height 40px
    border-bottom none
    .che-label-container-label-name
      line-height 68px
    & + div
      margin-top 20px
    div.che-input-desktop-value-column
      min-width 100%
      .fa-pencil:before
        position relative
        top 5px
  .che-label-container
    padding 0
    .che-input-desktop
      margin 0
      textarea
       resize none
       width 100%
       outline none
       box-shadow none
       overflow-x auto
       background-color $che-white-color
       border 1px solid $default-border-color
       padding 9px 15px 9px 15px
       border-radius 2px
       height 70px
       max-height 70px
       max-width 550px
       &[required].ng-invalid:focus::-webkit-input-placeholder
        color $error-color
       &[required].ng-invalid:focus::-moz-placeholder
        color $error-color
       &:focus
        border-color $primary-color
       &.ng-invalid:focus
        border-color $error-color

  .edit-volume-path
    .che-input-desktop-value-column .fa-pencil
      display none
    .che-label-container-content
      height 75px
    .che-label-container-label-name
      line-height inherit
      margin 1px 0
