<md-card layout="column" class="che-simple-selector"
         ng-init="cheSimpleSelecterCtrl.initValue()"
         ng-click="cheSimpleSelecterCtrl.select(cheSimpleSelecterCtrl.name, cheSimpleSelecterCtrl.title, cheSimpleSelecterCtrl.value)"
         ng-class="{'che-simple-selector-active' : '{{cheSimpleSelecterCtrl.title}}' == cheSimpleSelecterCtrl.getSelected()}">
  <div layout="row">
    <div class="selector-icon" ng-class="{'chefont cheico-type-blank' : !cheSimpleSelecterCtrl.iconSrc}">
      <img ng-if="cheSimpleSelecterCtrl.iconSrc" src="{{cheSimpleSelecterCtrl.iconSrc}}"/>
    </div>
    <div flex="70" class="title">{{cheSimpleSelecterCtrl.title}}</div>
  </div>
  <div class="description">{{cheSimpleSelecterCtrl.description}}</div>
</md-card>
