<div class="che-workspace-button">
  <che-button-default ng-if="showStopButton===false"
                      id="run-workspace-button"
                      ng-disabled="buttonDisabled || isDisabled"
                      che-button-title="Run"
                      ng-click="onRunWorkspace()"></che-button-default>
  <che-button-default ng-if="showStopButton"
                      id="stop-workspace-button"
                      ng-disabled="isDisabled"
                      che-button-title="Stop"
                      ng-click="onStopWorkspace()"></che-button-default>
</div>
