.che-workspace-button

  che-button-default button
    margin 0 !important

  che-button-default
    button.md-accent.md-raised.md-hue-2.md-button.md-chedefault-theme
      min-width 72px
      background-color alpha($label-secondary-color, 0.95) !important
