.tooltip
  opacity 1

.tooltip.top .tooltip-arrow
  border-top-color $tooltip-border-color !important
  bottom 1px

.tooltip.left .tooltip-arrow
  border-left-color $tooltip-border-color !important
  right 1px

.tooltip.right .tooltip-arrow
  border-right-color $tooltip-border-color !important
  left 1px

.tooltip.bottom .tooltip-arrow
  border-bottom-color $tooltip-border-color !important
  top 1px

.tooltip .tooltip-inner
  padding 8px 16px 8px 16px
  background $tooltip-background-color
