.che-text-info-mobile > div
  color $label-secondary-color

.che-text-info-mobile span,
.che-text-info-desktop span
  display inline-block
  padding-bottom 5px
  border-width 0 0 1px 0
  border-bottom-style solid
  border-color $default-border-color

.che-text-info-mobile span label,
.che-text-info-desktop span label
  margin-bottom 0

.che-text-info-mobile
  margin-left 0
  width 100%

.che-text-info .copy-clipboard
  float right
  font-size 18px
  margin-left 2px
  color $disabled-color

.che-text-info-desktop > label
  white-space nowrap

.che-text-info-subline .che-text-info-desktop
  margin-left 15%
  width 85%
