che-flat-button-style()
  che-border-radius(2px)
  font-size 1em
  width auto
  height 30px
  padding-left 15px
  padding-right 15px
  text-transform initial
  font-weight normal

che-button-style()
  che-flat-button-style()
  box-shadow-simple()

che-button-danger, che-button-warning, che-button-primary, che-button-default
  width fit-content

che-button-danger .md-button.md-danger-theme.md-hue-3.md-accent.md-raised, che-button-danger .md-button.md-danger-theme.md-hue-3.md-accent.md-raised
  che-button-style()

che-button-warning .md-button.md-warning-theme.md-hue-3.md-accent.md-raised
  che-button-style()

che-button-default button.md-accent.md-raised.md-hue-2.md-button.md-chedefault-theme
  che-button-style()

che-button-default .md-button.md-accent.md-raised.md-hue-2.md-button.md-chedefault-theme
  che-button-style()

che-button-notice .md-button.md-accent.md-raised.md-hue-2.md-button.md-chenotice-theme
  che-button-style()

che-button-primary .md-button.md-default-theme.md-hue-2.md-accent.md-raised, che-button-primary .md-button.md-maincontent-theme-theme.md-hue-2.md-accent.md-raised
  che-button-style()

che-button-primary
  button.md-button.che-button.md-accent.md-default-theme.md-hue-2[disabled]
    background-color rgba(0, 0, 0, 0.12) !important
    position relative
    border-color rgba(128,128,128,0.12);
    cursor default

    span
      color $label-info-color !important

che-button-primary-flat .md-button.md-default-theme.md-hue-2.md-accent, che-button-primary-flat .md-button.md-maincontent-theme-theme.md-hue-2.md-accent
  che-flat-button-style()
  box-shadow inset 0 0 0 2px $che-button-primary-flat-shadow-color

che-button-primary-flat .md-button.che-button.md-accent.md-hue-2.md-default-theme[disabled]
  box-shadow inset 0 0 0 2px $che-button-primary-flat-disabled-shadow-color

che-button-save-flat .md-accent.md-raised.md-button.md-chesave-theme
  che-flat-button-style()
  text-transform uppercase
  font-weight bold
  box-shadow none

che-button-cancel-flat .md-button.md-checancel-theme.md-hue-2.md-accent
  che-flat-button-style()
  color darken($very-light-grey-color, 25%)
  box-shadow inset 0 0 0 2px darken($very-light-grey-color, 10%)

.che-button md-icon
  display inherit
  font-size 26px
  margin-top -6px
  margin-right 10px

che-button-danger:not([disabled]) .md-button:hover,
che-button-notice:not([disabled]) .md-button:hover,
che-button-warning:not([disabled]) .md-button:hover,
che-button-default:not([disabled]) .md-button:hover,
che-button-save-flat:not([disabled]) .md-button:hover,
che-button-cancel-flat:not([disabled]) .md-button:hover,
che-button-primary:not([disabled]) .md-button:hover
  che-brightness(90%)

che-button-danger,
che-button-notice,
che-button-warning,
che-button-default,
che-button-save-flat,
che-button-cancel-flat,
che-button-primary
  button.md-button.che-button[disabled] span
    pointer-events none
