.che-edit-mode-overlay
  position relative
  bottom 0
  left 0
  right 0
  background-color lighten($mouse-gray-color, 10%)
  height 50px
  border-top 1px solid $very-light-grey-color
  border-bottom 1px solid $very-light-grey-color

  button
    margin 0 20px 0 0

  .che-edit-mode-overlay-message
    width 100%
    margin-right 20px
    text-align center
    color darken($dark-menacing-sky-color, 27%)
