.edit-machine-name-dialog-content

  .che-label-container
    padding 0
    margin-top 10px
    margin-bottom 10px
    border-bottom none

    .che-label-container-label
      width 100px
      min-width 100px
      line-height 30px

  .che-input-desktop-value-column
    min-width 100%
