.workspaces-list-header
  flex-wrap wrap

.workspace-list-content
  margin 0

md-progress-linear.workspaces-list-progress
  height 10px

.workspace-resources-locked
  background-color red

.che-list che-workspace-item:not(:last-of-type) .che-list-item
  border-bottom 1px solid $list-separator-color

.header-column
  margin-left 12px
  text-transform uppercase
  color $frame-subscription-color

.sort-direction
  position relative
  text-align center
  display inline
  top 4px

.sort-direction *:first-child
  position relative
  top 3px

.sort-direction *::before
  font-size 20px
  color $menu-bg-color
