.add-package-popover
  .che-list-add-button button
    margin 0

  .che-toggle-popover .popover
    top 40px !important

    .arrow
      top 20px !important

.add-package-popover
  md-divider
    border-top-color $box-border-color !important
    margin 20px 0

  .popover
    width 600px
    padding 20px
