.packages-page
  margin-top 0
  .che-list-header-additional-parts
      padding-left 0
      padding-right 0
      padding-bottom 10px
    md-item
      border-top none
    .che-list-header-content
      *
        margin-left 0
        margin-right 0
      div.che-list-item-row
        min-height 47px
        line-height 47px
        background-color $cat-gray-color
        border 1px solid $very-light-grey-color
      .che-list-item-checkbox
        min-width 50px
        height inherit

  div.che-list-header-column
    line-height inherit
    .header-sort-direction
      position absolute

  .packages-list
    margin-left 0
    margin-right 0
    margin-bottom 1px
    che-box-shadow()
  .packages-list .package-item
    position relative
    background-color $che-white-color
    border 1px solid $very-light-grey-color
    border-top none
    *
      outline none
    md-item.che-list-item
      display block
      border none
    md-item-content
      display block
      border none
      md-switch
        margin 0
        overflow visible !important
      .che-list-item-row
        line-height 47px
        height 47px
        .che-list-item-checkbox
          min-width 50px
          height inherit
