.machine-volumes
  margin-top 0
  .warning-message
    margin-top 10px
    line-height 20px
  .che-list-header
    .che-list-header-additional
      padding-left 0
      padding-right 0
      padding-bottom 10px
      .che-button
        line-height 40px
        min-height 40px
        margin-top 0

    md-item
      border-top none
    .che-list-header-content
      *
        margin-left 0
        margin-right 0
      div.che-list-item-row
        min-height 47px
        line-height 47px
        background-color $cat-gray-color
        border 1px solid $very-light-grey-color
      .che-list-item-checkbox
        min-width 50px
        height inherit

        md-checkbox
          top 0
          margin 0

          div.md-container
            left calc(50% - 10px)

  div.che-list-header-column
    line-height inherit
    .header-sort-direction
      position absolute
    &:last-child
      display block
      text-align right
      span
        padding-right 25px
  .machine-volume-list
    margin-left 0
    margin-right 0
    margin-bottom 1px
    che-box-shadow()
  .machine-volume-list .machine-volume-item
    position relative
    background-color $che-white-color
    border 1px solid $very-light-grey-color
    border-top none
    *
      outline none
    md-item.che-list-item
      display block
      border none
    md-item-content
      display block
      border none
      md-checkbox[disabled] div.md-icon
        border none
      md-switch
        overflow visible !important
      .che-list-item-row
        line-height 47px
        height 47px
        .che-list-item-checkbox
          min-width 50px
          height inherit
          md-checkbox
            top 0
            margin 0
            div.md-container
              left calc(50% - 10px)
    div.che-list-item-name
      display inline-grid

    .machine-volume-actions
      filter grayscale(100%) opacity(50%)
      min-width 120px
      & > *
        margin-right 12px
        & > *
          text-align center
          min-width 35px
          cursor pointer
          font-size 18px
          .fa
            position relative
            top 2px
