.workspace-status-indicator

  .workspace-status-indicator-circle span
    width 20px
    text-shadow: 0 0 1px #000

  .workspace-status-indicator-text
    padding-left 20px
    color $label-info-color !important
