.workspace-status-indicator-circle
  span
    width 20px
    text-shadow: 0 0 1px #000

  .workspace-status-stopped
    color #d3d3d3

  .workspace-status-paused
    color #ecab00

  .workspace-status-running
    color #46af00

  .workspace-status-spinner .spinner
    width 20px
    height 20px
    font-size 8px

    div
      width 2px
      border-radius 0
      margin-right 2px

  .workspace-status-error
    color #e22812

  .workspace-status-default
    color #d3d3d3

.workspace-status-indicator-text
  padding-left 20px
  color $label-info-color
