.workspace-status-indicator-circle
  span
    text-shadow: 0 0 1px #000

  .workspace-status-stopped
    color #d3d3d3

  .workspace-status-paused
    color #ecab00

  .workspace-status-running
    color #46af00

  .workspace-status-starting, .workspace-status-stopping
    color #5f8ae6

  .workspace-status-error
    color #e22812

  .workspace-status-default
    color #d3d3d3

.workspace-status-indicator-text
  padding-left 20px
  color $label-info-color
