.project-repositories
  font-size inherit

.project-repositories .empty-repository
  height calc(100vh - 180px)

.project-repositories .label-name
  margin-right 10px
  width 100px
  overflow hidden
  text-overflow ellipsis

.project-repositories .repository-mobile,
.project-repositories .repository-desktop
  position relative

