<che-popup title="Cannot clone the repository" on-close="addSecretKeyNotificationController.hide()">
  <div>
    <div class="ssh-key-notification">
      This repository requires an SSH key that is not configured: <b>{{addSecretKeyNotificationController.repoURL}}</b>.
    </div>
    <che-button-notice che-button-title="Close"
                       ng-click="addSecretKeyNotificationController.hide()">
    </che-button-notice>
    <che-button-primary che-button-title="Generate Key"
                        ng-click="addSecretKeyNotificationController.redirectToConfig()"
                        ng-disabled="!addSecretKeyNotificationController.workspace">
    </che-button-primary>
  </div>
</che-popup>
