.add-ssh-key-notification
  margin 5px

.add-ssh-key-notification h1, .add-ssh-key-notification h2, .add-ssh-key-notification h3
  margin 0 0 20px

.add-ssh-key-notification p
  margin 0 0 5px

.add-ssh-key-notification .dialog-content
  margin 24px 24px 12px 24px

.add-ssh-key-notification che-button-primary,
.add-ssh-key-notification che-button-notice
  float right
