che-popup
  display inline-block

.che-popup
  background-color inherit

  .che-popup-header
    font-size 16px
    line-height 35px
    background-color $table-header-color

    div:first-child
      text-align left
      margin-left 24px
      font-weight 100

    div:last-child
      margin-right 24px
      text-align center
      cursor pointer
      outline none

      &:hover i.fa
        color $label-secondary-color

      .fa
        font-size 16px
        color rgba($label-secondary-color, 0.8)

  .che-popup-body
    min-width 500px
    margin 5px 24px 24px 24px

    che-button-default,
    che-button-primary,
    che-button-notice
      float right

    .che-button
      float none
      margin-right 0
      margin-bottom 0
