.che-popup
  background-color inherit

  .che-popup-header
    font-size 16px
    line-height 35px
    background-color $table-header-color

    div:first-child
      text-align left
      margin-left 24px
      font-weight 100

    div:last-child
      margin-right 24px
      text-align center
      cursor pointer
      outline none

      &:hover i.fa
        color $label-secondary-color

      .fa
        font-size 16px
        color rgba($label-secondary-color, 0.8)

  .che-popup-body
    margin 5px 24px 24px 24px
