.factory-information-panel-item:not(:last-child)
  margin-bottom  10px

.factory-information .che-label-container-content .factory-information-input
  margin-top -6px

.factory-information .disabled-state
  cursor not-allowed
  background-color transparent

.factory-information
  overflow auto
  min-height calc(100vh - 152px)
  background-color $white-color !important
  padding 0 14px

  button
    margin 0 30px 0 0

  .che-label-container-content .factory-information-input
    margin-top -6px

  .factory-information-update-button button
    margin-right 0

  .json-editor
    font-size 12px
    margin-bottom 20px

  .workspace-environment-name + div
    margin-top 8px

    .workspace-machine
      margin-left 45px

      .che-ram-allocation-slider .slider-wrapper
        margin-bottom -15px

  .save-stack-button button
    margin-top 20px
