.che-clip-the-middle
  width 100%
  display inline-flex
  flex-wrap nowrap

  .che-clip-the-middle-start
    flex 1 1 inherit
    text-overflow ellipsis !important
    white-space nowrap

  .che-clip-the-middle-end
    flex 1 0 auto
    white-space nowrap
    padding-right 2px
