<div class="namespace-selector">
  <div ng-if="namespaceSelectorController.getNamespaces().length > 0"
       layout="row" layout-align="start center">
    <che-filter-selector che-values="namespaceSelectorController.getNamespaceLabels()"
                         id="namespace-selector"
                         ng-model="label"
                         che-width="200px"
                         che-on-change="namespaceSelectorController.changeNamespace(value)"></che-filter-selector>
    <span class="namespace-additional-info" ng-if="namespaceSelectorController.getNamespaceInfo()">
    {{namespaceSelectorController.getNamespaceInfo()}}
  </span>
  </div>
  <div ng-if="namespaceSelectorController.getNamespaces().length === 0 && namespaceSelectorController.getNamespaceEmptyMessage()" class="empty-namespace-label">
    <i class="fa-exclamation-triangle fa fa-2x"></i>
    {{namespaceSelectorController.getNamespaceEmptyMessage()}}
  </div>
</div>
