.team-details-content
  padding 0 14px

  .che-input-box
    padding 25px 0
    border-bottom 1px solid $list-separator-color

.team-ram-cap .che-input-box-desktop-value-column:after
    color $label-secondary-color
    content "GB"
    position absolute
    right 38px
    top 0
    line-height 36px

.team-details-delete-label label
    color $che-delete-label-color !important

.che-label-container-content button
  margin-left  0px
  margin-top 0px

.team-details-progress
  height 5px

.team-error-content
  height 100%
  width 100%
  color $label-secondary-color

  .error-title
    font-size 12pt
    font-weight bold

  .error-image
    font-size 56pt
    margin 25px 0px
    color $label-info-color

  .error-description
    font-size 11pt
    padding 0px 20px

.save-button-placeholder
  width 89px
