<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018-2018 Red Hat, Inc.
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

    Contributors:
      Red Hat, Inc. - initial API and implementation

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <filter>
        <filter-name>cacheForcingFilter</filter-name>
        <filter-class>org.eclipse.che.filter.CheCacheForcingFilter</filter-class>
        <init-param>
            <param-name>pattern_appname</param-name>
            <param-value>^\/[\w]*\/(?!fonts\/).*$</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>cacheForcingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
