.dashboard-panel
  background-color white
  margin 40px
  border 1px solid darken($list-separator-color, 10%)
  che-border-radius(2px)

  .dashboard-panel-title
    padding 10px 20px
    font-size 1.2em
    color $default-dark-color
    border-bottom 1px solid $list-separator-color

  .dashboard-panel-content
    margin 15px 0

    .dashboard-add-button
      border-bottom 1px solid $list-separator-color
      margin-bottom 15px

      .che-button
        margin 0 0 11px 21px
        box-shadow none !important

    .che-list
      margin 0 20px
