.dashboard-panel
  background-color white
  margin 40px
  border 1px solid darken($list-separator-color, 10%)
  che-border-radius(2px)

  .dashboard-panel-title
    padding 10px 20px
    font-size 1.2em
    color $default-dark-color
    border-bottom 1px solid $list-separator-color

  .dashboard-panel-content
    padding 20px 0

    .che-list
      margin-left 20px
      margin-right 20px

    .che-list-item
      margin-top -3px
