.recent-workspaces
  .icon
    font-size inherit !important

  .md-button
    line-height 34px

  .recent-workspaces-last-opened .navbar-item
    margin 1px
    outline 1px solid $link-color

.recent-workspaces-section-caption
  white-space nowrap
  padding-left: 50px
