Dockerfile
node_modules
bower_components
target
pom.xml
./typings
./tmp
./codeverage

# Eclipse  #
###################

*.launch
.classpath
.project
.settings/
bin/
test-output/
maven-eclipse.xml

# Idea #
##################
*.iml
*.ipr
*.iws
.idea/

