.workspace-machine-config
  *
    outline none !important

  button
    margin 0 30px 0 0

  .config-title-row
    height 49px
    border-bottom 1px solid $list-separator-color
    cursor pointer

    .config-title
      padding 0 17px
      white-space nowrap
      text-transform uppercase
      font-size 12px
      color #555c65 //TODO

    .config-title-action-show,
    .config-title-action-delete
      color darken($stroke-color, 13%)
      font-size 14px
      cursor pointer

    .config-title-action-edit
      color $primary-color
      font-size 14px
      cursor pointer

    .che-list-actions
      float right

      & > *:not(.tooltip)
        line-height 49px

        .fa-trash-o
          padding 5px

        .fa-trash-o:hover
          color $menu-bg-color !important

  .config-input
    margin -6px 0

  .config-paragraph
    margin-bottom -10px

    .recipe-item-name
      color $disabled-color
      margin-right 5px

  .config-ram
    margin-bottom -26px

  .config-agents
    margin-top -30px

  .config-agent-switch
    padding-left 13px

  .config-params
    padding 0 70px
    background-color $light-gray-color

    .config-params-table
      margin-top -25px

    .config-dev-machine-switch
      margin -22px 0

      .config-dev-machine-info
        padding-left 13px

  .config-delete-label label
    color $che-delete-label-color

  che-button-danger button
    box-shadow none !important
