<div class="import-custom-stack">
  <!-- Devfile source selector  -->
  <che-label-container che-label-name="Source"
                       che-label-description="Define a source for your devfile.">
    <devfile-source-selector
      selected-source="importStackController.selectedSource"
      on-change="importStackController.onSourceChange(source)"></devfile-source-selector>
  </che-label-container>

  <!-- Ephemeral mode -->
  <che-label-container che-label-name="Temporary Storage" che-label-description="Temporary Storage allows for faster I/O. It may have limited storage for certain configurations and is not persistent." class="ephemeral-mode-toggle">
      <md-switch ng-model="importStackController.ephemeralMode"
        ng-change="importStackController.onEphemeralModeChange()"
        aria-label="Enables Temporary Storage.">
      </md-switch>
  </che-label-container>

  <!-- Kubernetes namespace selector -->
  <che-label-container
    ng-if="importStackController.enabledKubernetesNamespaceSelector"
    che-label-name="Kubernetes Namespace"
    che-label-description="{{importStackController.infrastructureNamespaceHint}}">
    <kubernetes-namespace-selector on-change="importStackController.onInfrastructureNamespaceChange(namespaceId)"></kubernetes-namespace-selector>
  </che-label-container>

  <!-- Import stack  -->
  <che-label-container che-label-name="{{importStackController.selectedSource}}">
    <!-- URL -->
    <devfile-by-url ng-if="importStackController.isUrlSelected() === true"
                    workspace-devfile-location="importStackController.devfileLocation"
                    workspace-devfile-on-change="importStackController.updateDevfileFromRemote(devfile, attributes)"></devfile-by-url>
    <!-- YAML -->
    <workspace-devfile-editor ng-if="importStackController.isYamlSelected() === true"
                              is-active="true"
                              workspace-devfile="importStackController.devfileYaml"
                              workspace-devfile-on-change="importStackController.updateDevfileFromYaml(devfile)"></workspace-devfile-editor>
  </che-label-container>

  <!-- Create Workspace Button -->
  <che-label-container>
    <ng-transclude></ng-transclude>
  </che-label-container>
</div>
