.import-custom-stack
  .che-label-container:first-child
    border-bottom none
  .config-import
    margin-left 0
    .config-editor
      margin-top 0
    .saving-message
      display none

  .ephemeral-mode-toggle md-switch
    margin 3px 0 0 0 !important

md-tab-content.md-active .import-custom-stack .config-import
    animation-iteration-count 1
    animation-duration .5s
    animation-delay 0s
    animation-name devfile-by-url-height

@keyframes devfile-by-url-height
  0%
    max-height 55px
  100%
    max-height 350px
