.create-project-workspace-list
  padding-left 30px
  box-shadow none

  .samples-list
    box-sizing content-box
    max-height 205px
    overflow-y auto
    box-shadow none

  .list-item
    outline none
    padding 5px 10px
    cursor pointer
    min-height 41px

  .list-item-name
    font-size 12px
    color $label-primary-color

  .list-item-description
    font-size 10px
    color $label-info-color

  .list-item-active
    background-color $primary-color

  .list-item-active *
    color $white-color

  .list-empty
    font-size 12px
