.create-project-workspace-list
  padding-left 30px
  max-height 400px

  .samples-list
    box-sizing content-box
    max-height 205px
    overflow-y auto
    margin 0

    .che-list-item:first-child
      border-top 1px solid $list-separator-color

  .list-item
    outline none
    padding 5px 10px
    cursor pointer
    min-height 41px

  .list-item-name
    font-size 12px
    line-height initial
    color $label-primary-color

  .list-item-description
    font-size 10px
    line-height initial
    color $label-info-color

  .list-item-active
    background-color $primary-color

  .list-item-active *
    color $white-color

  .list-empty
    font-size 12px
