<che-popup title="{{cheConfirmDialogController.title}}" on-close="cheConfirmDialogController.cancel()">
  <div class="che-confirm-dialog-notification">
    <div>{{cheConfirmDialogController.content}}</div>
    <che-button-notice che-button-title="{{cheConfirmDialogController.rejectButtonTitle}}"
                       ng-click="cheConfirmDialogController.cancel()">
    </che-button-notice>
    <che-button-primary che-button-title="{{cheConfirmDialogController.resolveButtonTitle}}"
                        ng-click="cheConfirmDialogController.hide()">
    </che-button-primary>
  </div>
</che-popup>

