.che-list-header-filter
  display inline-block
  box-sizing content-box
  min-width 34px
  min-height 34px
  line-height 33px
  margin-top 15px
  margin-bottom 0
  margin-left 20px
  float right
  width 150px
