
.che-list-header-delete-button,
.che-list-header-delete-button-disable-message
  float right

.che-list-header-delete-button-disable-message
  color $label-info-color !important
  border none !important
