.che-list-header-search
  line-height 33px
  margin-left 20px
  width 150px
  float left
  overflow hidden
  box-shadow none

  & > *
    margin 0 5px 0 5px
    line-height inherit

    *
      outline none
      text-align center
      line-height inherit

  i:before
    font-size 16px

  .che-list-header-search-icon i
    color $list-header-blue-color

  .che-list-header-close-icon i
    color $default-color

  .che-list-header-search-input input
    width 100%
    border none
    outline none
    box-shadow none
    height inherit
    font-size 12px
    text-align left
    padding 0 5px 0 5px
    text-overflow ellipsis
    color $default-dark-color

    &::-webkit-input-placeholder
      position relative
      right 8px
      color $list-header-blue-color
      text-transform capitalize
      text-align center

    &::-moz-placeholder
      position relative
      right 8px
      color $list-header-blue-color
      text-transform capitalize
      text-align center
