$link-color = #a5a5a5

.che-loader .che-loader-bottom-bar
  border-top 10px solid #31487b
  background-color #1c253f
  position relative
  bottom 0
  left 0
  min-height 200px
  width 100%
  padding-top 20px
  z-index 1

  .che-link
    color $link-color
    text-decoration none
