<div class="che-loader-crane-offset-wrapper">
<div class="che-loader-crane-scale-wrapper">
  <div class="che-loader-crane che-loader-no-animation">
    <!--box-->
    <div class="box">
      <div class="box-bottom-side"></div>
      <div class="box-back-sides">
        <div class="box-left-back-side"></div>
        <div class="box-right-back-side"></div>
      </div>
      <div class="box-front-sides">
        <div class="box-left-front-side"></div>
        <div class="box-right-front-side"></div>
      </div>
    </div>
    <!--layers in box-->
    <div class="layers-in-box">
      <div ng-repeat="idx in allSteps track by $index" class="layer-{{$index}}">
        <div class="layer che-loader-animation">
          <div class="layer-front-sides">
            <div class="layer-left-side"></div>
            <div class="layer-right-side"></div>
          </div>
          <div class="layer-upper-side"></div>
        </div>
      </div>
    </div>
    <!--load-jib-->
    <div class="load-jib">
      <!--left part-->
      <div class="load-jib-1">
        <div class="load-jib-1-1"></div>
        <div class="load-jib-1-2"></div>
        <div class="load-jib-1-inner-part-1">
          <div></div>
        </div>
        <div class="load-jib-1-inner-part-2">
          <div></div>
        </div>
        <div class="load-jib-1-inner-part-3">
          <div></div>
        </div>
      </div>
      <!--middle part-->
      <div class="load-jib-2">
        <div class="load-jib-2-inner-part">
          <div></div>
          <div></div>
        </div>
        <div class="load-jib-2-inner-part">
          <div></div>
          <div></div>
        </div>
        <div class="load-jib-2-inner-part">
          <div></div>
          <div></div>
        </div>
      </div>
      <!--right part-->
      <div class="load-jib-3">
        <div class="load-jib-3-1"></div>
        <div class="load-jib-3-2"></div>
        <div class="load-jib-3-3"></div>
        <div class="load-jib-3-inner-part-1">
          <div></div>
        </div>
        <div class="load-jib-3-inner-part-2">
          <div></div>
        </div>
        <div class="load-jib-3-inner-part-3">
          <div></div>
        </div>
        <div class="load-jib-3-inner-part-4">
          <div></div>
        </div>
        <div class="load-jib-3-inner-part-5">
          <div></div>
        </div>
        <div class="load-jib-3-inner-part-6">
          <div></div>
        </div>
        <div class="load-jib-3-inner-part-7">
          <div></div>
        </div>
        <div class="load-jib-3-inner-part-8">
          <div></div>
        </div>
      </div>
    </div>
    <div class="che-loader-animation trolley-block">
      <div class="trolley"></div>
      <div class="rope-3-block">
        <div class="che-loader-animation rope-3-left"></div>
        <div class="che-loader-animation rope-3-right"></div>
        <div class="rope-3-center"></div>
        <div class="rope-3-circle"></div>
      </div>
      <div id="che-loader-crane-load" class="load">
        <!--ropes-->
        <div class="che-loader-animation layer-ropes">
          <div class="layer-rope-left"></div>
          <div class="layer-rope-front"></div>
          <div class="layer-rope-right"></div>
        </div>
        <!--layer-->
        <div class="che-loader-animation layer">
          <div class="layer-front-sides">
            <div class="layer-left-side"></div>
            <div class="layer-right-side"></div>
          </div>
          <div class="layer-upper-side"></div>
        </div>
      </div>
    </div>
    <!--tower-->
    <div class="tower">
      <div class="tower-cabin">
        <div class="tower-cabin-window-1"></div>
        <div class="tower-cabin-window-2"></div>
        <div class="tower-cabin-window-3"></div>
      </div>
      <div class="tower-cabin-bottom-part"></div>
      <div class="tower-part-1"></div>
      <div class="tower-part-2">
        <div></div>
      </div>
      <div class="tower-part-3">
        <div></div>
      </div>
      <div class="tower-part-4"></div>
      <div class="tower-part-5"></div>
      <div class="tower-part-6"></div>
      <div class="tower-part-7"></div>
      <div class="tower-part-8"></div>
      <div class="tower-part-9"></div>
      <div class="tower-part-10"></div>
      <div class="tower-part-11">
        <div class="crossbar"></div>
        <div class="left-leg tower-leg">
          <div class="left-leg-hip">
            <div></div>
            <div></div>
          </div>
          <div class="left-leg-shin">
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="right-leg tower-leg">
          <div class="right-leg-hip">
            <div></div>
            <div></div>
          </div>
          <div class="right-leg-shin">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
