<div class="ide-loader" layout="column" layout-align="center center">
  <che-loader layout="column" layout-align="center center">
    <!--crane and terminals-->
    <div class="che-loader-animation-panel main-page" layout="row">
      <div flex="initial" flex-gt-sm="60">
        <che-loader-crane che-all-steps="ideLoaderCtrl.getSteps()"
                          che-exclude-steps="[ideLoaderCtrl.getSteps().length-1]"
                          che-step="{{ideLoaderCtrl.getCurrentStep()}}"
                          che-switch-on-iteration="true">
        </che-loader-crane>
      </div>
      <div flex="noshrink" flex-gt-sm="40" layout="column" layout-align="center center"
           layout-align-gt-sm="start center">
        <div class="ide-loader-working-log">
          <che-accordion ng-repeat="step in ideLoaderCtrl.getSteps()" che-index="{{$index}}"
                         che-open-condition="($index === ideLoaderCtrl.getCurrentStep() && !!ideLoaderCtrl.getSteps()[$index].logs)"
                         ng-class="{'che-accordion-active': ($index === ideLoaderCtrl.getCurrentStep()),
                                    'che-accordion-error': ideLoaderCtrl.getSteps()[$index].hasError}">
            <div class="che-accordion-title">
              <span>{{ideLoaderCtrl.getSteps()[$index].text}}{{$index < ideLoaderCtrl.getCurrentStep() ? ' ... completed' : ''}}</span>
            </div>
            <div class="che-accordion-body" ng-show="ideLoaderCtrl.getSteps()[$index].logs.length > 0">
              <che-logs-output che-title="{{ideLoaderCtrl.getSteps()[$index].inProgressText}}"
                               che-text="ideLoaderCtrl.getSteps()[$index].logs"
                               che-scrollback="100"
                               che-refresh-time="500"></che-logs-output>
            </div>
          </che-accordion>
        </div>
      </div>
    </div>
    <!--bottom bar-->
    <div class="che-loader-bottom-bar">
      <div layout="row" layout-align="center stretch" class="main-page">
        <div flex="50" layout="column" layout-align="end start">
          <che-link ng-click="ideLoaderCtrl.cancelLoad()" che-link-text="&larr; Back to dashboard"
                    class="ide-loader-back-link"></che-link>
        </div>
        <div flex="50" layout="column" layout-align="end end">
          <che-button-default ng-show="ideLoaderCtrl.getCurrentStep() === ideLoaderCtrl.getSteps().length - 1"
                              che-button-title="Open IDE" name="openIde"
                              ng-click="ideLoaderCtrl.openRunningIde()"></che-button-default>
          <che-link ng-click="ideLoaderCtrl.downloadLogs()" che-link-text="Problem? download logs"
                    class="ide-loader-download-link"></che-link>
        </div>
      </div>
    </div>
  </che-loader>

  <div layout="row" layout-align="center center"><img class="ide-loader-logo" src="{{branding.favicon}}"/></div>
</div>
