#ide-loader
  position absolute
  height 100%
  width 100%
  z-index 100
  left 0
  top 0
  opacity 1
  background-color $che-white-color

  .ide-loader
    height 100%
    width 100%
    background-color #1c253f

ide-loader#ide-loader.ng-hide-add
  opacity 1

ide-loader#ide-loader.ng-hide
  opacity 1

.ide-loader-cancel-item
  cursor pointer
  font-size 0.8em
  &:hover
    color $primary-color

.ide-loader-working-log
  margin 35px 0

.ide-loader-bottom-bar
  height 90px

  .ide-loader-bottom-bar-left
    margin-left 100px

  .ide-loader-bottom-bar-right
    margin-right 35px

.ide-loader-back-link
  margin-top 20px

.ide-loader-download-link
  margin-top 20px
  margin-right 7px

@media (max-width:959px)
  .ide-loader-bottom-bar
    .ide-loader-bottom-bar-left
      margin-left 8px
    .ide-loader-bottom-bar-right
      margin-right 8px
