#ide-loader
  position absolute
  height 100%
  width 100%
  z-index 100
  left 0
  top 0
  opacity 1
  background-color $che-ide-background-color
  color white



ide-loader#ide-loader.ng-hide-add
  opacity 1

ide-loader#ide-loader.ng-hide
  opacity 1

.ide-loader-logo
  margin-top 20px
  width 320px

.ide-loader-cancel-item
  cursor pointer
  font-size 0.8em
  &:hover
    color $primary-color

