@font-face {
	font-family: "che";
	src: url('../fonts/che.eot');
	src: url('../fonts/che.eot?#iefix') format('eot'),
		url('../fonts/che.woff') format('woff'),
		url('../fonts/che.ttf') format('truetype'),
		url('../fonts/che.svg#che') format('svg');
}

.chefont:before {
	font-family: "che";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.cheico-type-blank:before {
	content: "\E001";
}

.cheico-administration:before {
	content: "\E002";
}

.cheico-dashboard:before {
	content: "\E003";
}

.cheico-factory:before {
	content: "\E004";
}

.cheico-icon-wkps:before {
	content: "\E005";
}

.cheico-project:before {
	content: "\E006";
}

.cheico-rocket-chefont:before {
	content: "\E007";
}

.cheico-stacks:before {
	content: "\E008";
}

.cheico-type-aspnet:before {
	content: "\E009";
}

.cheico-type-cpp:before {
	content: "\E00A";
}

.cheico-type-go:before {
	content: "\E00B";
}

.cheico-type-java:before {
	content: "\E00C";
}

.cheico-type-javascript:before {
	content: "\E00D";
}

.cheico-type-node:before {
	content: "\E00E";
}

.cheico-type-php:before {
	content: "\E00F";
}

.cheico-type-python:before {
	content: "\E010";
}

.cheico-type-ruby:before {
	content: "\E011";
}

.cheico-workspace:before {
	content: "\E012";
}
