#
# Copyright (c) 2012-2019 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

# Default values for postgres.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image: quay.io/eclipse/che-postgres:7.27.0
