.che-input .che-input-desktop [ng-message],
.che-input .che-input-desktop [ng-show]
  color $error-color

.che-input-desktop input
  border none
  box-shadow none
  box-shadow inset 0px -1px 0px 0px $default-border-color

.che-input-desktop input:focus
  border-color $primary-color

.che-input-desktop input.ng-invalid:focus
  border-color $error-color

.che-input-desktop input.ng-pristine.ng-untouched.ng-invalid
  border-color $default-border-color

.che-input-desktop
  margin-top 5px
  margin-bottom 5px

.che-input input:focus
  outline none

.che-input md-input-container
  width 100%

.che-input md-input-container,
.che-input md-input-container label,
.che-input md-input-container input
  padding-left 0
  margin-bottom 0

.che-input md-input-container.che-input-mobile-no-label
  margin-top 0

label.che-input-desktop-label
  margin-bottom 0

.che-input
  .che-input-desktop-value-column
    position relative
    max-width 100%

    textarea
      resize none
      min-width 200px
      padding-right 30px

    input
      min-width 200px
      padding-right 30px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      background-color inherit

    .che-input-desktop-hidden-text
      min-width 170px
      overflow hidden
      margin-right 30px
      height 0

  .che-input-icon, .che-input-icon-xs
    position absolute
    top 2px
    right -7px
    bottom initial
    left initial
    color $primary-color
  .che-input-icon-xs
    top 13px

  input[disabled], input[disabled] + .che-input-icon
    color $disabled-color

  input[readonly]
    box-shadow none
    background-color inherit

  input[readonly] + .che-input-icon, input[type="hidden"] + .che-input-icon
    display none
