.che-input .che-input-desktop [ng-message],
.che-input .che-input-desktop [ng-show]
  color $error-color

.che-input-desktop input,
.che-input-desktop textarea
  color lighten($che-ide-background-color, 53%)
  border 1px solid $box-border-color
  padding 5px 10px
  border-radius 2px
  che-box-shadow()

.che-input-desktop input:focus,
.che-input-desktop textarea:focus
  border-color $primary-color

.che-input-desktop input:not(.ng-untouched).ng-invalid,
.che-input-desktop textarea:not(.ng-untouched).ng-invalid
  border-color $error-color

.che-input-desktop input.ng-pristine.ng-untouched.ng-invalid,
.che-input-desktop textarea.ng-pristine.ng-untouched.ng-invalid
  border-color $box-border-color

.che-input-desktop
  margin-top 5px
  margin-bottom 5px

.che-input
  min-height 58px

  [ng-messages]
    padding 0 12px

  // avoid validation messages filckering
  [ng-message]:not(:first-child)
    display none

.che-input input:focus,
.che-input textarea:focus
  outline none

.che-input
  .che-input-desktop-value-column
    position relative
    width 100%

    textarea
      width 100%
      max-width 100%
      min-width 200px

    input
      width 100%
      max-width 100%
      min-width 200px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      background-color inherit

    .che-input-desktop-hidden-text
      min-width 170px
      overflow hidden
      margin-right 30px
      height 0

  input[disabled]
    color $disabled-color

  input[readonly]
    box-shadow none
    background-color inherit

