<div layout="column" flex class="recipe-widget" md-theme="default">
  <div class="stack-label-info">Bring your own stack.</div>
  <ng-form name="workspaceInformationForm">
    <md-radio-group ng-model="workspaceRecipeCtrl.selectSourceOption" ng-change="workspaceRecipeCtrl.setDefaultData()">
      <div layout="column">
        <div layout="column">
          <md-radio-button value="upload-custom-stack">Import custom stack</md-radio-button>
          <div layout="row" layout-wrap>
            <div ng-if="workspaceRecipeCtrl.selectSourceOption === 'upload-custom-stack'" class="recipe-url">
              <che-label-container che-label-name="Recipe URL">
                <div class="recipe-url-input">
                  <che-input che-form="workspaceInformationForm"
                             che-name="url"
                             che-place-holder="URL of the Recipe"
                             aria-label="URL of the Recipe"
                             che-pattern="(^((ftp|http|https)://[\w@.\-\_]+(:\d{1,5})?(/[\w#!:.?+=&%@!\_\-/]+)*){1}$)"
                             che-width="auto"
                             ng-model="workspaceRecipeCtrl.recipeUrl"
                             minlength="3"
                             ng-required
                             ng-maxlength="255">
                    <div ng-message="required">URL is required.</div>
                    <div ng-message="maxlength">URL has to be less than 255 characters long.</div>
                    <div ng-message="pattern">URL is not valid.</div>
                  </che-input>
                </div>
              </che-label-container>
              <che-label-container che-label-name="Recipe Type">
                <div layout="column">
                  <che-toggle ng-model="workspaceRecipeCtrl.recipeFormat" class="recipe-format">
                    <che-toggle-button che-title="compose"></che-toggle-button>
                    <che-toggle-button che-title="dockerfile"></che-toggle-button>
                  </che-toggle>
                </div>
              </che-label-container>
            </div>
          </div>
        </div>
        <div layout="column">
          <md-radio-button value="edit-your-stack">
            Write your own stack
          </md-radio-button>
          <div layout="row" layout-wrap>
            <div flex ng-if="workspaceRecipeCtrl.selectSourceOption === 'edit-your-stack'" class="recipe-editor">
              <ui-codemirror ui-codemirror="workspaceRecipeCtrl.editorOptions"
                             ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                             ng-model="workspaceRecipeCtrl.recipeScript"></ui-codemirror>
              <che-input che-form="workspaceInformationForm"
                         che-name="recipe"
                         type="hidden"
                         ng-model="workspaceRecipeCtrl.recipeScript"
                         ng-required>
                <div ng-message="required">The recipe is required.</div>
              </che-input>
              <div class="recipe-docs-link">
                <a href="https://eclipse-che.readme.io/docs/stacks#custom-stacks-for-che" target="_blank">Custom stack documentation</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-radio-group>
  </ng-form>

</div>
