.build-stack
  md-pagination-wrapper
    min-width 100%

  che-button-primary, che-button-notice
    float right

  button
    margin-right 0
    margin-bottom 0

.build-stack
  min-width 800px
  user-select none

  .recipe-editor-wrapper
    height 300px
