.factory-from-file
  min-height  80px

.factory-from-file label
  font-size inherit

.factory-from-file input
  display none

.factory-from-file button
  box-shadow 0 2px 5px 0 $disabled-color
  border-radius 2px !important
  padding-right 20px
  padding-left 20px
  font-size 1.5em
