.recipe-widget
  margin-left 10px

.recipe-widget md-radio-button
  outline 0

.recipe-editor
  min-width 500px
  max-width 1000px
  margin-top 20px

.recipe-editor .CodeMirror
  border 1px solid $list-separator-color
  min-height 500px

.recipe-docs-link
  margin-top 5px

.recipe-widget .recipe-url
  width calc(100% - 10px)
  margin-bottom 20px
