
.recipe-widget md-radio-button
  outline 0

.recipe-widget .che-input,
.recipe-widget .che-input + span,
.recipe-widget .che-label-container
  margin-left 30px

.recipe-editor
  min-width 500px
  max-width 1000px
  margin-top 20px
  margin-left 30px

.recipe-editor .CodeMirror
  border 1px solid $list-separator-color

.recipe-docs-link
  margin-top 5px

.recipe-widget .recipe-url
  width calc(100% - 10px)

.recipe-widget .recipe-url-input
  margin -6px 0
