.project-source-selector
  position relative
  min-width 720px

  .che-template-checker
    max-width 200px
    float left

    & > *
      margin-bottom 5px

      &:first-child
        margin-top 0

      &:last-child
        margin-bottom 0

    .add-import-project-toggle-button

      .md-button
        border-color $primary-color
        background-color $primary-color
        color white
        height 50px

        md-icon
          min-width 35px
          text-align center

          &:before
            font-size 28px

        &:hover
          background-color darken($primary-color, 10%)

      .toggle-single-button-multiline
        width 90px

    .edit-project-toggle-button .md-button
      height 50px

    button
      position relative
      line-height 33px
      border-radius 2px
      float none
      display block
      text-align left
      width 200px
      text-overflow ellipsis
      overflow hidden

      md-icon.cheico-project
        float left
        line-height inherit

      md-icon
        padding 0
        min-width 30px
        text-align center

        &:before
          font-size 14px

  .project-source-selector-popover
    background-color #FBFBFB
    position relative
    display block
    float left
    min-height 50px
    width calc(100% - 210px)
    max-width inherit
    min-width 500px
    z-index 70

    & > div.arrow
      top: 24px

  .toggle-single-button-title
    font-size 13px
