<label class="pf-c-switch" for="{{config.id}}">
  <input class="pf-c-switch__input"
    ng-model="value"
    ng-change="onChange({ $value: value })"
    type="checkbox"
    id="{{config.id}}"
    aria-labelledby="switch-with-label-1-on"
    name="{{config.name}}"
    checked />
  <span class="pf-c-switch__toggle"></span>
  <span class="pf-c-switch__label pf-m-on"
    ng-if="config.messageOn"
    id="{{config.id}}-on"
    aria-hidden="true" ng-bind-html="config.messageOn"></span>
  <span class="pf-c-switch__label pf-m-off"
    ng-if="config.messageOff"
    id="{{config.id}}-off"
    aria-hidden="true" ng-bind-html="config.messageOff"></span>
</label>
