$title-color=#dfdfdf

.workspace-projects-content
  padding-left 15px
  padding-top 15px
  padding-bottom 15px

.workspace-projects-title
  background-color $title-color
  padding 15px

.workspace-projects-list-side
  width 0
  flex-shrink 0
  flex-grow 0
  position static

.workspace-projects-list-side-big
  width 80px
  position relative

.projects-small
  margin-bottom 75px
