<div class="che-empty-state">
  <!-- Mobile version -->
  <div class="che-mobile" hide-gt-md>
    <div layout="row" layout-align="center center">
      <label>{{value}}</label>

      <div class="che-icon {{iconClass}}"></div>
      <label>{{prompt}}</label>
    </div>
  </div>

  <!-- Desktop version -->
  <div class="che-desktop" hide-sm hide-md>
    <div layout="row" layout-align="center center">
      <label>{{value}}</label>

      <div class="che-icon {{iconClass}}"></div>
      <label>{{prompt}}</label>
    </div>
  </div>
</div>
