.workspace-status-indicator
  display inline-block
  line-height inherit
  width 22px

  & > *
    display inline

  .workspace-status-stopped
    color #d3d3d3 !important

  .workspace-status-paused
    color #ecab00 !important

  .workspace-status-running
    color #46af00 !important

  .workspace-status-snapshot
    color $warning-color !important

  .workspace-status-spinner
    display inline-block
    line-height inherit
    vertical-align middle

  .workspace-status-spinner .spinner
    width 20px
    height 22px
    font-size 8px

    div
      width 2px
      border-radius 0
      margin-right 2px

  .workspace-status-error
    color #e22812 !important

  .workspace-status-default
    color #d3d3d3 !important
