.load-factory-main-container
  position absolute
  width 100%
  height 100%

  .ide-loader
    height 100%
    width 100%
    background-color #1c253f

.load-factory-content
  width 100%

.load-factory-working-log
  margin 35px 0

.load-factory-bottom-bar
  height 90px

  .load-factory-bottom-bar-left
    margin-left 100px

  .load-factory-bottom-bar-right
    margin-right 35px

.load-factory-back-link
  margin-top 20px

.load-factory-download-link
  margin-top 20px
  margin-right 8px

@media (max-width:959px)
  .load-factory-bottom-bar
    .load-factory-bottom-bar-left
      margin-left 8px
    .load-factory-bottom-bar-right
      margin-right 8px

.load-factory-logo
  height 35px
  position fixed
  left 0
  right 0
  bottom 15px
  margin auto
  z-index 100
