.create-project-zip
  .che-label-container
    padding-bottom 0

  .che-label-container-content .create-project-zip-input
    margin -6px 0

.create-project-zip-checkbox
  margin-top 20px
  color $label-primary-color
