.workspace-environments

  .workspace-environments-input
    margin -6px 0


  che-show-area
    button
      margin 0

    .recipe-editor
      margin-top -4px
      margin-bottom 20px
      min-width 500px
      max-width 1000px

      .CodeMirror
        height auto
        border 1px solid $list-separator-color
        font-size 12px

  .recipe-location a
    word-break break-all

  .add-machine-button
    float left

    button
      margin-top 20px
      margin-left 0

  .recipe-warning-container
    color $disabled-color
    margin-top 5px
    width 100%
    float left
