.workspace-environments

  .workspace-environments-input
    margin -6px 0

  .recipe-editor
    margin -4px 0
    min-width 500px
    max-width 1000px

    .CodeMirror
      height auto
      border 1px solid $list-separator-color

  .recipe-location a
    word-break break-all

  .add-machine-button
    float left

    button
      margin-top 20px
      margin-left 0

  .recipe-warning-container
    color $disabled-color
    margin-top 5px
    width 100%
    float left
