.workspace-environments

  .workspace-environments-input
    margin -6px 0

  .recipe-editor
    margin -4px 0
    min-width 500px
    max-width 1000px

    .CodeMirror
      height auto
      border 1px solid $list-separator-color

  .recipe-location a
    word-break break-all
