.recipe-widget
  margin-left 10px

  .che-label-container
    padding 25px 0 35px 0
    .che-label-container-content
      min-height 36px

  .che-input-box > div
    min-height 36px
    div[ng-messages]
      position absolute

  .recipe-url
    width calc(100% - 10px)
    margin-bottom 20px

.recipe-format .che-toggle-button-enabled
  color $primary-color !important

.recipe-format .che-toggle-button
  margin 0px 10px 0px 0px

.recipe-widget .che-label-container-row
  align-items center
