.recipe-widget
  margin-left 10px

  .recipe-url
    width calc(100% - 10px)
    margin-bottom 20px

.recipe-format .che-toggle-button-enabled
  color $primary-color !important

.recipe-format .che-toggle-button
  margin 0px 10px 0px 0px

.recipe-widget .che-label-container-row
  align-items center
