.che-learn-more-panel
  margin 24px
  margin-top 32px
  margin-bottom 10px
  margin-right 24px
  box-shadow-bigger()
  background-color $default-dark-color

che-learn-more-titles
  min-width 200px

che-learn-more md-card-content
  background-color $list-separator-color

.che-learn-more-titlebox
  color $background-color
  height 40px
  font-size 18px
  padding-left 10px

che-learn-more-contents
  background-color $white-color
  box-shadow-bigger()
  border-radius 2px
  margin-top -33px

che-learn-more-title
  font-size 12px
  padding-right 20px
  padding-left 7px
  padding-bottom 5px
  padding-top 3px
  outline none
  cursor pointer

che-learn-more-title md-icon
  margin-right 10px
  margin-left 5px

che-learn-more-title md-icon.che-learn-more-item-completeted-box
  margin-right 6px

che-learn-more-title-container
  margin-bottom 5px
  line-height 32px

.che-learn-more-title-container-selected
  background-color $white-color

.che-learn-more-title-container-selected:before
  width 1px
  content ''
  height 36px
  float left
  border-left-style solid
  border-color $default-dark-color
  border-width 5px
  border-bottom-left-radius 3px
  border-top-left-radius 3px
  margin-left -2px

che-learn-more-contents
  padding 10px

.che-learn-more-title-container-unselected:before
  width 1px
  content ''
  height 36px
  float left
  border-left-style solid
  border-color $list-separator-color
  border-width 5px
  border-bottom-left-radius 3px
  border-top-left-radius 3px
  margin-left -2px

.che-learn-more-item-to-complete-box
  height 20px
  width 20px

che-learn-more-titles
  margin-bottom 45px
