.che-ram-allocation-slider
  .slider-wrapper
    margin -26px 0 0

  .slider-actual-ram-caption
    color $che-medium-blue-color
    width 50px
  .slider-actual-ram-caption.slider-actual-ram-caption-disabled
    color $clear-foggy-sky-color

  .slider-max-ram-caption
    color $clear-foggy-sky-color
    width 50px
    text-align right

  .slider-holder
    min-width 180px
    max-width 400px

    /* Hide the focus thumb */
    md-slider .md-focus-thumb, md-slider .md-focus-ring
      display none

    /* Disable thumb animation and scale */
    md-slider .md-focus-thumb
      -webkit-animation-iteration-count 0
      animation-iteration-count 0
      -webkit-transform scale(0.5)
      transform scale(0.5)

    md-slider:not([disabled]):hover .md-thumb
      -webkit-transform scale(0.5)
      transform scale(0.5)

    md-slider:not([disabled]):focus .md-focus-ring, md-slider:not([disabled]).md-active .md-focus-ring
      -webkit-transform scale(0.5)
      transform scale(0.5)

    md-slider:not([disabled]):focus .md-thumb, md-slider:not([disabled]).md-active .md-thumb
      -webkit-transform scale(0.5)
      transform scale(0.5)

  .slider-input
    margin-left 40px
    margin-right 5px

    md-input-container .md-errors-spacer
      display none

    input
      border none
      box-shadow none
      border-bottom 1px solid $default-border-color

    input:focus
      border-color $primary-color !important

  .slider-max-ram-subtitle, .slider-actual-ram-caption-disabled
    color $clear-foggy-sky-color
    white-space nowrap
