.list-teams-content
  margin-top 5px

  button
    margin 0px !important

.list-teams
  margin-bottom 20px

  .che-list
    margin 0px

  .che-list-header-content *
    margin 0px

  .che-list-header md-item
    border-top none

  .che-list-header-additional
    display none

.list-teams-progress
  height 5px
  margin-top 20px
