<div class="che-codemirror-editor">
  <ng-form name="editorForm">
    <textarea ui-codemirror="cheEditorController.editorOptions"
              aria-label="editor"
              ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }, allowInvalid: true }"
              ng-model="cheEditorController.editorContent"></textarea>
    <che-input type="hidden"
               che-form="editorForm"
               custom-validator="cheEditorController.isEditorValid()"
               ng-model="cheEditorController.editorState.errors.toString()"></che-input>
    <div ng-messages="editorForm.$invalid">
      <div ng-repeat="error in cheEditorController.editorState.errors">{{error}}</div>
    </div>
    <div class="custom-checks">
      <che-input type="hidden"
                 che-form="editorForm"
                 ng-model-options="{ allowInvalid: true }"
                 ng-model="cheEditorController.editorContent">
        <ng-transclude></ng-transclude>
      </che-input>
    </div>
  </ng-form>
</div>
