$pane-title-color = #a5a5a5
$active-pane-title-color = #393939
$error-pane-title-color = brown

.che-accordion
  .che-accordion-body, .che-accordion-title
    display block
    overflow hidden

  .che-accordion-title
    margin-top 10px
    color $pane-title-color

    cursor pointer

    transform-origin left bottom
    transform scale3D(1.5, 1.5, 1)
    transition transform 0.5s

  .che-accordion-body
    transition all 0.5s
    transform translateZ(0)

.che-accordion.che-accordion-active
  .che-accordion-title
    color $active-pane-title-color
.che-accordion.che-accordion-error
  .che-accordion-title
    color $error-pane-title-color !important

.che-accordion.che-accordion-closed
  .che-accordion-title
    transition transform 0.5s
    transform-origin left bottom
    transform scale3D(1, 1, 1)

  .che-accordion-body
    height 0 !important
    transition all 0.5s
    transform translateZ(0)
