.add-workspace-developers
  margin-top 5px
  width 520px

  .form-input-fields
    margin 5px 0 5px
    min-height 55px

  .message-panel
    margin 20px 0

  .buttons-panel
    margin-left 5px

.user-exists-checked
  color $che-green-color
  float left
  margin-right 3px

.user-not-found
  color $error-color

.share-user-input
  .md-chips
    padding-left 0

  .md-chips:not(.md-focused)
    box-shadow 0 1px $default-border-color !important

  .md-chips.md-focused
    box-shadow 0 1px $primary-color !important

  .md-chips .md-chip
    margin 0
    height 18px
    font-size 13px
    line-height 18px
    margin-right 5px
    border-radius 4px

  .md-chips .md-chip.md-focused
    background-color alpha($che-medium-blue-color, 0.8)

  .md-chips .md-chip .md-chip-remove-container, .md-chips .md-chip .md-chip-remove
    line-height 18px
    height 18px

  .md-chips .md-chip .md-chip-remove md-icon
    width 12px
    height 12px

  .md-chips .md-chip-input-container
    line-height 18px
    height 18px
    padding 0
    margin 0

    input
      font-size 13px
      line-height 18px
      height 18px
      min-width 420px
