.add-organization-members
  margin-top 5px
  width 520px

  .form-input-fields
    margin 5px 0 5px
    min-height 55px

  .members-list
    min-height 100px
    max-height 300px
    overflow-y auto

  .buttons-panel
    margin-top 20px

  .message-panel
    padding-top 20px

  .che-list
    margin 0

  .che-list-header-content *
    margin 0

  .che-list-header md-item
    border-top none

  .che-list-header-additional
    display none

.add-organization-members che-button-primary,
.add-organization-members che-button-notice
  margin-left 5px

.user-exists-checked
  color $che-green-color
  float left
  margin-right 3px

.user-not-found
  color $error-color

