.import-zip
  .che-input-box
    font-size 13px !important
    margin-bottom 30px

    input
      margin-top -3px
      height 32px

    label > span
      color $grey-input-label-color

  md-checkbox
    font-size 13px !important
    margin-left 0
    margin-bottom 0

    span
      color $label-primary-color
      vertical-align text-top

  .skip-root-container
    max-width 800px
