<div class="import-zip">
  <form name="importZipProjectForm">

    <che-input-box ng-init="importZipProjectController.registerForm(importZipProjectForm)"
                   che-form="importZipProjectForm"
                   che-name="remoteZipURL"
                   id="remote-zip-url-input"
                   che-label-name="Zip URL"
                   che-place-holder="Url of the zip file"
                   aria-label="Url of the zip file"
                   che-width="auto"
                   che-on-change="importZipProjectController.onUrlChanged($value)"
                   ng-model="importZipProjectController.location"
                   ng-model-options="{allowInvalid: true}"
                   required>
    </che-input-box>

    <div layout="row" layout-align="left" class="skip-root-container">
      <div flex="20"></div>
      <md-checkbox ng-model="importZipProjectController.skipFirstLevel"
                   id="zip-skip-root-folder-checkbox"
                   ng-change="importZipProjectController.onCheckboxChanged()"
                   aria-label="Skip the root folder of the archive">
        Skip the root folder of the archive
      </md-checkbox>
    </div>

  </form>
</div>
