.che-list-item
  display inline-block
  width 100%

.che-list-item:hover
  background-color $hover-on-list-color

.che-list-item:not(:last-child)
  border-bottom 1px solid $list-separator-color

.che-list-item-content
  width 100%
