.che-list-header-column
  line-height 50px
  text-transform uppercase
  color $frame-subscription-color

  .header-sort-direction
    position relative
    text-align center
    margin-left 5px
    display inline
    top 4px

    *:first-child
      position inherit
      top 3px

    *::before
      font-size 20px
      color $menu-bg-color
