.che-list-header-column
  display inherit
  height inherit
  line-height inherit
  margin 0 !important
  text-transform uppercase
  color $list-header-blue-color

  & > div
   display inline-block
   overflow visible

  span:first-child
    margin auto 0 auto 0

  .header-sort-direction
    padding 0 4px 0 4px
    text-align center
    vertical-align middle

    *::before
      position relative
      font-size 12px
      color $menu-bg-color

    .fa-sort-desc::before
      top 0

    .fa-sort-asc::before
      top 1px
