.che-list-header
  border-top 1px solid $list-separator-color
  display inline-block
  width 100%

.che-list-header-content
  width 100%

.che-list-header-content > *
  border-bottom 1px solid $list-separator-color
  margin 0 40px 0 40px

.che-list-header-content *
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
