.che-list-header-column
  display inherit
  line-height inherit
  margin 0 !important
  text-transform uppercase
  color $list-blue-color

  .header-sort-direction
    margin-left 4px
    text-align center
    vertical-align middle

    *::before
      position relative
      top 1px
      font-size 12px
      color $menu-bg-color

    .fa-sort-asc::before
      top 3px
