<div class="che-list-header">
  <div class="che-list-header-additional">
    <che-button-primary class="che-list-add-button"
                        ng-if="onAdd"
                        ng-show="!hideAdd"
                        che-button-title="{{addButtonTitle}}"
                        ng-click="onAdd()"></che-button-primary>
    <che-button-primary class="che-list-add-button"
                        id="add-item-button"
                        ng-if="addButtonHref"
                        ng-show="!hideAdd"
                        che-button-title="{{addButtonTitle}}"
                        ng-href="{{addButtonHref}}"></che-button-primary>
    <che-button-primary class="che-list-import-button"
                        id="import-item-button"
                        ng-if="onImport"
                        che-button-title="{{importButtonTitle}}"
                        ng-click="onImport()"></che-button-primary>
    <div class="che-list-search"
         ng-show="inputPlaceholder && !hideSearch">
      <div flex="100" layout="row">
        <div flex="15" class="header-search-icon" ng-show="!inputValue"><i class="fa fa-search"></i></div>
        <div flex class="header-search-input">
          <input type="text" maxlength="128" ng-placeholder="{{inputPlaceholder}}"
                 data-ng-model="inputValue" ng-change="onSearchChange({str: inputValue})">
        </div>
        <div flex="10" class="header-close-icon" ng-click="inputValue='';onSearchChange({str: ''})" ng-show="inputValue"><i class="fa fa-close"></i></div>
      </div>
    </div>
    <che-filter-selector che-values="filterValues"
                         ng-if="filterValues && filterValues.length > 0 && !hideFilter"
                         che-on-change="onFilterChanged" class="che-list-filter"></che-filter-selector>
    <che-button-primary class="che-list-delete-button"
                        id="delete-item-button"
                        ng-if="deleteButtonTitle && !hideDelete"
                        che-button-title="{{deleteButtonTitle}}"
                        ng-click="onDelete()"
                        ng-disabled="deleteButtonDisable === true"></che-button-primary>
    <span ng-if="deleteButtonDisableMessage && !hideDelete && deleteButtonDisable" class="delete-button-disable-message">
      {{deleteButtonDisableMessage}}
    </span>
  </div>
  <md-item class="noselect">
    <md-item-content>
      <ng-transclude class="che-list-header-content" ng-hide="hideHeader"></ng-transclude>
    </md-item-content>
  </md-item>
</div>
