.che-list-item
  display inline-block
  width 100%

.che-list-item:hover
  background-color $hover-on-list-color

.che-list-item
  border-bottom 1px solid $list-separator-color

.che-list-item-content
  overflow hidden
  width 100%

  & > *
    line-height 40px

.che-list-item-content *:not(.tooltip)
  overflow inherit
  text-overflow ellipsis
  white-space normal

  *.tooltip
   overflow visible

.che-list-item-row
  min-height 40px

.che-list-item-row *
  outline none

.che-list-item-details
  line-height 22px
  font-size 12px
  cursor pointer

  & .che-xs-header
    display inline-block
    float left
    text-transform uppercase
    vertical-align middle
    color $primary-color
    min-width 65px

.che-list-item-name
  color $label-primary-color

  & > *
    display inline-block
    line-height 22px
    font-size 12px
    float left

  .spinner > *
    float left
