.che-list-section-title
  color $label-info-color
  line-height 24px
  font-size 16px
  font-style italic
  margin 20px 0px 10px
  vertical-align middle

.che-list-section-title-middle-align
  vertical-align middle
  display inline
