.projects-create-project-samples-list-item
  outline none
  padding 5px 10px
  cursor pointer

.projects-create-project-samples-list-item-active
  background-color $primary-color

.projects-create-project-samples-list-samplename
  line-height initial
  font-size 12px
  color $label-primary-color

.projects-create-project-samples-list-sampledescription
  line-height initial
  font-size 10px
  color $label-info-color

.projects-create-project-samples-list-item-active .projects-create-project-samples-list-samplename
  color white

.projects-create-project-samples-list-item-active .projects-create-project-samples-list-sampledescription
  color white

.projects-create-project-samples-header-projecttype
  color $label-info-color

.projects-create-project-samples-search-component
  border-bottom $label-primary-color 1px solid
  margin-bottom 30px

#create-project-templates md-radio-button
  margin-left 0
  margin-bottom 20px

.projects-create-project-samples-list
  margin 0

  .che-list-item:first-child
    border-top 1px solid $list-separator-color

.projects-create-project-samples
  padding-left 30px
  max-height 400px
