#ide-iframe-button-link
  position absolute
  cursor pointer
  outline none
  width 24px
  height 16px
  top 4px
  background-color $che-logo-blue-color
  color $light-gray-color
  font-size 8px
  padding 0px
  line-height 16px
  text-align center
