div.getting-started-toolbar
  border-bottom 1px solid $very-light-grey-background-color
  user-select none

  md-toolbar
    height 110px
    max-height 110px

  div.che-toolbar-header div:last-child
    bottom initial

  div.che-toolbar-title
    display inline-block
    font-weight bold
    text-align left
    margin-left 10px

  .layout-align-start-center
    .custom-template
      float left
      margin-right 20px

      .che-button
        margin 0
        font-size 14px !important
        font-weight bold !important
        padding 0 20px !important
        height 40px !important
        line-height 40px !important

md-content.getting-started
  & > *
    background-color $background-color

  .getting-started-list
    che-box-shadow()
    border 15px solid $very-light-grey-background-color
    border-left-width 25px

    .template-header
      margin 15px

      .header-title
        font-weight bold
        font-size 133%

      .template-search
        height 34px
        max-width 150px
        border 1px solid $list-header-blue-color
        che-border-radius(2px)

        input
          width 100%
          padding 0 10px
          border none
          outline none
          font-size 12px
          text-overflow ellipsis
          color $default-dark-color
        input:

        :-webkit-input-placeholder
          position relative
          right 8px
          color $list-header-blue-color
          text-transform capitalize
          text-align center
        input:

        :-moz-placeholder
          position relative
          right 8px
          color $list-header-blue-color
          text-transform capitalize
          text-align center

        .search-icon
          text-align end
          color $list-header-blue-color

        .close-icon
          outline none
          text-align center
          color $default-color

        i
          line-height 34px
          font-size 16px

      .temporary-storage
        margin 0 20px 0 0

        & > *
          margin 0 6px
        & > .temporary-storage-label
          margin-right 3px
        & > .temporary-storage-tooltip
          margin-left 3px

      .template-info
        text-align end
        font-weight bold
        margin 0 10px

    .templates-area
      width 100%
      user-select none

      .selected
        background-color #F2F7FD
        border-color $primary-color

      che-button-save-flat
        float left
        width 100%
        padding 15px

        .che-button
          width inherit
          margin 0
