.create-workspace-progress
  position: absolute;
  top: 56px;
  z-index: 2;

.create-workspace-content
  background-color $very-light-grey-background-color !important
  padding 15px;

  .che-label-container-label-name
    text-transform uppercase
    color $grey-input-label-color !important
    font-weight bold !important

  .create-workspace-content-hidden
    visibility hidden

  .create-workspace-footer-button
    width 100%

    button
      margin 0 !important
      width 100% !important

  .create-workspace-name-form
    margin-top -18px

    input
      height 50px

