.create-workspace
  padding 0 14px

  button
    margin-left 0
    margin-right 0
    margin-bottom 16px


md-select.create-workspace-select
  width 100%
  margin-top 0
  margin-bottom 0

.create-workspace-input-with-description
  margin-bottom -15px

.create-workspace-input-with-description > span:last-child
  bottom 15px
  font-size 12px
  line-height 12px
  position relative
  color $disabled-color

.create-workspace-space-top
  margin-top 15px

.create-workspace-members .workspace-members-content
  padding-left 0
  padding-right 0

.create-workspace .che-label-container-content .create-workspace-input
  margin -6px 0
