{
  "id" : "master",
  "realm" : "master",
  "displayName" : "Keycloak",
  "displayNameHtml" : "<div class=\"kc-logo-text\"><span>Keycloak</span></div>",
  "notBefore" : 0,
  "revokeRefreshToken" : false,
  "accessTokenLifespan" : 60,
  "accessTokenLifespanForImplicitFlow" : 900,
  "ssoSessionIdleTimeout" : 1800,
  "ssoSessionMaxLifespan" : 36000,
  "offlineSessionIdleTimeout" : 2592000,
  "accessCodeLifespan" : 60,
  "accessCodeLifespanUserAction" : 300,
  "accessCodeLifespanLogin" : 1800,
  "enabled" : true,
  "sslRequired" : "none",
  "registrationAllowed" : false,
  "registrationEmailAsUsername" : false,
  "rememberMe" : false,
  "verifyEmail" : false,
  "loginWithEmailAllowed" : true,
  "duplicateEmailsAllowed" : false,
  "resetPasswordAllowed" : false,
  "editUsernameAllowed" : false,
  "bruteForceProtected" : false,
  "maxFailureWaitSeconds" : 900,
  "minimumQuickLoginWaitSeconds" : 60,
  "waitIncrementSeconds" : 60,
  "quickLoginCheckMilliSeconds" : 1000,
  "maxDeltaTimeSeconds" : 43200,
  "failureFactor" : 30,
  "roles" : {
    "realm" : [ {
      "id" : "aec0182b-9391-43f3-ac65-23f5bb3877e7",
      "name" : "admin",
      "description" : "${role_admin}",
      "scopeParamRequired" : false,
      "composite" : true,
      "composites" : {
        "realm" : [ "create-realm" ],
        "client" : {
          "che-realm" : [ "view-events", "view-realm", "view-users", "view-identity-providers", "manage-events", "manage-users", "manage-clients", "manage-authorization", "view-clients", "view-authorization", "create-client", "manage-identity-providers", "impersonation", "manage-realm" ],
          "master-realm" : [ "manage-users", "manage-clients", "view-authorization", "manage-identity-providers", "view-users", "impersonation", "manage-realm", "manage-authorization", "view-clients", "view-identity-providers", "view-events", "create-client", "view-realm", "manage-events" ]
        }
      },
      "clientRole" : false,
      "containerId" : "master"
    }, {
      "id" : "3e3a9c5f-01e4-4f55-847c-dec70214e188",
      "name" : "uma_authorization",
      "description" : "${role_uma_authorization}",
      "scopeParamRequired" : false,
      "composite" : false,
      "clientRole" : false,
      "containerId" : "master"
    }, {
      "id" : "7fe6fec2-4e44-4425-9fa3-045123bb66a1",
      "name" : "create-realm",
      "description" : "${role_create-realm}",
      "scopeParamRequired" : false,
      "composite" : false,
      "clientRole" : false,
      "containerId" : "master"
    }, {
      "id" : "16992f6c-e2b1-4888-b072-d0d28c89772d",
      "name" : "offline_access",
      "description" : "${role_offline-access}",
      "scopeParamRequired" : true,
      "composite" : false,
      "clientRole" : false,
      "containerId" : "master"
    } ],
    "client" : {
      "che-realm" : [ {
        "id" : "3b1283d2-84db-4d57-b7de-9793e0e0c93e",
        "name" : "view-clients",
        "description" : "${role_view-clients}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "ee353295-0c1a-41e9-94d7-0bb5fd7afff0",
        "name" : "view-events",
        "description" : "${role_view-events}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "b1697942-c65d-4448-91e0-4f54ff7f7f3e",
        "name" : "view-realm",
        "description" : "${role_view-realm}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "36bdd2b7-e81c-472f-b0be-2dd46b8f4654",
        "name" : "view-authorization",
        "description" : "${role_view-authorization}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "2a7278ab-1976-48ea-9fde-e8e2b37a4489",
        "name" : "view-users",
        "description" : "${role_view-users}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "8ccbbf67-b5b1-450c-b354-b8cbf99d0e0c",
        "name" : "view-identity-providers",
        "description" : "${role_view-identity-providers}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "ed51fbf0-8821-4138-b7a0-7e146c061438",
        "name" : "manage-events",
        "description" : "${role_manage-events}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "c055ffc8-f8d1-4bca-989e-3a17df647b6a",
        "name" : "create-client",
        "description" : "${role_create-client}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "5334d8d1-1aa4-45e5-ba8f-7bb2cc63cad7",
        "name" : "manage-users",
        "description" : "${role_manage-users}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "e725bc9b-7686-4cb7-a4bd-94b667dfc7ff",
        "name" : "manage-identity-providers",
        "description" : "${role_manage-identity-providers}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "205ab1a2-321a-453e-91b9-2868076ecdc4",
        "name" : "manage-clients",
        "description" : "${role_manage-clients}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "7dd2eedd-5823-48de-90de-5a11b41e1eb3",
        "name" : "impersonation",
        "description" : "${role_impersonation}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "2d323fe8-9a1c-4cf1-8b5a-2be04d882e98",
        "name" : "manage-realm",
        "description" : "${role_manage-realm}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      }, {
        "id" : "4e852fb0-1e5a-4c4c-af6f-0981a9e9ff37",
        "name" : "manage-authorization",
        "description" : "${role_manage-authorization}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0"
      } ],
      "security-admin-console" : [ ],
      "admin-cli" : [ ],
      "broker" : [ {
        "id" : "5c4334ef-5425-4e94-bc05-482b6a2360a3",
        "name" : "read-token",
        "description" : "${role_read-token}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "fbf888ef-6b51-42d6-a83a-b114637db8af"
      } ],
      "master-realm" : [ {
        "id" : "753f263d-2e5c-457d-b332-ccc8d270a5cb",
        "name" : "manage-users",
        "description" : "${role_manage-users}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "06c9e6f0-9c82-472a-b5e4-d19402bae29f",
        "name" : "manage-clients",
        "description" : "${role_manage-clients}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "64fa1949-633c-4422-a1c0-b9e02e3be26d",
        "name" : "view-identity-providers",
        "description" : "${role_view-identity-providers}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "49f3c789-dfdf-49ce-b516-09c310658a9b",
        "name" : "view-events",
        "description" : "${role_view-events}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "8e405273-c09e-4dd4-9151-67e7a4bf3ded",
        "name" : "view-authorization",
        "description" : "${role_view-authorization}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "66a52e90-5cd7-483b-9dcf-4361b964844a",
        "name" : "manage-identity-providers",
        "description" : "${role_manage-identity-providers}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "e68033ce-07ee-420c-8fbc-8760af4b8150",
        "name" : "view-users",
        "description" : "${role_view-users}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "76b3b225-c7ef-49c7-8506-252901dcb14a",
        "name" : "create-client",
        "description" : "${role_create-client}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "68d768a7-7cd0-48d2-a98c-8656a4266250",
        "name" : "impersonation",
        "description" : "${role_impersonation}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "7dd1c948-f15b-4886-873d-e85b0f8b5582",
        "name" : "manage-realm",
        "description" : "${role_manage-realm}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "618ac9b7-1cc3-4555-800d-91abf6d874a0",
        "name" : "manage-authorization",
        "description" : "${role_manage-authorization}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "358ec048-f818-46a5-af45-e543739c190b",
        "name" : "view-clients",
        "description" : "${role_view-clients}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "f7db4919-441c-4ee6-a14b-54f21f27ad1e",
        "name" : "view-realm",
        "description" : "${role_view-realm}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      }, {
        "id" : "05ad458b-d1a9-4cb8-bf94-2f2a016e9539",
        "name" : "manage-events",
        "description" : "${role_manage-events}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "bb41adf9-9683-4627-9e14-59d4565dedb6"
      } ],
      "account" : [ {
        "id" : "b4d14fcf-4420-4d64-90c1-26f857facf9c",
        "name" : "manage-account",
        "description" : "${role_manage-account}",
        "scopeParamRequired" : false,
        "composite" : true,
        "composites" : {
          "client" : {
            "account" : [ "manage-account-links" ]
          }
        },
        "clientRole" : true,
        "containerId" : "70305e3d-519e-4b53-9025-385f8b7450bd"
      }, {
        "id" : "86eafabe-9789-4ee3-8790-2c1f66ec29f1",
        "name" : "manage-account-links",
        "description" : "${role_manage-account-links}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "70305e3d-519e-4b53-9025-385f8b7450bd"
      }, {
        "id" : "f8f8b55e-3155-4e59-b726-2ac613aa2d82",
        "name" : "view-profile",
        "description" : "${role_view-profile}",
        "scopeParamRequired" : false,
        "composite" : false,
        "clientRole" : true,
        "containerId" : "70305e3d-519e-4b53-9025-385f8b7450bd"
      } ]
    }
  },
  "groups" : [ ],
  "defaultRoles" : [ "uma_authorization", "offline_access" ],
  "requiredCredentials" : [ "password" ],
  "passwordPolicy" : "hashIterations(20000)",
  "otpPolicyType" : "totp",
  "otpPolicyAlgorithm" : "HmacSHA1",
  "otpPolicyInitialCounter" : 0,
  "otpPolicyDigits" : 6,
  "otpPolicyLookAheadWindow" : 1,
  "otpPolicyPeriod" : 30,
  "scopeMappings" : [ {
    "client" : "admin-cli",
    "roles" : [ "admin" ]
  }, {
    "client" : "security-admin-console",
    "roles" : [ "admin" ]
  } ],
  "clients" : [ {
    "id" : "70305e3d-519e-4b53-9025-385f8b7450bd",
    "clientId" : "account",
    "name" : "${client_account}",
    "baseUrl" : "/auth/realms/master/account",
    "surrogateAuthRequired" : false,
    "enabled" : true,
    "clientAuthenticatorType" : "client-secret",
    "secret" : "346a8605-33f2-4651-b6a0-6b170dc669cb",
    "defaultRoles" : [ "manage-account", "view-profile" ],
    "redirectUris" : [ "/auth/realms/master/account/*" ],
    "webOrigins" : [ ],
    "notBefore" : 0,
    "bearerOnly" : false,
    "consentRequired" : false,
    "standardFlowEnabled" : true,
    "implicitFlowEnabled" : false,
    "directAccessGrantsEnabled" : false,
    "serviceAccountsEnabled" : false,
    "publicClient" : false,
    "frontchannelLogout" : false,
    "protocol" : "openid-connect",
    "attributes" : { },
    "fullScopeAllowed" : false,
    "nodeReRegistrationTimeout" : 0,
    "protocolMappers" : [ {
      "id" : "b204c566-00b8-4c65-a436-85017a70f1c2",
      "name" : "family name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${familyName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "lastName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "family_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "3268594a-5e10-446a-ac65-3acbfd0f5428",
      "name" : "full name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-full-name-mapper",
      "consentRequired" : true,
      "consentText" : "${fullName}",
      "config" : {
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "userinfo.token.claim" : "true"
      }
    }, {
      "id" : "b519785a-e83f-4c10-95ba-6cce57187532",
      "name" : "username",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${username}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "username",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "preferred_username",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "1198c008-073b-49a4-b257-464eafd3847c",
      "name" : "role list",
      "protocol" : "saml",
      "protocolMapper" : "saml-role-list-mapper",
      "consentRequired" : false,
      "config" : {
        "single" : "false",
        "attribute.nameformat" : "Basic",
        "attribute.name" : "Role"
      }
    }, {
      "id" : "f6515dd0-75c6-42a7-a3c4-c67636833858",
      "name" : "given name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${givenName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "firstName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "given_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "ca08bcfa-00b1-459a-8a7a-3ab25779120c",
      "name" : "email",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${email}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "email",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "email",
        "jsonType.label" : "String"
      }
    } ],
    "useTemplateConfig" : false,
    "useTemplateScope" : false,
    "useTemplateMappers" : false
  }, {
    "id" : "df4f6879-dc31-45b5-8c5d-77422e3e2d46",
    "clientId" : "admin-cli",
    "name" : "${client_admin-cli}",
    "surrogateAuthRequired" : false,
    "enabled" : true,
    "clientAuthenticatorType" : "client-secret",
    "secret" : "99ffe6c6-5ff6-488c-80cf-fca30c8e5692",
    "redirectUris" : [ ],
    "webOrigins" : [ ],
    "notBefore" : 0,
    "bearerOnly" : false,
    "consentRequired" : false,
    "standardFlowEnabled" : false,
    "implicitFlowEnabled" : false,
    "directAccessGrantsEnabled" : true,
    "serviceAccountsEnabled" : false,
    "publicClient" : true,
    "frontchannelLogout" : false,
    "protocol" : "openid-connect",
    "attributes" : { },
    "fullScopeAllowed" : false,
    "nodeReRegistrationTimeout" : 0,
    "protocolMappers" : [ {
      "id" : "212ad048-038d-45b7-abcc-e3c4a613be41",
      "name" : "given name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${givenName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "firstName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "given_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "8e1afe70-8899-43fc-a74d-76aa23dfc10a",
      "name" : "full name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-full-name-mapper",
      "consentRequired" : true,
      "consentText" : "${fullName}",
      "config" : {
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "userinfo.token.claim" : "true"
      }
    }, {
      "id" : "1df6bb38-e63b-4533-9333-45038104e118",
      "name" : "family name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${familyName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "lastName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "family_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "3bb8442f-e6e3-4857-9bae-2c03de410b32",
      "name" : "username",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${username}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "username",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "preferred_username",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "8a69005f-8ceb-4ceb-b98a-a22b00201e7e",
      "name" : "role list",
      "protocol" : "saml",
      "protocolMapper" : "saml-role-list-mapper",
      "consentRequired" : false,
      "config" : {
        "single" : "false",
        "attribute.nameformat" : "Basic",
        "attribute.name" : "Role"
      }
    }, {
      "id" : "6b168fb4-34be-499b-b80e-30fc6af6099b",
      "name" : "email",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${email}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "email",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "email",
        "jsonType.label" : "String"
      }
    } ],
    "useTemplateConfig" : false,
    "useTemplateScope" : false,
    "useTemplateMappers" : false
  }, {
    "id" : "fbf888ef-6b51-42d6-a83a-b114637db8af",
    "clientId" : "broker",
    "name" : "${client_broker}",
    "surrogateAuthRequired" : false,
    "enabled" : true,
    "clientAuthenticatorType" : "client-secret",
    "secret" : "b59b1baf-df65-455d-b185-fda173e29d1b",
    "defaultRoles": [ "read-token" ],
    "redirectUris" : [ ],
    "webOrigins" : [ ],
    "notBefore" : 0,
    "bearerOnly" : false,
    "consentRequired" : false,
    "standardFlowEnabled" : true,
    "implicitFlowEnabled" : false,
    "directAccessGrantsEnabled" : false,
    "serviceAccountsEnabled" : false,
    "publicClient" : false,
    "frontchannelLogout" : false,
    "protocol" : "openid-connect",
    "attributes" : { },
    "fullScopeAllowed" : false,
    "nodeReRegistrationTimeout" : 0,
    "protocolMappers" : [ {
      "id" : "9533d6b5-2b0f-4e1e-b04c-73db603f01d4",
      "name" : "role list",
      "protocol" : "saml",
      "protocolMapper" : "saml-role-list-mapper",
      "consentRequired" : false,
      "config" : {
        "single" : "false",
        "attribute.nameformat" : "Basic",
        "attribute.name" : "Role"
      }
    }, {
      "id" : "8729962d-3cd2-44f1-8e70-d8331956fbe6",
      "name" : "given name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${givenName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "firstName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "given_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "f1f5aa32-b608-4bcf-a7aa-d416cdfb6ddd",
      "name" : "full name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-full-name-mapper",
      "consentRequired" : true,
      "consentText" : "${fullName}",
      "config" : {
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "userinfo.token.claim" : "true"
      }
    }, {
      "id" : "ab6e6a72-45f0-4a82-85f8-41e2b94ff957",
      "name" : "username",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${username}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "username",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "preferred_username",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "8638e256-0bda-4e42-a68a-32105eed3af5",
      "name" : "family name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${familyName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "lastName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "family_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "b812aacc-11ef-4b45-b716-d49486f62f40",
      "name" : "email",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${email}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "email",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "email",
        "jsonType.label" : "String"
      }
    } ],
    "useTemplateConfig" : false,
    "useTemplateScope" : false,
    "useTemplateMappers" : false
  }, {
    "id" : "71d0fe7e-1630-4593-b2e9-55609d03ffa0",
    "clientId" : "che-realm",
    "name" : "che Realm",
    "surrogateAuthRequired" : false,
    "enabled" : true,
    "clientAuthenticatorType" : "client-secret",
    "secret" : "ea6c20cd-ad8d-40e6-83d3-575627238bc9",
    "redirectUris" : [ ],
    "webOrigins" : [ ],
    "notBefore" : 0,
    "bearerOnly" : true,
    "consentRequired" : false,
    "standardFlowEnabled" : true,
    "implicitFlowEnabled" : false,
    "directAccessGrantsEnabled" : false,
    "serviceAccountsEnabled" : false,
    "publicClient" : false,
    "frontchannelLogout" : false,
    "attributes" : { },
    "fullScopeAllowed" : true,
    "nodeReRegistrationTimeout" : 0,
    "protocolMappers" : [ {
      "id" : "42b1e40d-6da4-4cec-9bc7-5dba990a172c",
      "name" : "email",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${email}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "email",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "email",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "8eeb76b6-7b7a-40ea-80f7-ad87b32bcf33",
      "name" : "given name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${givenName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "firstName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "given_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "0cdd4ce4-5f02-43e1-88d1-f1fea18495b0",
      "name" : "full name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-full-name-mapper",
      "consentRequired" : true,
      "consentText" : "${fullName}",
      "config" : {
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "userinfo.token.claim" : "true"
      }
    }, {
      "id" : "5462174e-88e8-4964-9ed7-3b6eaf240e7a",
      "name" : "username",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${username}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "username",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "preferred_username",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "5fa8316f-f095-4771-a358-c681542e6960",
      "name" : "family name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${familyName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "lastName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "family_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "b114c292-7469-4344-a98d-895d349b5e76",
      "name" : "role list",
      "protocol" : "saml",
      "protocolMapper" : "saml-role-list-mapper",
      "consentRequired" : false,
      "config" : {
        "single" : "false",
        "attribute.nameformat" : "Basic",
        "attribute.name" : "Role"
      }
    } ],
    "useTemplateConfig" : false,
    "useTemplateScope" : false,
    "useTemplateMappers" : false
  }, {
    "id" : "bb41adf9-9683-4627-9e14-59d4565dedb6",
    "clientId" : "master-realm",
    "name" : "master Realm",
    "surrogateAuthRequired" : false,
    "enabled" : true,
    "clientAuthenticatorType" : "client-secret",
    "secret" : "8f6c9c08-fa59-4676-86ee-39b2332abc34",
    "redirectUris" : [ ],
    "webOrigins" : [ ],
    "notBefore" : 0,
    "bearerOnly" : true,
    "consentRequired" : false,
    "standardFlowEnabled" : true,
    "implicitFlowEnabled" : false,
    "directAccessGrantsEnabled" : false,
    "serviceAccountsEnabled" : false,
    "publicClient" : false,
    "frontchannelLogout" : false,
    "attributes" : { },
    "fullScopeAllowed" : true,
    "nodeReRegistrationTimeout" : 0,
    "protocolMappers" : [ {
      "id" : "e2b326b8-1e71-46a1-8af1-ea5901d6f265",
      "name" : "given name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${givenName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "firstName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "given_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "956f2275-759a-4d08-8290-a346f165ea34",
      "name" : "email",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${email}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "email",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "email",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "1297bf8c-4cc1-43d8-a163-80e30ea27206",
      "name" : "full name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-full-name-mapper",
      "consentRequired" : true,
      "consentText" : "${fullName}",
      "config" : {
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "userinfo.token.claim" : "true"
      }
    }, {
      "id" : "bdc44923-bf69-4d23-8a9a-59f92d9c2dc5",
      "name" : "family name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${familyName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "lastName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "family_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "b77d7398-b18b-4ecb-9a87-0a9cdcf99e70",
      "name" : "username",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${username}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "username",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "preferred_username",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "e4cbc802-df71-4273-ac7b-f92af87f613b",
      "name" : "role list",
      "protocol" : "saml",
      "protocolMapper" : "saml-role-list-mapper",
      "consentRequired" : false,
      "config" : {
        "single" : "false",
        "attribute.nameformat" : "Basic",
        "attribute.name" : "Role"
      }
    } ],
    "useTemplateConfig" : false,
    "useTemplateScope" : false,
    "useTemplateMappers" : false
  }, {
    "id" : "ccb6ee37-fbab-4a13-a534-d5aaf15b4f59",
    "clientId" : "security-admin-console",
    "name" : "${client_security-admin-console}",
    "baseUrl" : "/auth/admin/master/console/index.html",
    "surrogateAuthRequired" : false,
    "enabled" : true,
    "clientAuthenticatorType" : "client-secret",
    "secret" : "d4ef6505-966c-4020-8d6f-322be097132b",
    "redirectUris" : [ "/auth/admin/master/console/*" ],
    "webOrigins" : [ ],
    "notBefore" : 0,
    "bearerOnly" : false,
    "consentRequired" : false,
    "standardFlowEnabled" : true,
    "implicitFlowEnabled" : false,
    "directAccessGrantsEnabled" : false,
    "serviceAccountsEnabled" : false,
    "publicClient" : true,
    "frontchannelLogout" : false,
    "protocol" : "openid-connect",
    "attributes" : { },
    "fullScopeAllowed" : false,
    "nodeReRegistrationTimeout" : 0,
    "protocolMappers" : [ {
      "id" : "0a109af4-3e43-45b5-b051-5b3338e087b6",
      "name" : "locale",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-attribute-mapper",
      "consentRequired" : false,
      "consentText" : "${locale}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "locale",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "locale",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "1dfc14fc-50c5-463a-b02b-69253e6d4a68",
      "name" : "username",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${username}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "username",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "preferred_username",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "fa677b21-0f3b-461d-bc7a-c14f08ac0b59",
      "name" : "family name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${familyName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "lastName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "family_name",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "a869ca3a-8a44-4cd0-8985-5574209b25f3",
      "name" : "role list",
      "protocol" : "saml",
      "protocolMapper" : "saml-role-list-mapper",
      "consentRequired" : false,
      "config" : {
        "single" : "false",
        "attribute.nameformat" : "Basic",
        "attribute.name" : "Role"
      }
    }, {
      "id" : "ba594f1b-4cbe-448c-a40c-b620ffb9c38f",
      "name" : "full name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-full-name-mapper",
      "consentRequired" : true,
      "consentText" : "${fullName}",
      "config" : {
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "userinfo.token.claim" : "true"
      }
    }, {
      "id" : "b18d9179-12bd-4fc7-b2ce-c9a0b6e95b93",
      "name" : "email",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${email}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "email",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "email",
        "jsonType.label" : "String"
      }
    }, {
      "id" : "95bd7e17-d6c0-4ebc-88ee-89490766e9d7",
      "name" : "given name",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-usermodel-property-mapper",
      "consentRequired" : true,
      "consentText" : "${givenName}",
      "config" : {
        "userinfo.token.claim" : "true",
        "user.attribute" : "firstName",
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "claim.name" : "given_name",
        "jsonType.label" : "String"
      }
    } ],
    "useTemplateConfig" : false,
    "useTemplateScope" : false,
    "useTemplateMappers" : false
  } ],
  "clientTemplates" : [ ],
  "browserSecurityHeaders" : {
    "xContentTypeOptions" : "nosniff",
    "xRobotsTag" : "none",
    "xFrameOptions" : "SAMEORIGIN",
    "xXSSProtection" : "1; mode=block",
    "contentSecurityPolicy" : "frame-src 'self'"
  },
  "smtpServer" : { },
  "eventsEnabled" : false,
  "eventsListeners" : [ "jboss-logging" ],
  "enabledEventTypes" : [ ],
  "adminEventsEnabled" : false,
  "adminEventsDetailsEnabled" : false,
  "components" : {
    "org.keycloak.services.clientregistration.policy.ClientRegistrationPolicy" : [ {
      "id" : "b4276bca-9a3b-48f2-a330-0e8550a17e98",
      "name" : "Trusted Hosts",
      "providerId" : "trusted-hosts",
      "subType" : "anonymous",
      "subComponents" : { },
      "config" : {
        "host-sending-registration-request-must-match" : [ "true" ],
        "client-uris-must-match" : [ "true" ]
      }
    }, {
      "id" : "6f77ce20-d283-4d7f-8fff-3e0947bc4fbc",
      "name" : "Consent Required",
      "providerId" : "consent-required",
      "subType" : "anonymous",
      "subComponents" : { },
      "config" : { }
    }, {
      "id" : "d5947b79-d025-4712-a1ff-e02dc01ba85d",
      "name" : "Full Scope Disabled",
      "providerId" : "scope",
      "subType" : "anonymous",
      "subComponents" : { },
      "config" : { }
    }, {
      "id" : "c54719df-588a-4c81-bfc0-5e442d1819cd",
      "name" : "Max Clients Limit",
      "providerId" : "max-clients",
      "subType" : "anonymous",
      "subComponents" : { },
      "config" : {
        "max-clients" : [ "200" ]
      }
    }, {
      "id" : "847214e7-248e-436d-b383-2dfdfa727b3a",
      "name" : "Allowed Protocol Mapper Types",
      "providerId" : "allowed-protocol-mappers",
      "subType" : "anonymous",
      "subComponents" : { },
      "config" : {
        "allowed-protocol-mapper-types" : [ "saml-user-attribute-mapper", "oidc-usermodel-attribute-mapper", "saml-user-property-mapper", "oidc-usermodel-property-mapper", "oidc-full-name-mapper", "oidc-address-mapper", "oidc-sha256-pairwise-sub-mapper", "saml-role-list-mapper" ],
        "consent-required-for-all-mappers" : [ "true" ]
      }
    }, {
      "id" : "9262bbcb-5913-4ccb-bcc1-5a8415a1b145",
      "name" : "Allowed Client Templates",
      "providerId" : "allowed-client-templates",
      "subType" : "anonymous",
      "subComponents" : { },
      "config" : { }
    }, {
      "id" : "12fe031d-e817-43e2-92e6-db37c88dea6f",
      "name" : "Allowed Protocol Mapper Types",
      "providerId" : "allowed-protocol-mappers",
      "subType" : "authenticated",
      "subComponents" : { },
      "config" : {
        "allowed-protocol-mapper-types" : [ "saml-user-attribute-mapper", "oidc-usermodel-attribute-mapper", "saml-user-property-mapper", "oidc-usermodel-property-mapper", "oidc-full-name-mapper", "oidc-address-mapper", "oidc-sha256-pairwise-sub-mapper", "saml-role-list-mapper" ],
        "consent-required-for-all-mappers" : [ "true" ]
      }
    }, {
      "id" : "b5fddced-fca8-4119-915d-352af0485f45",
      "name" : "Allowed Client Templates",
      "providerId" : "allowed-client-templates",
      "subType" : "authenticated",
      "subComponents" : { },
      "config" : { }
    } ],
    "org.keycloak.keys.KeyProvider" : [ {
      "id" : "a7ca9a13-eef4-4e4a-8981-7a85200285fd",
      "name" : "rsa-generated",
      "providerId" : "rsa-generated",
      "subComponents" : { },
      "config" : {
        "privateKey" : [ "MIIEogIBAAKCAQEAxfEcF+SP1vGxDARCH8XVYGVHDahgKsUn6S/fLNbDsur12Ts7nSCzTGQhLDuz1T83U0K2u9pUr42ZvLhjgefnUFMROUQ+A3uCcTfVOfVqOBD1vOmjzEAnmhF8vxB4CW4R8sjhlhwxNv+dnqfLmNpga64huU3AeqjgkXANHxnK1qdfgnxhK9t/cr9s9jbhesBwZeB5B2ES0jFgIo0N5yspfAyK/7J9wDuPnv1I71ywQlBRUVAT+sYD2lVOVy9nJ/+BscXSmIu86SUqyp0GE+gJ/AtqYlkGm112rrm4YxU/UiUMt1tXWjWj27GUnoFrbCENOpUk2641PNVp2orcC4lYXwIDAQABAoIBAG3Xrs9Tdr7AwI76jfczwYUMrrFVjogtgEhW2HH5e//9gxBZXmuDifwKVJ5HQzRDMGBz1RPJxNTmrzma2R1to19fuV8eD4u/LlPFt/3Bwn/6aWO8A7mEoHVO3vroGLSi8DLaZtT2MBllIAK6+rCH/pnCt9Qs4XMv4+7RT3bCyVzz6p1y0YyxGqLGvqGkajWLn5ySxWDqTpe7rRVkODHcgDvvIplsnGpeJmyDs3X46+T0rgF5UkxtAE/O1efuyTIMAqCBmvD1oTinLpk6XjhPm1FzmtrFd2AXoaC+u2iDD0gRK4S8eWzAeG9ChX1EpNhK0WiBYJblz7VwzGWoTPLFf4ECgYEA5M36onEIZ9rpiO+mr7+8n/OGLfWM43k3VJZVP/OPvdwp39+wB2Il0e8fnVIZ/BqaMa+fGL3Faajhgbz0wnshkuQlQDp9oFeQfQECIDOt8Edq52M0IeSJXNRdWDNACVC9PsrEm2FUhsFyX4Q+T4XAuLqUgUnp1xOHpIUF+rfrqbsCgYEA3XgLYbQpMyjGrR4UrBXdCNCas6x3nASMFncI+Af1npXA5A3FCjJskgaEW5TWy18Byad/D7IjihwsBBRlUh07RGyDbvwQ6XLGS8yyC+y+aTZhWrAT+/0dS8zX12hE/oPS4w5u4J+cCYHmFiG8njr2DhXGr1ZBVjLCxt2J7haOH60CgYAsiLsD6yRLspxJ/vtesd8w8uFnCKhHjkxqtmgZbnrH5ZZw8MT+augZmIV6xYQxQaxJh3lcA3PtQOXDrtelEvpR8P4fJkNVdjW1XwDe67ArWHtCVljLUAQ8gUk55Z/NMF3lXuotpCAjqntsg/zs1YfRbN+C2rQdHLwGFa44QpwoCQKBgDLlRJBWi+VS6J2ePRfzClHdRsAl0XMMZHlBL9F4WszwE10VgQO/5M2GK+K0CMzB77I9COk9ggdaRA9H9KTzTMyDt4zI5sYPd1yyFPTCmlupgKQLtPwDBjmGQNAjCUAIYW2Gwppic8SHkq3hYOxoFmXUQU3IH8nEbpivDuSlUFIdAoGAFVXwU76rrupxY1vlR4DNffn+hzFMP7SVAxNgkzDszm0uKebp6BoJfZ5z6+LXXoJB2v5+8DrRYn+dsJSLDb9EeUPwbeiC3RxGGy/8oLypXeFTkj8Xre6cohYywAufN00r+7r5+4euYghgxmoexBZ2qBHQcRTpggtHLpIhfEMIRzc=" ],
        "certificate" : [ "MIICmzCCAYMCBgFcwNn1MDANBgkqhkiG9w0BAQsFADARMQ8wDQYDVQQDDAZtYXN0ZXIwHhcNMTcwNjE5MTQ1MzQ4WhcNMjcwNjE5MTQ1NTI4WjARMQ8wDQYDVQQDDAZtYXN0ZXIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDF8RwX5I/W8bEMBEIfxdVgZUcNqGAqxSfpL98s1sOy6vXZOzudILNMZCEsO7PVPzdTQra72lSvjZm8uGOB5+dQUxE5RD4De4JxN9U59Wo4EPW86aPMQCeaEXy/EHgJbhHyyOGWHDE2/52ep8uY2mBrriG5TcB6qOCRcA0fGcrWp1+CfGEr239yv2z2NuF6wHBl4HkHYRLSMWAijQ3nKyl8DIr/sn3AO4+e/UjvXLBCUFFRUBP6xgPaVU5XL2cn/4GxxdKYi7zpJSrKnQYT6An8C2piWQabXXauubhjFT9SJQy3W1daNaPbsZSegWtsIQ06lSTbrjU81WnaitwLiVhfAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAJOJKxMb9b30Dv9J62Usdq/dM3JXRpqMRU4o/iGEKPu+jnItcgppfVycSx1lKVzDVcxJqcITP0lLw17BBOLQiUDZ32He0CwqtgUEzdrBVPVFZZKs0hlcwSuf607S66kzVlr/zWHFFyQuFaHPkNJ71YHJDUQCoYpy7LIXByDsXa8lSifSeX1bumCL7ot7/pfrb+XM3/ZfunaBs8pnVDIZkb34Br+eI+aENsv371+vA/anBWQpwqJ/LTzsakeCFZovqFZWEUPMLH+DzUJDRT6N7iYig9akkgyQH7Wh4Ub8b3XJh5pjeKWFMNs6GAM0Emd9fPYMmouBgReWFxBWSi2FEAQ=" ],
        "priority" : [ "100" ]
      }
    }, {
      "id" : "e866af2b-e523-40fc-8620-1531e7d220d6",
      "name" : "hmac-generated",
      "providerId" : "hmac-generated",
      "subComponents" : { },
      "config" : {
        "kid" : [ "c4c11ec4-1622-4018-b4ec-cd906c17f0f9" ],
        "secret" : [ "JUV1tXHh-9vCGBJVd6IQhiuD0h9kBHMsjbJek-rD17M" ],
        "priority" : [ "100" ]
      }
    } ]
  },
  "internationalizationEnabled" : false,
  "supportedLocales" : [ ],
  "authenticationFlows" : [ {
    "id" : "916c2c9a-579c-49a3-a33b-92596ca9f962",
    "alias" : "Handle Existing Account",
    "description" : "Handle what to do if there is existing account with same email/username like authenticated identity provider",
    "providerId" : "basic-flow",
    "topLevel" : false,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "idp-confirm-link",
      "requirement" : "REQUIRED",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "idp-email-verification",
      "requirement" : "ALTERNATIVE",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "requirement" : "ALTERNATIVE",
      "priority" : 30,
      "flowAlias" : "Verify Existing Account by Re-authentication",
      "userSetupAllowed" : false,
      "autheticatorFlow" : true
    } ]
  }, {
    "id" : "8f9247e1-f5b9-414b-bd93-e505287f31af",
    "alias" : "Verify Existing Account by Re-authentication",
    "description" : "Reauthentication of existing account",
    "providerId" : "basic-flow",
    "topLevel" : false,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "idp-username-password-form",
      "requirement" : "REQUIRED",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "auth-otp-form",
      "requirement" : "OPTIONAL",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    } ]
  }, {
    "id" : "3e4455ae-5f48-4ba5-9ae4-df48c2ffe6ad",
    "alias" : "browser",
    "description" : "browser based authentication",
    "providerId" : "basic-flow",
    "topLevel" : true,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "auth-cookie",
      "requirement" : "ALTERNATIVE",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "auth-spnego",
      "requirement" : "DISABLED",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "identity-provider-redirector",
      "requirement" : "ALTERNATIVE",
      "priority" : 25,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "requirement" : "ALTERNATIVE",
      "priority" : 30,
      "flowAlias" : "forms",
      "userSetupAllowed" : false,
      "autheticatorFlow" : true
    } ]
  }, {
    "id" : "150b7ced-d285-471a-9cb1-22de067875fa",
    "alias" : "clients",
    "description" : "Base authentication for clients",
    "providerId" : "client-flow",
    "topLevel" : true,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "client-secret",
      "requirement" : "ALTERNATIVE",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "client-jwt",
      "requirement" : "ALTERNATIVE",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    } ]
  }, {
    "id" : "c0943a5d-ceaf-4c73-a479-0f164f259e8e",
    "alias" : "direct grant",
    "description" : "OpenID Connect Resource Owner Grant",
    "providerId" : "basic-flow",
    "topLevel" : true,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "direct-grant-validate-username",
      "requirement" : "REQUIRED",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "direct-grant-validate-password",
      "requirement" : "REQUIRED",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "direct-grant-validate-otp",
      "requirement" : "OPTIONAL",
      "priority" : 30,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    } ]
  }, {
    "id" : "dd035fec-d985-421c-bed7-d8a3980bb663",
    "alias" : "first broker login",
    "description" : "Actions taken after first broker login with identity provider account, which is not yet linked to any Keycloak account",
    "providerId" : "basic-flow",
    "topLevel" : true,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticatorConfig" : "review profile config",
      "authenticator" : "idp-review-profile",
      "requirement" : "REQUIRED",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticatorConfig" : "create unique user config",
      "authenticator" : "idp-create-user-if-unique",
      "requirement" : "ALTERNATIVE",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "requirement" : "ALTERNATIVE",
      "priority" : 30,
      "flowAlias" : "Handle Existing Account",
      "userSetupAllowed" : false,
      "autheticatorFlow" : true
    } ]
  }, {
    "id" : "96452540-e86a-4398-a722-0359a29da147",
    "alias" : "forms",
    "description" : "Username, password, otp and other auth forms.",
    "providerId" : "basic-flow",
    "topLevel" : false,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "auth-username-password-form",
      "requirement" : "REQUIRED",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "auth-otp-form",
      "requirement" : "OPTIONAL",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    } ]
  }, {
    "id" : "b5fd1e00-abe8-4dab-b7a6-2f1118af6ace",
    "alias" : "registration",
    "description" : "registration flow",
    "providerId" : "basic-flow",
    "topLevel" : true,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "registration-page-form",
      "requirement" : "REQUIRED",
      "priority" : 10,
      "flowAlias" : "registration form",
      "userSetupAllowed" : false,
      "autheticatorFlow" : true
    } ]
  }, {
    "id" : "7fa12813-6915-4abe-b66f-6e1e5d399c43",
    "alias" : "registration form",
    "description" : "registration form",
    "providerId" : "form-flow",
    "topLevel" : false,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "registration-user-creation",
      "requirement" : "REQUIRED",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "registration-profile-action",
      "requirement" : "REQUIRED",
      "priority" : 40,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "registration-password-action",
      "requirement" : "REQUIRED",
      "priority" : 50,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "registration-recaptcha-action",
      "requirement" : "DISABLED",
      "priority" : 60,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    } ]
  }, {
    "id" : "f12bfceb-9531-4610-8844-29cfa3b3ca4f",
    "alias" : "reset credentials",
    "description" : "Reset credentials for a user if they forgot their password or something",
    "providerId" : "basic-flow",
    "topLevel" : true,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "reset-credentials-choose-user",
      "requirement" : "REQUIRED",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "reset-credential-email",
      "requirement" : "REQUIRED",
      "priority" : 20,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "reset-password",
      "requirement" : "REQUIRED",
      "priority" : 30,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    }, {
      "authenticator" : "reset-otp",
      "requirement" : "OPTIONAL",
      "priority" : 40,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    } ]
  }, {
    "id" : "3f503b9b-b5fd-41fc-bc4f-f19432a0502e",
    "alias" : "saml ecp",
    "description" : "SAML ECP Profile Authentication Flow",
    "providerId" : "basic-flow",
    "topLevel" : true,
    "builtIn" : true,
    "authenticationExecutions" : [ {
      "authenticator" : "http-basic-authenticator",
      "requirement" : "REQUIRED",
      "priority" : 10,
      "userSetupAllowed" : false,
      "autheticatorFlow" : false
    } ]
  } ],
  "authenticatorConfig" : [ {
    "id" : "e4357662-a12c-4342-bc9d-07a75795bf55",
    "alias" : "create unique user config",
    "config" : {
      "require.password.update.after.registration" : "false"
    }
  }, {
    "id" : "a8ac98a3-8af8-476f-ab47-11d4f5e5b195",
    "alias" : "review profile config",
    "config" : {
      "update.profile.on.first.login" : "missing"
    }
  } ],
  "requiredActions" : [ {
    "alias" : "CONFIGURE_TOTP",
    "name" : "Configure OTP",
    "providerId" : "CONFIGURE_TOTP",
    "enabled" : true,
    "defaultAction" : false,
    "config" : { }
  }, {
    "alias" : "UPDATE_PASSWORD",
    "name" : "Update Password",
    "providerId" : "UPDATE_PASSWORD",
    "enabled" : true,
    "defaultAction" : false,
    "config" : { }
  }, {
    "alias" : "UPDATE_PROFILE",
    "name" : "Update Profile",
    "providerId" : "UPDATE_PROFILE",
    "enabled" : true,
    "defaultAction" : false,
    "config" : { }
  }, {
    "alias" : "VERIFY_EMAIL",
    "name" : "Verify Email",
    "providerId" : "VERIFY_EMAIL",
    "enabled" : true,
    "defaultAction" : false,
    "config" : { }
  }, {
    "alias" : "terms_and_conditions",
    "name" : "Terms and Conditions",
    "providerId" : "terms_and_conditions",
    "enabled" : false,
    "defaultAction" : false,
    "config" : { }
  } ],
  "browserFlow" : "browser",
  "registrationFlow" : "registration",
  "directGrantFlow" : "direct grant",
  "resetCredentialsFlow" : "reset credentials",
  "clientAuthenticationFlow" : "clients",
  "attributes" : {
    "_browser_header.xXSSProtection" : "1; mode=block",
    "_browser_header.xFrameOptions" : "SAMEORIGIN",
    "quickLoginCheckMilliSeconds" : "1000",
    "displayName" : "Keycloak",
    "_browser_header.xRobotsTag" : "none",
    "maxFailureWaitSeconds" : "900",
    "minimumQuickLoginWaitSeconds" : "60",
    "displayNameHtml" : "<div class=\"kc-logo-text\"><span>Keycloak</span></div>",
    "failureFactor" : "30",
    "maxDeltaTimeSeconds" : "43200",
    "_browser_header.xContentTypeOptions" : "nosniff",
    "bruteForceProtected" : "false",
    "_browser_header.contentSecurityPolicy" : "frame-src 'self'",
    "waitIncrementSeconds" : "60"
  },
  "keycloakVersion" : "3.1.0.Final"
}
