.wrap-dd-menu .dropdown:before
  border-width 0
  border-style hidden

.wrap-dd-menu .dropdown:after
  border-width 0
  border-style hidden

.wrap-dd-menu .dropdown
  border-radius 0px

.wrap-dd-menu .dropdown li a
  border-bottom hidden
  font-size 18px

.wrap-dd-menu
  padding 0px
