<div class="paging-buttons-area" ng-show="isPagination()">
  <md-button
    ng-disabled="!hasPreviousPage()"
    ng-click="firstPage()">
    <span><<</span>
  </md-button>
  <md-button
    ng-disabled="!hasPreviousPage()"
    ng-click="previousPage()">
    <span><</span>
  </md-button>
  <md-button disabled>
    <span>{{getCurrentPageNumber()}}</span>
  </md-button>
  <md-button
    ng-disabled="!hasNextPage()"
    ng-click="nextPage()">
    <span>></span>
  </md-button>
  <md-button
    ng-disabled="!hasNextPage()"
    ng-click="lastPage()">
    <span>>></span>
  </md-button>
</div>
