.add-project-templates
  min-width 520px
  user-select none

  .header-label
    line-height 40px

  .template-list
    position relative
    margin-bottom 30px

  .template-list > div
    overflow-y auto
    min-height 50px
    max-height 288px
    max-width  900px
    margin 45px 0 10px 0
    border-top 1px solid $list-separator-color

    .che-list-header .che-list-header-additional
      display none

    .che-list-header md-item
      border-top none

    .che-list-header .che-list-header-content > *
      border-bottom none

    .che-list-header .che-list-item-row
      margin 0
      margin-top -40px

      .che-list-header-column > *
        position absolute
        top -40px
        line-height 40px

    .che-list
      margin 0

      div.che-list-item-details
        cursor default


    .che-list-item md-item-content
      display inline-block
      width 100%

    .che-list-item-content
      display inline-block
      margin-bottom -4px

    .che-list-header-content .che-list-item-details > div:first-child,
    .che-list-item-content .che-list-item-details > div:first-child
      padding-left 20px

    .che-list-item-content .che-list-item-details > div:last-child
      height 100%
      overflow visible

      md-switch
       height 100%
       margin auto
       overflow visible

  .footer-label
    display inline-block
    line-height 30px
    margin-top 10px
    float right

.add-project-templates  che-button-primary,
.add-project-templates  che-button-notice
  float right

  button
    margin-right 0
    margin-bottom 0
