<div class="che-label-container" layout="column" flex>
  <div layout="{{alignment ? alignment : 'row'}}" flex layout-align="start start" class="che-label-container-row">
    <div layout="column" class="che-label-container-label">
      <label class="che-label-container-label-name">
        {{labelName}}
        <span class="che-label-container-description" ng-if="labelDescription"
              popover-placement="bottom"
              popover-append-to-body="true"
              popover-trigger="mouseenter"
              popover-class="che-label-container-popover"
              uib-popover-html="'<span>{{labelDescription}}</span>'">
            <span class="fa fa-question"></span>
          </span>
      </label>
    </div>
    <div layout="column" flex class="che-label-container-content" ng-transclude></div>
  </div>
</div>
