.che-label-container
  margin 0 25px
  padding 25px 0
  border-bottom 1px solid $list-separator-color

  .che-input-box
    min-height 50px

  &:not(.che-label-container-not-last):last-child, &.che-label-container-last
    border-bottom none

  .che-label-container-label
    white-space normal
    line-height 36px
    width 200px

  .che-label-container-label-name
    color $label-secondary-color
    font-weight 700 !important
    letter-spacing 1.3px
    margin-right 5px

  .che-label-container-description
    display inline-block
    cursor pointer
    width 20px
    height 20px
    line-height 20px
    text-align center
    color $white-color
    border-radius 3px
    background-color $disabled-color
    &:hover
      background-color $primary-color
    .fa-question
      padding 0 !important
      &:before
        font-size 14px

  .che-label-container-divider
    border-bottom 1px solid $list-separator-color
    margin-top 26px

  .che-label-container-content

    /* inner container */
    .che-label-container-label
      min-width 150px
      width 150px

  button.che-toggle-button
    margin-top 0
    margin-bottom 0

.che-label-container-popover
  max-width 185px
  margin-top 15px
  color $white-color
  background-color $che-black-color
  .arrow:after
    border-bottom-color $che-black-color !important
