.che-label-container
  padding 12px 0

  .che-label-container-label
    margin 12px 0
    min-width 180px
    width 180px

  .che-label-container-label-name
    color lighten($che-ide-background-color, 53%)
    text-transform uppercase
    letter-spacing 1.3px
    font-size 12px
    font-weight 600 !important
    margin-right 10px

  .che-label-container-description
    color lighten($stroke-color, 16%)
    font-size 11px
    margin-top 5px

  .che-label-container-content
    margin 12px 0

    /* inner container */
    .che-label-container-label
      min-width 150px
      width 150px
