md-content.factory-details
  overflow auto
  min-height calc(100vh - 152px)

md-progress-linear.factory-details-progress
  z-index 1
  height 10px
  position absolute

.factory-details-content
  background-color $white-color !important
  padding 0 14px

  button
    margin-left 0
    margin-right 0
    margin-bottom 16px

  .factory-delete-label label
    color $che-delete-label-color
