.add-import-project

  md-divider
    border-top-color $box-border-color !important
    margin 0
    margin-top 21px

.add-import-project

  .add-import-project-toggle-buttons,
  .add-import-project-sources
    margin 1px 35px 17px 35px

  .add-import-project-toggle-buttons .che-toggle-button .che-toggle-title
    font-size 12px

  // todo these buttons are needed in add-import-project and edit-project views
  .add-import-project-button

    che-button-primary button.md-button.che-button.md-accent,
    che-button-cancel-flat button.md-button.che-button.md-accent,
    che-button-danger button.md-button.md-danger-theme.md-accent
      padding-top 2px
      margin 6px !important

    che-button-cancel-flat button.md-button.che-button.md-accent,
    che-button-danger button.md-button.md-danger-theme.md-accent
      background-color $che-white-color !important
      border none !important
      box-shadow none !important

      &[disabled] span
        color $disabled-color !important

    che-button-cancel-flat button.md-button.che-button.md-accent span
      color $grey-input-label-color !important

    che-button-danger button.md-button.md-danger-theme.md-accent span
      color $error-color !important
