<div class="import-git">
  <ng-form name="importGitProjectForm">

    <che-input-box ng-init="importGitProjectController.registerForm(importGitProjectForm)"
                   che-form="importGitProjectForm"
                   che-name="remoteGitURL"
                   id="remote-git-url-input"
                   che-label-name="Git URL"
                   che-place-holder="Url of the git repository"
                   aria-label="Url of the git repository"
                   che-width="auto"
                   che-on-change="importGitProjectController.onChanged($value)"
                   ng-model="importGitProjectController.location"
                   ng-model-options="{allowInvalid: true}"
                   git-url
                   required>
      <div ng-message="gitUrl" ng-if="importGitProjectForm.$touched">Invalid Git URL</div>
    </che-input-box>

  </ng-form>
</div>
