.che-dropzone
  border-style dashed
  height 100px
  border-color $list-separator-color
  color $label-info-color


.che-dropzone-hover-ok
  background-color $valid-color

.che-dropzone-hover-ko
  background-color $invalid-color
