.factory-commands-panel
  margin-top -6px

  & > div
    margin-bottom 10px

  .factory-commands-input
    min-height 50px
    height 50px

  .che-input
    margin-right 20px

  .factory-commands-list
    max-height 500px
    max-width 600px

    md-list
      margin 0

    div
      outline none

    md-icon
      font-size 18px
      height auto
      width auto
      color $clear-foggy-sky-color
      line-height 18px

    .factory-commands-widget-actions
      display inline-block
      line-height inherit
      min-height 100%
      cursor pointer
      outline none
      margin-right 0
      margin-left 10px

      span
        line-height inherit

      .fa-times-circle::before,
      .fa-edit::before
        position relative
        top 3px

    .factory-commands-row-command-name
      min-width 220px
      width 220px

      span
        padding 2px

    .factory-commands-row-command
      cursor pointer
