<che-popup title="Edit command" on-close="factoryCommandDialogEditCtrl.abort()">
  <form name="editActionForm" flex>
    <che-input focusable
               che-name="Editing"
               che-form="editActionForm"
               che-label-name="Param"
               required
               ng-model="factoryCommandDialogEditCtrl.selectedValue">
      <div ng-message="required">Param is required</div>
    </che-input>
    <che-button-notice che-button-title="Close"
                       ng-click="factoryCommandDialogEditCtrl.abort()">
    </che-button-notice>
    <che-button-primary
      che-button-title="Save" ng-disabled="editActionForm.$invalid"
      ng-click="factoryCommandDialogEditCtrl.edit()"></che-button-primary>
  </form>
</che-popup>
