<div class="che-steps-container">
  <che-accordion ng-repeat="step in allSteps"
                 ng-hide="$index === allSteps.length-1"
                 che-open-condition="($index === currentStep)"
                 ng-class="{'che-accordion-active': ($index === currentStep),
                            'che-accordion-error': allSteps[$index].hasError}">
    <div class="che-accordion-title">
      <span>{{allSteps[$index].text}}{{$index < currentStep ? ' ... completed' : ''}}</span>
    </div>
    <div class="che-accordion-body"
         ng-class="{'steps-container-output-empty': (allSteps[$index].logs.length === 0)}">
      <che-logs-output che-title="{{allSteps[$index].inProgressText}}"
                       che-text="allSteps[$index].logs"
                       che-scrollback="100"
                       che-refresh-time="500"></che-logs-output>
    </div>
  </che-accordion>
</div>
