.che-filter-selector
   outline none
   min-width 150px

  md-open-menu-container
    min-width 150px

  md-menu-item
    overflow-x hidden
    text-overflow ellipsis
    display inline !important

  .che-filter-selector-button
    min-height 36px
    line-height 36px
    height 100%
    color $primary-color
    border 1px solid $primary-color
    border-radius 2px
    padding 0px 10px
    outline none

    span
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

    i
      font-size 20px
      font-weight bold
      margin-left 5px

  .che-filter-selector-button:hover
    che-brightness(90%)
    cursor pointer

.che-filter-item
  padding 10px
  min-height 18px
  height 18px
  box-sizing content-box
  cursor pointer
  outline none

.che-filter-item:hover
  background-color $hover-on-list-color

.che-filter-item:not(:last-of-type)
  border-bottom 1px solid $list-separator-color

.che-filter-selector-items
  margin 0px
  padding 0px
  min-width 150px
  border 1px solid $primary-color


