<md-menu md-offset="1 35" class="che-filter-selector">
  <div ng-click="$mdOpenMenu($event)" class="che-filter-selector-button" ng-style="{width: cheFilterSelectorController.width}">
   <div ng-init="cheFilterSelectorController.valueModel = cheFilterSelectorController.valueModel || cheFilterSelectorController.values[0]"
        layout="row" layout-align="start center">
     <span>{{cheFilterSelectorController.valueModel}}</span>
      <span flex></span>
     <i class="fa fa-angle-down"></i>
   </div>
  </div>
  <md-menu-content class="che-filter-selector-items" ng-style="{width: cheFilterSelectorController.width}">
    <md-menu-item layout="column" class="che-filter-item"
                  ng-repeat="value in cheFilterSelectorController.values"
                  ng-click="cheFilterSelectorController.selectValue(value)">
        {{value}}
    </md-menu-item>
  </md-menu-content>
</md-menu>
