.user-list-row
  margin 0

  & > div
    outline none

  .user-email,
  .user-permissions
    max-width 100%

  .user-permissions
    color $label-info-color

  .user-face
    che-developers-face()
    height 16px
    width 16px
    margin-right 5px
