<che-panel che-title="Docker Registries" che-title-icon="material-design icon-ic_widgets_24px">
  <div class="docker-registry-list">
    <md-progress-linear md-mode="indeterminate" ng-show="dockerRegistryListController.isLoading"></md-progress-linear>
    <div ng-show="!dockerRegistryListController.isLoading">
      <div>{{dockerRegistryListController.registries.length > 0 ? 'List of registries' : 'No registries found'}}</div>
      <md-content class="registry-management-content">
        <div flex layout="row" layout-align="end center">
          <che-list flex ng-if="dockerRegistryListController.registries && dockerRegistryListController.registries.length > 0">
            <che-list-item ng-repeat="registry in dockerRegistryListController.registries | orderBy:'registry.username'" flex-gt-sm="100" flex="33"
                           ng-mouseover="hover=true"
                           ng-mouseout="hover=false">
              <div layout-gt-sm="row" flex="100" class="registry-row" layout-align="start center">
                <span class="registry-url" flex="50" layout="row">{{registry.url}}</span>
                <span class="registry-user-data" flex="30" layout="row">{{registry.username}}</span>
              <span class="registry-actions" flex="5" layout="row" ng-show="hover" layout-align="end center">
                <span class="material-design icon-ic_mode_edit_24px"
                      tooltip="Edit registry"
                      ng-click="dockerRegistryListController.showEditRegistryDialog($event, registry);">
                </span>
              </span>
              <span class="registry-actions" flex="5" layout="row" ng-show="hover" layout-align="center center">
                <span class="material-design icon-ic_remove_circle_outline_24px"
                      tooltip="Remove registry"
                      ng-click="dockerRegistryListController.removeRegistry($event, registry);">
                </span>
              </span>
              </div>
            </che-list-item>
          </che-list>
          <div class="add-registry-button-container"
               layout-gt-sm="column" layout-align="end center">
            <md-button class="md-fab"
                       tooltip="Add private registry"
                       aria-label="add member"
                       ng-click="dockerRegistryListController.showAddRegistryDialog($event);">
              <span class="fa fa-plus"></span>
            </md-button>
          </div>
        </div>
      </md-content>
    </div>
  </div>
</che-panel>
