.docker-registry-panel > div
  margin-bottom 0

.registry-management-content
  overflow visible
  min-height 110px
  padding 0 0 15px 0

  .registry-url,
  .registry-user-data
    margin 0
    width 100%

  .registry-url
    color $link-color
