.edit-project

  md-divider
    border-top-color $box-border-color !important
    margin 0
    margin-top 21px

.edit-project

  .edit-project-button

    che-button-primary button.md-button.che-button.md-accent,
    che-button-cancel-flat button.md-button.che-button.md-accent,
    che-button-danger button.md-button.md-danger-theme.md-accent
      padding-top 2px
      margin 6px !important

    che-button-cancel-flat button.md-button.che-button.md-accent,
    che-button-danger button.md-button.md-danger-theme.md-accent
      background-color $che-white-color !important
      border none !important
      box-shadow none !important

      &[disabled] span
        color $disabled-color !important

    che-button-cancel-flat button.md-button.che-button.md-accent span
      color $grey-input-label-color !important

    che-button-danger button.md-button.md-danger-theme.md-accent span
      color $error-color !important

