<ng-form name="editProjectController.editProjectForm"
         class="edit-project">

  <project-metadata template="editProjectController.projectTemplate"
                    template-name="{{editProjectController.projectTemplate.name}}"
                    project-form="editProjectController.editProjectForm"
                    is-project-name-unique="editProjectController.isProjectNameUnique({name: name})"></project-metadata>

  <md-divider></md-divider>

  <div  flex layout="row" layout-align="center stretch"
        class="edit-project-button">
    <div flex layout="row" layout-align="start center">
      <che-button-danger che-button-title="Remove"
                         name="removeButton"
                         ng-click="editProjectController.projectTemplateOnRemove()"></che-button-danger>
    </div>
    <div flex layout="row" layout-align="end center">
      <che-button-cancel-flat che-button-title="Cancel"
                              name="cancelButton"
                              ng-disabled="editProjectController.disableSaveAndCancelButtons()"
                              ng-click="editProjectController.projectTemplateOnCancel()"></che-button-cancel-flat>
      <che-button-primary che-button-title="Save"
                          name="saveButton"
                          ng-disabled="editProjectController.isInvalid() || editProjectController.disableSaveAndCancelButtons()"
                          ng-click="editProjectController.projectTemplateOnSave()"></che-button-primary>
    </div>
  </div>

</ng-form>
