.edit-project
  md-divider
    border-top-color $box-border-color
  .edit-project-button
    button
      margin 6px

    che-button-cancel-flat,
    che-button-danger
      button
        background-color $white-color !important
        box-shadow none !important
        border none
        &[disabled]
          color $disabled-color

    che-button-cancel-flat button
      color $grey-input-label-color

    che-button-danger button
      color $error-color !important

