md-content.plugins-content
  background-color $list-separator-color


.plugins-staged-zone-action
  padding-top 20px
  padding-bottom 20px


.plugins-table
  width 100%

.plugins-table che-link
  margin-left 10px

.plugins-table, .plugins-table th, .plugins-table td
  border-collapse collapse
  empty-cells show
  border-width 1px
  border-style solid
  border-color $list-separator-color

.plugins-table th
  background-color $table-header-color
  font-size 18px
  color $label-primary-color

.plugins-table th, .plugins-table td
  padding: 1em

.plugins-greyed-action
  color $label-info-color
  font-style italic

.plugins-install-output
  height 450px
  overflow scroll
  padding 15px
  box-shadow-simple()

.plugin-install-build-label
  font-size 18px
  color $label-info-color
  margin-right 20px

.plugins-panel-subtitle
  margin-top -15px
  margin-bottom 15px

.plugins-review-box
  margin-top 10px
  text-align right

.plugin-empty-space
  min-height 700px


.plugins-nothing-now
  color $label-info-color

.plugins-build-failed
  color red
  margin-bottom 15px
