.copy-clipboard
  border none
  background none
  display inline-block

.copy-clipboard-area
  width 28px
  height 28px
  margin-bottom -5px
  text-align center
  border none
  background none
  cursor pointer
  position relative
