.admins-add-user-form
  min-width 520px

  .form-input-fields
    margin 20px 0px

  che-filter-selector
    margin-bottom 20px
    line-height 33px

  .che-input-box-desktop
    width 520px
    max-width 520px

  label
    max-width 23% !important
    width 23% !important
    margin-top 10px

  input
    width 400px
    float right

.admins-add-user-form .che-input-desktop-label
  margin-top 1px

.admins-add-user-form .password-prompt,
.admins-add-user-form .che-input-desktop-label
  min-width 125px

.admins-add-user-form .password-prompt
  font-size 12px
  color $disabled-color
  margin-bottom 20px

.admins-add-user-form .password-prompt p
  margin-top 5px
  margin-bottom 5px

.admins-add-user-form .password-prompt
  .password-prompt-text
    min-width 125px

  .pass-strength
    width 100%

  & > div
    margin-bottom 10px
