
.che-button-right-bottom
  position fixed
  bottom 0
  right 0
  margin 20px

.project-details-content
  padding 15px

.projects-details-project-ws-not-started
  margin-top 15px

.projects-details-project
  padding 0 14px

  button
    margin-left 0
    margin-right 0
    margin-bottom 16px

  .workspace-delete-label label
    color $che-delete-label-color

  .che-label-container-content .project-details-input
    margin -6px 0
