.che-select .che-select-container
  outline none

.che-select .che-select-mobile,
.che-select .che-select-desktop
  width 100%

.che-select .che-select-desktop .che-select-container
  position relative
  min-height 21px
  min-width 200px

.che-select .che-select-desktop md-select
  min-height 22px
  height 22px
  margin 0
  border-bottom 1px solid $default-border-color

.che-select .che-select-desktop md-select > *
  border none !important

.che-select .che-select-desktop md-select-value
  margin 0
  padding 0
  min-height 18px

.che-select .che-select-desktop md-select-value .md-select-icon
  text-align center
  margin -12px 0 0 0
  height 15px
  width 15px

.che-select .che-select-desktop label
  line-height 21px

.che-custom-dropdown
  margin-left 2px
  border 1px solid $frame-subscription-color

.che-custom-dropdown md-select-menu
  max-height 180px

.che-custom-dropdown md-option
  height 18px
  padding 0 0 0 3px

.che-custom-dropdown .md-text
  font-size inherit !important

.che-select [ng-message]
  color $error-color
