.warnings-container
  position relative
  cursor pointer
  outline none

.warnings-container-icon
  font-size 19px
  line-height 19px
  color $warning-color
  margin-right 10px

.warnings-menu-content
  padding 5px 0px
  margin 0px

.warnings-item-icon
  font-size 19px
  color $warning-color
  margin-right 10px
  margin-top 2px

.warning-item
  width 350px
  margin 0px 20px
  min-height 18px
  height 100%
  padding 10px 0px

.warning-item:not(:last-of-type)
  border-bottom 1px solid $list-separator-color

.warning-item-content
  padding 0px

.warning-item-message
  word-wrap break-word
  white-space normal
  overflow hidden
  text-overflow ellipsis

.warnings-count
  color $menu-bg-color !important
  position relative
  font-size 13px
  line-height 19px
  vertical-align middle

