<md-menu ng-if="workspaceWarningsController.warnings.length > 0" md-offset="0 40">
  <div ng-click="$mdOpenMenu($event)" class="warnings-container" layout="row" layout-align="start center">
    <i class="fa fa-exclamation-triangle fa-2x warnings-container-icon"></i>
    <div class="warnings-count" ng-if="workspaceWarningsController.warnings.length > 1">
      {{workspaceWarningsController.warnings.length}} warnings
    </div>
    <div class="warnings-count" ng-if="workspaceWarningsController.warnings.length === 1">
      {{workspaceWarningsController.warnings.length}} warning
    </div>
  </div>
  <md-menu-content class="warnings-menu-content">
    <md-menu-item layout="column" class="warning-item" ng-repeat="warning in workspaceWarningsController.warnings">
      <div layout="row" layout-align="start start" class="warning-item-content">
        <i class="fa fa-exclamation-triangle fa-2x warnings-item-icon"></i>
        <div class="warning-item-message">{{warning.message}}</div>
      </div>
    </md-menu-item>
  </md-menu-content>
</md-menu>


