.import-devfile-by-url
  margin 0
  min-height 90px
  .ng-active[ng-messages] .ng-scope:not(:first-child)
    display none

  .che-button
    margin-bottom 0
    padding-bottom 0

  che-show-area workspace-devfile-editor
    width 100%
    margin-bottom 12px
    .config-import
      margin 0
      .config-editor
        margin 0
    a
      display none

  .devfile-show-content
    position: relative
    .additional-info
      position absolute
      bottom 0
      left 140px
      line-height 38px
      color $grey-input-label-color
