.workspace-members-panel
  min-height 70px

  .che-panel-titlebox
    margin-bottom 0

.workspace-users-content
  padding 15px

.workspace-users-list
  margin 0

.no-permissions-error
  padding 20px
  font-size 10pt

.no-permissions-error span
  margin-right 10px
