<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018-2018 Red Hat, Inc.
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

    Contributors:
      Red Hat, Inc. - initial API and implementation

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <absolute-ordering></absolute-ordering>

    <servlet>
        <servlet-name>WSLoader</servlet-name>
        <servlet-class>org.eclipse.che.WSLoaderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WSLoader</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/loader/*</url-pattern>
    </servlet-mapping>

</web-app>
