<ng-form name="editCommandForm" class="edit-command-form">
  <div class="form-input-fields">
    <che-input type="text"
               che-form="editCommandForm"
               che-label-name="Name"
               che-name="name"
               che-place-holder="enter command's name"
               custom-validator="editCommandDialogController.isUnique($value)"
               ng-model="editCommandDialogController.name"
               ng-maxlength="256"
               required>
      <div ng-message="required">Command's name is required.</div>
      <div ng-message="customValidator">This command's name is already in use.</div>
      <div ng-message="maxlength">Command's name should be less than 256 characters long.</div>
    </che-input>
    <che-input che-form="editCommandForm"
               che-label-name="Command"
               che-name="command"
               che-place-holder="enter command's line"
               type="text"
               ng-model="editCommandDialogController.commandLine"
               ng-maxlength="256"
               required>
      <div ng-message="required">Command's line is required.</div>
      <div ng-message="maxlength">Command's line should be less than 256 characters long.</div>
    </che-input>
    <che-input che-form="editCommandForm"
               che-name="previewUrl"
               che-label-name="Preview URL"
               che-place-holder="enter preview URL"
               ng-maxlength="256"
               type="text"
               ng-model="editCommandDialogController.previewUrl">
      <div ng-message="maxlength">Command's preview URL should be less than 256 characters long.</div>
    </che-input>
  </div>
  <che-button-primary che-button-title="Update"
                      ng-click="editCommandDialogController.updateCommand()"
                      ng-disabled="editCommandForm.$invalid">
  </che-button-primary>
  <che-button-notice che-button-title="Cancel"
                     ng-click="editCommandDialogController.hide()">
  </che-button-notice>
</ng-form>
