.edit-command-form
  margin 17px 12px 17px 12px
  min-width 520px
  max-width 80%

  .che-input-desktop-label
    margin-top 1px

  .che-input-desktop-label
    min-width 125px

  .form-input-fields
    margin 5px

  .che-input
    min-height 38px

.add-registry-form che-button-primary,
.add-registry-form che-button-notice
  margin-right 5px
  float right
