.che-panel
  margin-left 24px
  margin-top 32px
  margin-bottom 10px
  margin-right 24px
  background-color $background-color
  box-shadow-bigger()
  position: relative

.che-panel .che-panel-title
  color $mouse-gray-color
  margin-left 10px
  font-size 1.2em
  outline 0
  cursor pointer

.che-panel .che-panel-title-icon
  margin-right 10px

.che-panel .che-panel-titlebox i
  cursor pointer
  font-size 30px
  margin-top 0px
  margin-right 10px
  outline 0

.che-panel .che-panel-titlebox
  background-color $default-dark-color
  line-height 33px
  height 33px
  border-top-left-radius 2px
  border-top-right-radius 2px
  margin-bottom 0

.che-panel .che-panel-titlebox .che-panel-title-tooltip-icon
  font-size 1em
  margin-left 17px
  margin-top 7px
  color $background-color
  font-weight normal

.che-panel-glass
  background-color #CCCCCC
  opacity 0.8
  top 0
  bottom 0
  left 0
  right 0
  position absolute

md-card-content.che-panel-content
  padding-top 0px
  padding-left 24px
  padding-bottom 10px
  padding-right 24px

.che-panel .che-panel-title-top
  height 9px

.che-panel .che-panel-title-bottom
  background-color $background-color
  height 24px

.che-panel .che-panel-title-bottom:before
  content ""
  background-image url("../assets/images/header-triangle.svg")
  width 23px
  height 24px
  position absolute
  background-size 24px 24px
  background-repeat no-repeat
  background-position center /*
  border-top 24px solid $default-dark-color
  border-right 16px solid transparent*/

