.workspace-ssh-content
  margin 0
  button
    margin 0

.workspace-ssh-content
  .che-text-info-mobile span, .che-text-info-desktop span
    border-width 0
    padding-bottom 20px

  .che-text-info-mobile span label, .che-text-info-desktop span label
    max-width 500px
    word-wrap break-word
    font-family Fixed, monospace
    color $disabled-color

  .che-text-info .copy-clipboard
    margin-top 50px
    margin-left 20px

  .workspace-ssh-content-notice
    padding-top 20px

  .che-list-item-content *:not(.tooltip)
     overflow visible

  .che-list-header md-item
    border none

  .che-list-header-content > *
    margin: 0

  .che-list
    margin: 0

  .workspace-ssh-content-invalid-notification
    background-color $invalid-color
    color $error-color
    padding: 5px
    margin: 10px 0 10px 0

  .fa
      font-size 18px
      padding-right 5px

.workspace-ssh-content .workspace-ssh-content-private .che-text-info-desktop span label
    white-space pre
