.ide-page-frame
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  border none

.open-ide-page
  position relative
  color $white-color

.ide-page-loader
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin auto

.ide-page-loader-content img
  max-width 140px
  max-height 140px
  animation-name opacity
  animation-duration 2s
  animation-iteration-count infinite
  animation-timing-function ease-in-out

@keyframes opacity
  0%, 100%
    opacity 0
  50%
    opacity 1
