.ide-page-frame
  width 100%
  border none

.open-ide-page
  position relative
  color $white-color

.ide-page-loader
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin auto

.ide-page-loader-content
  width 120px
  height 120px
