.navbar-teams
  .navbar-subsection-item
    height 19px
    min-height 19px
    line-height 19px

    .md-button
      height 19px !important
      min-height 19px !important

      .navbar-item
        line-height 19px !important

        .navbar-icon
          height 19px !important
          line-height 19px !important

  .navbar-teams-list
    overflow auto

  ::-webkit-scrollbar-thumb
    background-color rgba(255,255,255,.1)

  ::-webkit-scrollbar-thumb:hover
    background-color rgba(255,255,255,.2)
