<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cefclient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cefclient_helper_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>cefsimple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cefsimple_helper_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libcef_dll_wrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>133D717A261671E2E7436E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2916E82F3EC2DAD294B80199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4461952BE98494E4287D6979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81DADF88F59EF7A9BB7896F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00A84FCBECD01FD0405B3D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31BB7F057C76F6CFB57F484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
