
RewriteRule ^/api/(.*)$     /wsmaster/api/$1    [L]
RewriteRule ^/factory\\?(.*)$     /dashboard/#/load-factory/$1    [R,NE]
RewriteRule ^/factory/(.*)$     /dashboard/#/load-factory/$1    [R,NE]
RewriteRule ^/f/?(.*)$     /dashboard/#/load-factory/$1    [R,NE]
RewriteRule ^/f\\?(.*)$     /dashboard/#/load-factory/$1    [R,NE]
