<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2012-2017 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <servlet>
        <servlet-name>IDE</servlet-name>
        <jsp-file>/IDE.jsp</jsp-file>
    </servlet>

    <filter>
        <filter-name>dashboardFilter</filter-name>
        <filter-class>org.eclipse.che.DashboardRedirectionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dashboardFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>IDE</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/_app/*</url-pattern>
    </servlet-mapping>

    <security-role>
        <description>the user role</description>
        <role-name>developer</role-name>
    </security-role>

</web-app>
