.diagnostics-content
  overflow visible
  min-height 110px
  padding 0 0 15px 0

  .che-diagnostic-parent-list
    margin-left 20px
    margin-right 20px
    border 1px solid $list-separator-color

  .che-list-diagnostic
    min-height 50vh
    max-height 50vh
    margin-left 0px
    margin-right 0px

  .diagnostics-toolbar-progress
    width 150px
    height 150px

  .che-list-item-diagnostic
    padding 20px

   .che-list-diagnostic-empty-state
    margin 40px
    min-height 50vh
    max-height 50vh

  .che-list-item-content
    line-height 20px !important

  .diagnostics-toolbar
    margin-left 40px
    margin-right 40px
    margin-bottom 20px
    margin-top 20px

  .diagnostics-action
    margin-left 20px
    margin-right 20px
    border-top 1px solid $list-separator-color
    padding-top 40px

  .diagnostic-part-content
    padding 20px

  .diagnostic-test-numbers
    color $list-action-color

  .diagnostic-item-message
    color $list-action-color

  .diagnostic-part-link-details
    min-width 70px
    font-weight bold
    font-size 1.4em
    color $list-action-color

  .diagnostics-toolbar-main-title
    font-size 2.5em

  .diagnostics-toolbar-main-title-success
    color $secondary-color

  .diagnostics-toolbar-main-title-error
    color $error-color

  .diagnostics-toolbar-main-title-ready
    color $label-primary-color

  .diagnostics-toolbar-main-title-progress
    color $primary-color

  .diagnostics-toolbar-main-title-failure
    color $warning-color


  .diagnostics-toolbar-main-subtitle
    font-size 1.5em
    color $label-primary-color

  .diagnotic-hints-title
    margin-left 10px
    font-size 22px
    font-weight bold

  .diagnostic-button
    min-height 50px
    min-width 220px

  .diagnostic-part
    position relative
    min-height 150px
    max-height 150px
    padding 10px
    cursor pointer
    outline none

  .diagnostic-part:hover
    background-color $list-checkbox-background-color

  .diagnostic-part-selected
    background-color $table-header-color

  .diagnostics-dropdown
    position absolute
    right 15px
    bottom 10px
    font-size 13px
    cursor pointer

  .diagnostic-part-subtitle
    color $list-action-color
    margin-bottom 3px
    margin-left 5px

  .diagnostic-part-percent
    color $list-action-color
    margin-top 3px

  .diagnostic-part-title
    font-size 1.5em
    font-weight bold
    text-transform uppercase
    letter-spacing 1.95px

  .diagnostic-part-icon
    font-size 48px

  .diagnostic-part-progress
    margin-top 20px
    margin-bottom 20px !important

  .diagnostics-output
    white-space pre !important
    line-height 22px
    font-family monospace
    background-color lightgrey
    margin-left 45px
    padding 5px
    overflow-y scroll !important
    max-height 200px

  .check-item-icon
    color $label-info-color
    line-height inherit
    font-size 20px !important
    margin 1px 5px

  .check-item-ok
    color $secondary-color

  .check-item-running
    color $secondary-color

  .check-item-ko
    color $error-color

  .check-item-fail
    color $warning-color

  .hint-item
    color $secondary-light

  .hint-item-icon
    margin-right 5px
    line-height inherit
    font-size 17px
    margin-bottom -7px

  .check-spinner
    margin-left 10px
  .check-spinner .spinner
    margin-top 5px
    width 24px
    height 30px
    font-size 30px
    div
     width 4px
     border-radius 0
     margin-right 2px


  .diagnostic-log-part
    margin 20px

  .diagnostic-log-part-title
    font-size 1.2em
    text-transform uppercase
    font-weight bold
    letter-spacing 1.1px

  .diagnostic-log-callback
    margin-left 20px
    padding 10px
    background lightgrey
    margin-top 16px

  .diagnostic-log-callback-title
    font-weight bold

  .diagnostic-log-callback-content
    font-size 9px
    white-space pre-wrap
    margin-left 20px
    font-family monospace

  .diagnostic-log-title
    font-size 2em
    text-transform uppercase
