md-content .create-factory
  overflow auto
  min-height calc(100vh - 152px)
  background-color $white-color !important
  padding 0 14px
  .che-label-container-label
    min-width 160px
    width 160px

  .che-input-box
    padding 25px
    border-bottom 1px solid $list-separator-color

    div.che-label-container-label, div.che-input-box-desktop-label
      min-width 160px
      width 160px

  button
    margin-left 0
    margin-right 0
    margin-bottom 16px

  .che-label-container-content .create-factory-input
    margin -6px 0

md-progress-linear.create-factory-progress
  z-index 1
  height 10px
  position absolute

.create-factory .factory-configuration-panel p
  font-weight bold
  margin-bottom 20px
  color $red-lipstick-color

.create-factory md-tabs-content-wrapper
  display inline

che-button-primary#create-factory-next-button button
  margin 10px 0 100px
  font-size 1.2em
  width 100% !important

.create-factory-share-header-widget
  border-top 1px solid $primary-color
  box-shadow-simple()
  padding-left 24px
  padding-right 24px
  padding-bottom 0
  min-height 80px !important
  max-height 80px !important
  background-color $background-color
  z-index 4

.create-factory-share-header-widget-badge
  margin-left 20px
  margin-right 20px

.create-factory-share-header-widget-markdown
  text-align center
  height 18px
  font-size 0.9em
  margin-right 15px
  padding-left 10px
  padding-right 10px
  border 1px solid $label-info-color
  border-radius 2px

.create-factory-share-header-widget-clipboard
  font-size 1.3em

.create-factory-share-header-widget-icon
  font-size 3em
  color $default-dark-color
  margin-right 20px

md-card.create-factory-factory-information-card
  margin 24px
  background-color $white-color
  font-size 1.1em
  font-family sans-serif

md-tabs.factory-select-source-details
  margin -15px 0

md-tabs.factory-select-source-details:not(.md-no-tab-content):not(.md-dynamic-height)
  min-height 448px

md-tabs.factory-select-source-details md-tab-content > div:first-child
  height 100% !important


.create-factory-share-header-small-button
  margin-right 15px
  padding 0 15px
  font-size 9pt
  cursor pointer
  height 18px
  background-color $primary-color
  color $white-color
  border-radius 2px

.create-factory-share-header-small-button:hover
  color $white-color
  text-decoration none
