<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2012-2015 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<configuration>
    <jmxConfigurator/>

    <timestamp key="date" datePattern="yyyy-MM-dd"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-41(%date[%.15thread]) %-45([%-5level] [%.30logger{30} %L]) - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>currentTenant</Key>
            <DefaultValue>default</DefaultValue>
        </discriminator>
        <sift>
            <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>${org.exoplatform.logreader.logpath}/ide-log-%d{yyyy/MM/dd/HH}.log</fileNamePattern>
                    <Append>true</Append>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 20kb -->
                        <maxFileSize>20KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <encoder>
                    <pattern>%-41(%date[%.15thread]) %-45([%-5level] [%.30logger{30} %L]) [%X{user}][%X{currentTenant}][%X{sessionId}] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>


    <logger name="org.apache.catalina.loader" level="OFF"/>
    <logger name="org.apache.catalina.session.PersistentManagerBase" level="OFF"/>
    <logger name="org.exoplatform.services.security.web.SetCurrentIdentityFilter" level="OFF"/>
    <logger name="org.exoplatform.ide.codeassistant.jvm.CodeAssistantStorageClient" level="OFF"/>
    <logger name="org.apache.coyote.http11.Http11Protocol" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="SIFT"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
