.workspace-machine-item
  position relative
  background-color $che-white-color
  border 1px solid $very-light-grey-color
  border-top none
  *
    outline none

  md-item.che-list-item
    display block
    border none

  md-item-content
    display block
    border none

    md-checkbox[disabled] div.md-icon
      border none

    md-switch
      overflow visible !important

    .che-list-item-row
      line-height 47px
      height 47px

      .che-list-item-checkbox
        min-width 50px
        height inherit

        md-checkbox
          top 0
          margin 0
          div.md-container
            left calc(50% - 10px)

  .machine-actions
    margin-right 12px
    & > *
      text-align center
      min-width 35px
      cursor pointer
      font-size 18px

      .fa
        position relative
        top 2px

  .workspace-machine-item-icon
    text-align center
    font-size 40px
    min-width 90px

  .workspace-machine-item-icon, .machine-actions
    filter grayscale(100%) opacity(50%)

.workspace-machine-actions-popover
  margin-top -3px !important
  z-index 1

  .popover-content
    float left
    text-align left
    a
      display block
      color inherit
