che-link-style()
  font-size 1em
  text-decoration underline
  width auto
  height auto
  padding-left 20px
  padding-right 20px
  margin-bottom 10px
  text-transform none
  color $che-medium-blue-color

che-link a[che-link].che-link.md-button.md-primary
  che-link-style()

che-link a[che-link].che-link.md-button.md-primary:first-child
  che-link-style()

che-link a[che-link].che-link.md-button.md-primary.che-link-no-padding
  padding 0
  margin 0

a.che-link
  cursor pointer
