.organization-member-dialog-content
  width 630px

  button
    margin 0 0 0 20px

  input.ng-invalid.ng-pristine:focus
    border-color $primary-color

  .che-label-container div.che-label-container-label
    width 150px
    min-width 150px

  .member-role-title
    margin-bottom 10px

  .member-role-description
    color $disabled-color
    font-size 10px
    padding 0 5px
    line-height 18pt

  .member-role-warning-label
    color $warning-color
    height 20px

  .member-role-button
    margin-right 10px
    width 150px

  .member-role-button button
    width 150px

