.add-variable-dialog-content
  padding 0 14px

  .add-variable-dialog-input
    margin -6px 0

  .add-variable-dialog-textarea
    margin -8px 0

  button
    margin 0 30px 0 0

  input, textarea
    width 300px
