.organization-details-content
  padding 0 14px

.organization-ram-cap .che-input-box-desktop-value-column:after
  color $label-secondary-color
  content "GB"
  position absolute
  right 7px
  top 0
  line-height 40px

.organization-details-delete-label label
  color $che-delete-label-color !important

.che-label-container-content button
  margin-left 0
  margin-top 0

.save-button-placeholder
  width 89px

.organization-progress-line
  top 0
  left 0
  right 0
  height 5px
  position absolute
  z-index 2147483647
