.import-github-project span
  margin-left 5px

.import-github-project
  cursor pointer
  font-size 13px

  *
    outline none

.create-project-github-panel
  margin 15px

.import-github-project .icons
  margin-right 20px

.import-github-project-select
  display block
  height 36px
  width 100%
  margin 6px 0
  color $list-action-color
  background-color $che-white-color
  border 1px solid $very-light-grey-color
  che-border-radius(2px)
  che-box-shadow()

  option
    color $label-primary-color

.import-github-project-repositories-list
  max-height 241px
  overflow auto
  margin 0

.import-github-project-search-input
  border none
  outline none

.import-github-project-button
  margin-top 10px
  button
    margin-left 0

.import-github-project-prompt
  color $label-primary-color

.import-github-project-auth-error
  margin-bottom 15px

.import-github-project-warningempty
  margin-bottom 10px
  color $label-info-color

.import-github-project-hidden-input
  display none

.import-github-project-filters
  margin-bottom 30px
