.search-component
  display inline-flex
  border-bottom $white-color 1px solid
  width 100%

.search-input
  background-color inherit
  color $white-color
  box-shadow none
  border none
  padding 0
  height 24px
  line-height 24px
  width 100%
  outline none

.search-input::-webkit-input-placeholder
  color $white-color
  font-size 14pt
  opacity  0.7

.search-input:-moz-placeholder
/* Mozilla Firefox 4 to 18 */
  color $white-color
  font-size 14pt
  opacity  0.7

.search-input::-moz-placeholder
/* Mozilla Firefox 19+ */
  color $white-color
  font-size 14pt
  opacity  0.7

.search-component md-icon
  height 18px
  width 18px

.search-icon
  float right

