<div class="search-input-component">
  <div flex="auto"
       layout="row" layout-align="center center">
    <div class="search-icon"
         ng-show="!ngModel"
         layout="row" layout-align="center center">
      <i class="fa fa-search"></i>
    </div>
    <div flex class="search-input">
      <input type="text"
             maxlength="128"
             placeholder="{{placeholder}}"
             ng-model="ngModel"
             ng-change="onChange({'search': ngModel})">
    </div>
    <div class="close-icon"
         layout="row" layout-align="center center"
         ng-show="ngModel"
         ng-click="ngModel=''; onChange({'search': ngModel});">
      <i class="fa fa-close"></i>
    </div>
  </div>
</div>
