.search-input-component
  background-color $white-color
  overflow hidden
  max-width 150px
  min-width 34px
  min-height 36px
  max-height 36px
  margin 6px 0
  padding 2px 0
  border 1px solid $very-light-grey-color
  che-border-radius(2px)
  che-box-shadow()

  *
    outline none

  i:before
    font-size 16px

  .search-icon
    padding-left 5px

    i
      color darken($stroke-color, 17%) !important

  .close-icon i
    color darken($stroke-color, 17%)
    cursor pointer

  .search-input input
    width 100%
    border none
    outline none
    box-shadow none
    height inherit
    font-size 12px
    text-align left
    padding 0 6px 0 6px
    text-overflow ellipsis
    color $default-dark-color
    background-color inherit

  .search-input input::-webkit-input-placeholder
    position relative
    right 8px
    color darken($stroke-color, 17%)
    text-transform capitalize
    text-align right

  .search-input input::-moz-placeholder
    position relative
    right 8px
    color darken($stroke-color, 17%)
    text-transform capitalize
    text-align right

  & > *
    margin 0 5px 0 5px
    line-height inherit

    *
      line-height inherit

