<md-card class="che-selecter"
         ng-click="cheSelecterCtrl.select(name, title, valueModel)"
         ng-class="{'che-selecter-active' : '{{title}}' == cheSelecterCtrl.getSelected()}">
  <md-icon md-font-icon="{{icon}}" flex layout="column" layout-align="start center"></md-icon>
  <div class="body">
    <div class="title">{{title}}</div>
    <div class="selecter" layout="row">
      <select class="che-selecter"
              ng-model="valueModel"
              ng-init="cheSelecterCtrl.initType(title, values)"
              ng-change="cheSelecterCtrl.onChangeType(title)"
              name="typeSelected"
              ng-options="{{options}}">
        <option value="" ng-if="false"></option>
      </select>
    </div>
  </div>
</md-card>
