$description-text-color = #6e6e6e
$description-border-color = $box-border-color
$description-background-color = #EDEDED

.che-description
  padding 5px 52px
  color $description-text-color
  background-color $description-background-color
  border-top 1px solid $description-border-color
  border-bottom 1px solid $description-border-color
  font-size 9pt

  .che-link
    color $link-color
    margin-left 10px



