
RewriteRule ^/factory/resources/(.*)$     /_app/$1    [L]
RewriteRule ^/factory$     /dashboard/#/load-factory/    [R,NE,QSA]
RewriteRule ^/factory/$    /dashboard/#/load-factory/    [R,NE,QSA]
RewriteRule ^/f/$     /dashboard/#/load-factory/    [R,NE,QSA]
RewriteRule ^/f$     /dashboard/#/load-factory/   [R,NE,QSA]

