RewriteRule ^/factory$                /dashboard/#/load-factory/    [R,NE,QSA]
RewriteRule ^/factory/$               /dashboard/#/load-factory/    [R,NE,QSA]
RewriteRule ^/f/$                     /dashboard/#/load-factory/    [R,NE,QSA]
RewriteRule ^/f$                      /dashboard/#/load-factory/    [R,NE,QSA]
RewriteRule ^/(?!_app/)(\w+)/(\w+)$   /dashboard/#/ide/$1/$2        [R,NE,QSA]
RewriteRule ^/(?!_app/)(\w+)/(\w+)/$  /dashboard/#/ide/$1/$2        [R,NE,QSA]
