.workspace-edit-mode-toolbar
  &>div
    position relative

    .workspace-edit-mode-toolbar-support
      width 0

    .workspace-edit-mode-toolbar-message-container
      position absolute
      right 0
      top 0

  .workspace-edit-mode-toolbar-message
    font-size 12px
    white-space nowrap
    color darken($dark-menacing-sky-color, 27%)
    margin-right 20px

  .che-button
    line-height 13px

    span
      font-size 13px !important
      line-height 13px

