<div class="workspace-edit-mode-toolbar"
     layout="row" layout-align="end center">
  <div hide-xs hide-sm ng-if="showMessage">
    <div class="workspace-edit-mode-toolbar-support">&nbsp;</div>
    <div class="workspace-edit-mode-toolbar-message-container">
        <span class="workspace-edit-mode-toolbar-message">{{message}}</span>
    </div>
  </div>
  <che-button-save-flat che-button-title="Save" name="saveButton"
                        ng-disabled="disableSaveButton"
                        ng-click="onSave()"></che-button-save-flat>
</div>

