<div layout="column" class="config-import">
  <ng-form name="workspaceConfigImportForm">
    <div class="config-editor">
      <ui-codemirror ui-codemirror="workspaceConfigImportController.editorOptions"
                     ng-model="workspaceConfigImportController.importWorkspaceJson"
                     ng-change="workspaceConfigImportController.onChange()"
                     ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
      ></ui-codemirror>
    </div>
    <div layout="row">
      <div flex>
        <che-input che-form="workspaceConfigImportForm"
                   che-name="configValidation"
                   type="hidden"
                   ng-model="workspaceConfigImportController.validationError"
                   custom-validator="workspaceConfigImportController.configValid()">
          <div ng-message="customValidator">{{workspaceConfigImportController.validationError}}</div>
        </che-input>
      </div>
      <div>
        <che-button-default che-button-title="Apply"
                            ng-disabled="workspaceConfigImportForm.$invalid || !workspaceConfigImportController.configChanged()"
                            ng-click="workspaceConfigImportController.applyChanges()"></che-button-default>
      </div>
    </div>
  </ng-form>
</div>

