.config-import
  margin-left 10px

  .config-editor
    min-width 500px
    max-width 1000px
    margin-top 20px
    margin-right 8px

  .config-editor .CodeMirror
    border 1px solid $list-separator-color
    height 300px
    min-height 300px
    font-size 12px

  .config-docs-link
    margin-top 5px

