<div layout="column" class="config-import">
  <div class="config-editor">
    <che-editor editor-content="workspaceConfigImportController.importWorkspaceJson"
                editor-state="editorState"
                validator="workspaceConfigImportController.workspaceConfigValidation()"
                on-content-change="workspaceConfigImportController.onChange()"
                editor-mode="application/json"
                required>
      <div ng-message="required">A reference is required.</div>
    </che-editor>
  </div>
  <div layout="column">
    <!-- Other errors -->
    <div ng-if="workspaceConfigImportController.configValidationMessages.length===0">
      <!-- Settings tab errors -->
      <div
        ng-if="workspaceConfigImportController.otherValidationMessages[workspaceConfigImportController.errorsScopeSettings].length>0">
        <div>Settings tab contains error(s):</div>
        <div class="error-message"
             ng-repeat="settingsValidationMessage in workspaceConfigImportController.otherValidationMessages[workspaceConfigImportController.errorsScopeSettings]">
          {{settingsValidationMessage}}
        </div>
      </div>
      <!-- Runtime tab errors -->
      <div
        ng-if="workspaceConfigImportController.otherValidationMessages[workspaceConfigImportController.errorsScopeEnvironment].length>0">
        <div>Runtime tab contains error(s):</div>
        <div class="error-message"
             ng-repeat="envValidationMessage in workspaceConfigImportController.otherValidationMessages[workspaceConfigImportController.errorsScopeEnvironment]">
          {{envValidationMessage}}
        </div>
      </div>
    </div>
  </div>
</div>

