<che-popup title="Edit action" on-close="factoryActionDialogEditCtrl.abort()">
  <form name="editActionForm" flex>
    <div ng-if="factoryActionDialogEditCtrl.isName">
      <che-input focusable
                 che-name="Editing"
                 che-form="editActionForm"
                 che-label-name="Param"
                 required
                 ng-model="factoryActionDialogEditCtrl.selectedValue.name">
        <div ng-message="required">Param is required</div>
      </che-input>
    </div>
    <div ng-if="factoryActionDialogEditCtrl.isFile">
      <che-input focusable
                 che-name="Editing"
                 che-form="editActionForm"
                 che-label-name="Param"
                 required
                 ng-model="factoryActionDialogEditCtrl.selectedValue.file">
        <div ng-message="required">Param is required</div>
      </che-input>
    </div>
    <che-button-notice che-button-title="Close"
                       ng-click="factoryActionDialogEditCtrl.abort()">
    </che-button-notice>
    <che-button-primary
      che-button-title="Save" ng-disabled="editActionForm.$invalid"
      ng-click="factoryActionDialogEditCtrl.edit()"></che-button-primary>
  </form>
</che-popup>

